In [87]:
import sys
print(sys.executable)

/Users/Livi/opt/anaconda3/envs/springboard/bin/python

Data Wrangling
Data Collection
Locating the data
Data loading
Data joining
Data Organization
File structure
Git & Github
Data Definition
Column names
Data types (numeric, categorical, timestamp, etc.)
Description of the columns
Count or percent per unique values or codes (including NA)
The range of values or codes
Data Cleaning
NA or missing data
Duplicates

Data Acquisition (manual intervention?)

Data quality (zipcodes in right form, can sales/units be 0 or neg?, differentiate cities w same name, num/cat variables take on expected boundaires

Deal w missing data

Dealing w small or large data

Blending multiple datasets

In [88]:
import os
import pandas as pd
import datetime
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np
%matplotlib inline

In [89]:
pd.__version__

'1.1.5'

In [90]:
os.getcwd()

'/Users/Livi/Projects/capstone2/notebooks'

In [91]:
med = pd.read_csv("../data/raw/Medicare_Physician_and_Other_Supplier_National_Provider_Identifier__NPI__Aggregate_Report__Calendar_Year_2012.csv")

/Users/Livi/opt/anaconda3/envs/springboard/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3063: DtypeWarning: Columns (10) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [92]:
med.shape

(925328, 67)

In [93]:
med.head()

,NPI,NPPES Provider Last Name / Organization Name,NPPES Provider First Name,NPPES Provider Middle Initial,NPPES Credentials,NPPES Provider Gender,NPPES Entity Code,NPPES Provider Street Address 1,NPPES Provider Street Address 2,NPPES Provider City,...,Percent (%) of Beneficiaries Identified With Diabetes,Percent (%) of Beneficiaries Identified With Heart Failure,Percent (%) of Beneficiaries Identified With Hyperlipidemia,Percent (%) of Beneficiaries Identified With Hypertension,Percent (%) of Beneficiaries Identified With Ischemic Heart Disease,Percent (%) of Beneficiaries Identified With Osteoporosis,Percent (%) of Beneficiaries Identified With Rheumatoid Arthritis / Osteoarthritis,Percent (%) of Beneficiaries Identified With Schizophrenia / Other Psychotic Disorders,Percent (%) of Beneficiaries Identified With Stroke,Average HCC Risk Score of Beneficiaries
0,1003000126,ENKESHAFI,ARDALAN,NaN,M.D.,M,I,900 SETON DR,NaN,CUMBERLAND,...,51.0,53.0,65.0,75.0,66.0,14.0,47.0,14.0,19.0,2.2264
1,1003000134,CIBULL,THOMAS,L,M.D.,M,I,2650 RIDGE AVE,EVANSTON HOSPITAL,EVANSTON,...,21.0,13.0,55.0,59.0,31.0,8.0,36.0,2.0,4.0,1.0703
2,1003000142,KHALIL,RASHID,NaN,M.D.,M,I,4126 N HOLLAND SYLVANIA RD,SUITE 220,TOLEDO,...,50.0,31.0,63.0,75.0,47.0,13.0,75.0,NaN,NaN,1.8967
3,1003000381,BRAGANZA,LUTHER,Q,PT,M,I,134 N OLD DIXIE HWY,NaN,LADY LAKE,...,35.0,NaN,75.0,75.0,52.0,NaN,58.0,0.0,NaN,1.2687
4,1003000407,GIRARDI,DAVID,J,D.O.,M,I,456 MAGEE AVE,NaN,PATTON,...,39.0,51.0,65.0,75.0,65.0,20.0,41.0,21.0,12.0,1.8170

CHECKPOINT, SAVING ORIGINAL DF

In [94]:
original_df = med.copy()

In [95]:
pd.options.display.max_rows = 100
pd.options.display.max_colwidth = 100

I ONLY WANT TO LOOK AT MENTAL HEALTH PROVIDERS SO I WILL FILTER THE DF FOR THOSE PROVIDER AND THEN EXAMINE THE NULL VALUES

In [96]:
med.columns

Index(['NPI', 'NPPES Provider Last Name / Organization Name',
       'NPPES Provider First Name', 'NPPES Provider Middle Initial',
       'NPPES Credentials', 'NPPES Provider Gender', 'NPPES Entity Code',
       'NPPES Provider Street Address 1', 'NPPES Provider Street Address 2',
       'NPPES Provider City', 'NPPES Provider Zip Code',
       'NPPES Provider State', 'NPPES Provider Country', 'Provider Type',
       'Medicare Participation Indicator', 'Number of HCPCS',
       'Number of Services', 'Number of Unique Beneficiaries',
       'Total Submitted Charges', 'Total Medicare Allowed Amount',
       'Total Medicare Payment Amount', 'Drug Suppress Indicator',
       'Number of HCPCS Associated With Drug Services',
       'Number of Drug Services',
       'Number of Unique Beneficiaries With Drug Services',
       'Total Drug Submitted Charges', 'Total Drug Medicare Allowed Amount',
       'Total Drug Medicare Payment Amount', 'Medical Suppress Indicator',
       'Number of HCPCS Associated With Medical Services',
       'Number of Medical Services',
       'Number of Unique Beneficiaries With Medical Services',
       'Total Medical Submitted Charges',
       'Total Medical Medicare Allowed Amount',
       'Total Medical Medicare Payment Amount', 'Average Age of Beneficiaries',
       'Number of Beneficiaries Age Less than 65',
       'Number of Beneficiaries Age 65 to 74',
       'Number of Beneficiaries Age 75 to 84',
       'Number of Beneficiaries Age Greater 84',
       'Number of Female Beneficiaries', 'Number of Male Beneficiaries',
       'Number of Non-Hispanic White Beneficiaries',
       'Number of Black or African American Beneficiaries',
       'Number of Asian Pacific Islander Beneficiaries',
       'Number of Hispanic Beneficiaries',
       'Number of American Indian/Alaska Native Beneficiaries',
       'Number of Beneficiaries With Race Not Elsewhere Classified',
       'Number of Beneficiaries With Medicare Only Entitlement',
       'Number of Beneficiaries With Medicare & Medicaid Entitlement',
       'Percent (%) of Beneficiaries Identified With Alzheimer’s Disease or Dementia',
       'Percent (%) of Beneficiaries Identified With Asthma',
       'Percent (%) of Beneficiaries Identified With Atrial Fibrillation',
       'Percent (%) of Beneficiaries Identified With Cancer',
       'Percent (%) of Beneficiaries Identified With Chronic Kidney Disease',
       'Percent (%) of Beneficiaries Identified With Chronic Obstructive Pulmonary Disease',
       'Percent (%) of Beneficiaries Identified With Depression',
       'Percent (%) of Beneficiaries Identified With Diabetes',
       'Percent (%) of Beneficiaries Identified With Heart Failure',
       'Percent (%) of Beneficiaries Identified With Hyperlipidemia',
       'Percent (%) of Beneficiaries Identified With Hypertension',
       'Percent (%) of Beneficiaries Identified With Ischemic Heart Disease',
       'Percent (%) of Beneficiaries Identified With Osteoporosis',
       'Percent (%) of Beneficiaries Identified With Rheumatoid Arthritis / Osteoarthritis',
       'Percent (%) of Beneficiaries Identified With Schizophrenia / Other Psychotic Disorders',
       'Percent (%) of Beneficiaries Identified With Stroke',
       'Average HCC Risk Score of Beneficiaries'],
      dtype='object')

In [97]:
med['NPPES Provider Zip Code'].isnull().sum()

0

In [98]:
med['NPPES Provider Zip Code'].astype('str').apply(lambda x: x[:5]).head()

0    21502
1    60201
2    43623
3    32159
4    16668
Name: NPPES Provider Zip Code, dtype: object

In [99]:
med['five_dig_zip']= med['NPPES Provider Zip Code'].astype('str').apply(lambda x: x[:5])

In [100]:
med = med[med['NPPES Provider Country']=='US']

In [101]:
med['five_dig_zip'] = med['five_dig_zip'].apply(lambda x: x.zfill(5))

In [102]:
med['Number of Black or African American Beneficiaries'].notnull().sum()

305035

In [109]:
med = med[med['Number of Black or African American Beneficiaries'].notnull()]

In [112]:
## I want to see if any zip codes are 00000
med['five_dig_zip'].value_counts().reset_index().sort_values('index')

       index  five_dig_zip
7190   00601             6
6566   00602             7
4679   00603            12
6906   00605             6
5647   00610             9
...      ...           ...
17288  99830             1
4589   99835            12
5226   99901            10
14107  99921             1
13446  99925             1

[17997 rows x 2 columns]

In [107]:
med[med['five_dig_zip']=='00000'].iloc[:, :15]

,NPI,NPPES Provider Last Name / Organization Name,NPPES Provider First Name,NPPES Provider Middle Initial,NPPES Credentials,NPPES Provider Gender,NPPES Entity Code,NPPES Provider Street Address 1,NPPES Provider Street Address 2,NPPES Provider City,NPPES Provider Zip Code,NPPES Provider State,NPPES Provider Country,Provider Type,Medicare Participation Indicator
103581,1114060506,PELLEGRINO,MICHAEL,A,D.O.,M,I,CHARLTON MEMORIAL HOSP,NaN,FALL RIVER,0,MA,US,Osteopathic Manipulative Medicine,Y

In [108]:
#I googled his NPI number to find his zip.
med.loc[103581, "five_dig_zip"] = "02720"

# Aggregate whole DF by zip code

In [113]:
grouping = med.groupby('five_dig_zip')

In [114]:
grouping['Number of Unique Beneficiaries'].sum()

five_dig_zip
00601     400
00602     206
00603     348
00605     175
00610     299
         ...
99830      83
99835     966
99901    2696
99921      11
99925      39
Name: Number of Unique Beneficiaries, Length: 17997, dtype: int64

In [115]:
len(grouping)

17997

# Left to do:

go back to med DF: 

see race counts, fill in "race not identified" for whatever doesn't add up

see age counts, same

see gender counts, decide whether to fill these in or not