# Importing Modules and Checking Directory

In [1]:
import os
import pandas as pd
import datetime
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np
%matplotlib inline

In [2]:
pd.__version__

'1.1.5'

In [3]:
os.getcwd()

'/Users/Livi/Projects/Black_mental_health/notebooks/Data_wrangling'

# Uploading Data

In [4]:
med = pd.read_csv("../../data/raw/Medicare_Physician_and_Other_Supplier_National_Provider_Identifier__NPI__Aggregate_Report__Calendar_Year_2017.csv")

/Users/Livi/opt/anaconda3/envs/springboard/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3063: DtypeWarning: Columns (10) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [5]:
med.shape

(1088687, 71)

In [6]:
med.head()

,National Provider Identifier,Last Name/Organization Name of the Provider,First Name of the Provider,Middle Initial of the Provider,Credentials of the Provider,Gender of the Provider,Entity Type of the Provider,Street Address 1 of the Provider,Street Address 2 of the Provider,City of the Provider,...,Percent (%) of Beneficiaries Identified With Depression,Percent (%) of Beneficiaries Identified With Diabetes,Percent (%) of Beneficiaries Identified With Hyperlipidemia,Percent (%) of Beneficiaries Identified With Hypertension,Percent (%) of Beneficiaries Identified With Ischemic Heart Disease,Percent (%) of Beneficiaries Identified With Osteoporosis,Percent (%) of Beneficiaries Identified With Rheumatoid Arthritis / Osteoarthritis,Percent (%) of Beneficiaries Identified With Schizophrenia / Other Psychotic Disorders,Percent (%) of Beneficiaries Identified With Stroke,Average HCC Risk Score of Beneficiaries
0,1003000126,ENKESHAFI,ARDALAN,NaN,M.D.,M,I,900 SETON DR,NaN,CUMBERLAND,...,46.0,51.0,67.0,75.0,56.0,9.0,49.0,8.0,13.0,2.1178
1,1003000134,CIBULL,THOMAS,L,M.D.,M,I,2650 RIDGE AVE,EVANSTON HOSPITAL,EVANSTON,...,12.0,20.0,34.0,55.0,27.0,9.0,36.0,1.0,3.0,1.1024
2,1003000142,KHALIL,RASHID,NaN,M.D.,M,I,4126 N HOLLAND SYLVANIA RD,SUITE 220,TOLEDO,...,45.0,41.0,50.0,74.0,39.0,10.0,75.0,4.0,5.0,1.6807
3,1003000407,GIRARDI,DAVID,J,D.O.,M,I,100 HOSPITAL RD,NaN,BROOKVILLE,...,50.0,44.0,66.0,75.0,64.0,20.0,48.0,13.0,11.0,2.1173
4,1003000423,VELOTTA,JENNIFER,A,M.D.,F,I,11100 EUCLID AVE,NaN,CLEVELAND,...,21.0,20.0,35.0,48.0,23.0,15.0,42.0,0.0,NaN,1.0032

CHECKPOINT, SAVING ORIGINAL DF

In [7]:
original_df = med.copy()

In [8]:
pd.options.display.max_rows = 100
pd.options.display.max_colwidth = 100

I ONLY WANT TO LOOK AT MENTAL HEALTH PROVIDERS SO I WILL FILTER THE DF FOR THOSE PROVIDER AND THEN EXAMINE THE NULL VALUES

In [9]:
med.columns

Index(['National Provider Identifier',
       'Last Name/Organization Name of the Provider',
       'First Name of the Provider', 'Middle Initial of the Provider',
       'Credentials of the Provider', 'Gender of the Provider',
       'Entity Type of the Provider', 'Street Address 1 of the Provider',
       'Street Address 2 of the Provider', 'City of the Provider',
       'Zip Code of the Provider', 'Provider RUCA',
       'State Code of the Provider', 'Country Code of the Provider',
       'Provider Type of the Provider', 'Medicare Participation Indicator',
       'Number of HCPCS', 'Number of Services',
       'Number of Medicare Beneficiaries', 'Total Submitted Charge Amount',
       'Total Medicare Allowed Amount', 'Total Medicare Payment Amount',
       'Total Medicare Standardized Payment Amount', 'Drug Suppress Indicator',
       'Number of HCPCS Associated With Drug Services',
       'Number of Drug Services',
       'Number of Medicare Beneficiaries With Drug Services',
       'Total Drug Submitted Charge Amount',
       'Total Drug Medicare Allowed Amount',
       'Total Drug Medicare Payment Amount',
       'Total Drug Medicare Standardized Payment Amount',
       'Medical Suppress Indicator',
       'Number of HCPCS Associated With Medical Services',
       'Number of Medical Services',
       'Number of Medicare Beneficiaries With Medical Services',
       'Total Medical Submitted Charge Amount',
       'Total Medical Medicare Allowed Amount',
       'Total Medical Medicare Payment Amount',
       'Total Medical Medicare Standardized Payment Amount',
       'Average Age of Beneficiaries', 'Number of Beneficiaries Age Less 65',
       'Number of Beneficiaries Age 65 to 74',
       'Number of Beneficiaries Age 75 to 84',
       'Number of Beneficiaries Age Greater 84',
       'Number of Female Beneficiaries', 'Number of Male Beneficiaries\t',
       'Number of Non-Hispanic White Beneficiaries\t',
       'Number of Black or African American Beneficiaries',
       'Number of Asian Pacific Islander Beneficiaries',
       'Number of Hispanic Beneficiaries',
       'Number of American Indian/Alaska Native Beneficiaries',
       'Number of Beneficiaries With Race Not Elsewhere Classified',
       'Number of Beneficiaries With Medicare Only Entitlement',
       'Number of Beneficiaries With Medicare & Medicaid Entitlement',
       'Percent (%) of Beneficiaries Identified With Atrial Fibrillation',
       'Percent (%) of Beneficiaries Identified With Alzheimer’s Disease or Dementia',
       'Percent (%) of Beneficiaries Identified With Asthma',
       'Percent (%) of Beneficiaries Identified With Cancer',
       'Percent (%) of Beneficiaries Identified With Heart Failure',
       'Percent (%) of Beneficiaries Identified With Chronic Kidney Disease',
       'Percent (%) of Beneficiaries Identified With Chronic Obstructive Pulmonary Disease',
       'Percent (%) of Beneficiaries Identified With Depression',
       'Percent (%) of Beneficiaries Identified With Diabetes',
       'Percent (%) of Beneficiaries Identified With Hyperlipidemia',
       'Percent (%) of Beneficiaries Identified With Hypertension',
       'Percent (%) of Beneficiaries Identified With Ischemic Heart Disease',
       'Percent (%) of Beneficiaries Identified With Osteoporosis',
       'Percent (%) of Beneficiaries Identified With Rheumatoid Arthritis / Osteoarthritis',
       'Percent (%) of Beneficiaries Identified With Schizophrenia / Other Psychotic Disorders',
       'Percent (%) of Beneficiaries Identified With Stroke',
       'Average HCC Risk Score of Beneficiaries'],
      dtype='object')

In [10]:
list(med['Provider Type of the Provider'].unique())

['Internal Medicine',
 'Pathology',
 'Anesthesiology',
 'Family Practice',
 'Obstetrics & Gynecology',
 'General Surgery',
 'Urology',
 'Cardiac Surgery',
 'Physician Assistant',
 'Licensed Clinical Social Worker',
 'Physical Therapist in Private Practice',
 'Dermatology',
 'Certified Registered Nurse Anesthetist (CRNA)',
 'Optometry',
 'Mass Immunizer Roster Biller',
 'Physical Medicine and Rehabilitation',
 'Radiation Oncology',
 'Infectious Disease',
 'Orthopedic Surgery',
 'Certified Clinical Nurse Specialist',
 'Endocrinology',
 'Chiropractic',
 'Psychiatry',
 'Diagnostic Radiology',
 'Centralized Flu',
 'Rheumatology',
 'General Practice',
 'Neurology',
 'Emergency Medicine',
 'Nephrology',
 'Ophthalmology',
 'Nurse Practitioner',
 'Pulmonary Disease',
 'Otolaryngology',
 'Plastic and Reconstructive Surgery',
 'Psychologist, Clinical',
 'Cardiology',
 'Ambulance Service Provider',
 'Interventional Cardiology',
 'Gastroenterology',
 'Hospitalist',
 'Audiologist',
 'Geriatric Medicine',
 'Neurosurgery',
 'Interventional Radiology',
 'Critical Care (Intensivists)',
 'Podiatry',
 'Hematology-Oncology',
 'All Other Suppliers',
 'Ambulatory Surgical Center',
 'Medical Oncology',
 'Nuclear Medicine',
 'Thoracic Surgery',
 'Allergy/ Immunology',
 'Certified Nurse Midwife',
 'Pain Management',
 'Pediatric Medicine',
 'Sports Medicine',
 'Occupational Therapist in Private Practice',
 'Hand Surgery',
 'Speech Language Pathologist',
 'Hospice and Palliative Care',
 'Independent Diagnostic Testing Facility (IDTF)',
 'Clinical Laboratory',
 'Advanced Heart Failure and Transplant Cardiology',
 'Osteopathic Manipulative Medicine',
 'Registered Dietitian or Nutrition Professional',
 'Vascular Surgery',
 'Anesthesiology Assistant',
 'Clinical Cardiac Electrophysiology',
 'Oral Surgery (Dentist only)',
 'Undefined Physician type',
 'Hematology',
 'Maxillofacial Surgery',
 'Portable X-Ray Supplier',
 'Colorectal Surgery (Proctology)',
 'Mammography Center',
 'Surgical Oncology',
 'Interventional Pain Management',
 'Preventive Medicine',
 'Public Health or Welfare Agency',
 'Sleep Medicine',
 'Addiction Medicine',
 'Neuropsychiatry',
 'Peripheral Vascular Disease',
 'Gynecological Oncology',
 'Geriatric Psychiatry',
 'Clinic or Group Practice',
 'Radiation Therapy Center',
 'Slide Preparation Facility',
 'Pharmacy',
 'Dentist',
 'Medical Toxicology',
 'Unknown Supplier/Provider Specialty',
 'Hematopoietic Cell Transplantation and Cellular Therapy']

In [11]:
maybe_mental_providers = ['Clinic or Group Practice','Preventive Medicine',
                           'All Other Suppliers','Addiction Medicine',
                          'Occupational Therapist in Private Practice',
                         'Multispecialty Clinic/Group Practice',
                           'Public Health Welfare Agency', 'Preventive Medicine']

In [12]:
def_mental_providers = ['Licensed Clinical Social Worker','Psychologist, Clinical',
                        'Geriatric Psychiatry','Neuropsychiatry',
                       'Psychiatry','Clinical Psychologist','Psychologist (billing independently)',
                       ]

# Filtering Out Non-Mental Health Providers

In [13]:
mental_med = pd.DataFrame(data = {}, columns = med.columns)

In [14]:
mental_med = pd.DataFrame(data = {}, columns = med.columns)
for i in def_mental_providers:
    mental_med = pd.concat([mental_med, med[med["Provider Type of the Provider"]==i]])

In [15]:
mental_med.duplicated().sum()

0

In [16]:
len(mental_med)

58647

##### Checkpoint 1

In [17]:
checkpoint1_df = mental_med.copy()

# Checking Missing Data

In [18]:
info = pd.DataFrame(index=mental_med.columns.values,
                    data={'data type': mental_med.dtypes, \
                          'non-null values': mental_med.notnull().sum(),
                          'unique values': mental_med.nunique(), \
                          'null values': mental_med.isnull().sum()})
info.sort_values('non-null values')

,data type,non-null values,unique values,null values
Medical Suppress Indicator,object,627,1,58020
Drug Suppress Indicator,object,627,1,58020
Number of Beneficiaries With Race Not Elsewhere Classified,float64,10083,46,48564
Number of Hispanic Beneficiaries,float64,10950,246,47697
Number of Asian Pacific Islander Beneficiaries,float64,12164,104,46483
Number of Beneficiaries Age 75 to 84,float64,12453,339,46194
Number of Black or African American Beneficiaries,float64,12972,305,45675
Number of American Indian/Alaska Native Beneficiaries,float64,16495,53,42152
Number of Beneficiaries Age Greater 84,float64,18474,359,40173
Percent (%) of Beneficiaries Identified With Asthma,float64,18658,51,39989
Percent (%) of Beneficiaries Identified With Cancer,float64,19135,73,39512
Number of Beneficiaries Age 65 to 74,float64,19197,333,39450
Percent (%) of Beneficiaries Identified With Osteoporosis,float64,19677,57,38970
Street Address 2 of the Provider,object,22378,7696,36269
Percent (%) of Beneficiaries Identified With Heart Failure,float64,22555,74,36092
Number of Non-Hispanic White Beneficiaries\t,float64,23171,778,35476
Percent (%) of Beneficiaries Identified With Chronic Obstructive Pulmonary Disease,float64,23223,73,35424
Percent (%) of Beneficiaries Identified With Atrial Fibrillation,float64,23576,57,35071
Number of Beneficiaries Age Less 65,float64,23927,498,34720
Percent (%) of Beneficiaries Identified With Stroke,float64,25367,75,33280
Percent (%) of Beneficiaries Identified With Ischemic Heart Disease,float64,25979,72,32668
Percent (%) of Beneficiaries Identified With Alzheimer’s Disease or Dementia,float64,26261,73,32386
Percent (%) of Beneficiaries Identified With Chronic Kidney Disease,float64,27277,69,31370
Number of Beneficiaries With Medicare & Medicaid Entitlement,float64,27717,683,30930
Number of Beneficiaries With Medicare Only Entitlement,float64,27717,539,30930
Percent (%) of Beneficiaries Identified With Diabetes,float64,29228,70,29419
Percent (%) of Beneficiaries Identified With Schizophrenia / Other Psychotic Disorders,float64,31090,75,27557
Number of Male Beneficiaries\t,float64,31828,500,26819
Number of Female Beneficiaries,float64,31828,631,26819
Percent (%) of Beneficiaries Identified With Rheumatoid Arthritis / Osteoarthritis,float64,34867,69,23780
Percent (%) of Beneficiaries Identified With Hyperlipidemia,float64,35517,67,23130
Middle Initial of the Provider,object,40441,29,18206
Percent (%) of Beneficiaries Identified With Hypertension,float64,41669,62,16978
Percent (%) of Beneficiaries Identified With Depression,float64,51247,64,7400
Credentials of the Provider,object,55598,2394,3049
Total Medical Medicare Standardized Payment Amount,float64,58020,57613,627
Total Medical Medicare Payment Amount,float64,58020,57627,627
Total Medical Submitted Charge Amount,float64,58020,43554,627
Number of Medicare Beneficiaries With Medical Services,float64,58020,924,627
Number of Medical Services,float64,58020,3487,627
Number of HCPCS Associated With Medical Services,float64,58020,56,627
Total Drug Medicare Standardized Payment Amount,float64,58020,135,627
Total Drug Medicare Payment Amount,float64,58020,135,627
Total Drug Medicare Allowed Amount,float64,58020,135,627
Total Drug Submitted Charge Amount,float64,58020,135,627
Number of Medicare Beneficiaries With Drug Services,float64,58020,56,627
Number of HCPCS Associated With Drug Services,float64,58020,12,627
Total Medical Medicare Allowed Amount,float64,58020,57720,627
Number of Drug Services,float64,58020,123,627
Provider RUCA,float64,58419,21,228
Zip Code of the Provider,object,58646,37041,1
Last Name/Organization Name of the Provider,object,58646,30547,1
National Provider Identifier,object,58647,58647,0
Total Medicare Standardized Payment Amount,float64,58647,58230,0
First Name of the Provider,object,58647,9520,0
Gender of the Provider,object,58647,2,0
Entity Type of the Provider,object,58647,1,0
Street Address 1 of the Provider,object,58647,35616,0
City of the Provider,object,58647,4774,0
State Code of the Provider,object,58647,56,0
Country Code of the Provider,object,58647,6,0
Provider Type of the Provider,object,58647,5,0
Medicare Participation Indicator,object,58647,2,0
Number of HCPCS,object,58647,60,0
Number of Services,float64,58647,3570,0
Number of Medicare Beneficiaries,object,58647,931,0
Total Submitted Charge Amount,float64,58647,44127,0
Total Medicare Allowed Amount,float64,58647,58342,0
Total Medicare Payment Amount,float64,58647,58248,0
Average Age of Beneficiaries,object,58647,72,0
Average HCC Risk Score of Beneficiaries,float64,58647,18970,0

####  The number of black patients seen is the focus of my study, so I don't want to impute these values especially without a strong reason to support my imputation.

#### Dropping NaN Values for Number of Black Beneficiaries

In [19]:
print(mental_med['Number of Black or African American Beneficiaries'].notnull().sum())
mental_med = mental_med[mental_med['Number of Black or African American Beneficiaries'].notnull()]

12972

## I want to see how many rows have info for all races. And how many rows have info for at least Black beneficiaries.

In [20]:
race_cols = [
    'Number of American Indian/Alaska Native Beneficiaries',
    'Number of Asian Pacific Islander Beneficiaries',
    'Number of Non-Hispanic White Beneficiaries\t',
    'Number of Hispanic Beneficiaries',
    'Number of Beneficiaries With Race Not Elsewhere Classified',
    'Number of Black or African American Beneficiaries',
    'Number of Medicare Beneficiaries'
     ]

All rows with info for Black beneficiaries

In [21]:
mental_med['Number of Black or African American Beneficiaries'].notnull().sum()

12972

All row with info for All Races beneficiaries, useful if I want to compare/contrast

In [22]:
#here '[:-1]' excludes both 'Total Number of Unique Ben' from sums

all_races_idx = mental_med[
                    mental_med[race_cols[:-1]].notnull().all(axis=1)
                            ][race_cols].index

mental_med.loc[all_races_idx].shape[0]

5621

In previous years, some of these 'all races' rows don't actually sum up to the total

In [23]:
mask = mental_med[race_cols[:-1]].sum(axis=1) != \
        mental_med['Number of Medicare Beneficiaries']

len(mental_med.loc[all_races_idx][mask])

/Users/Livi/opt/anaconda3/envs/springboard/lib/python3.7/site-packages/ipykernel_launcher.py:4: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  after removing the cwd from sys.path.

0

### I'm going to save two different dataframes, one that has info for ALL races (with all race columns) and one that has info for Black patients (but other columns dropped)

In [24]:
all_medicare = \
    mental_med.loc[all_races_idx]

idx_black_nonnull = \
    mental_med[
    mental_med['Number of Black or African American Beneficiaries'].notnull()
            ].index

black_medicare = \
    mental_med.loc[idx_black_nonnull].drop(columns = race_cols[:-2])
# adding [:-2] to race_cols lets the DF keep 'Black Beneficiaries' (2nd to last col) and 
# Total 'Unique Beneficiaries' (last col)

Checkpoint 2 Race

In [25]:
checkpoint2a = all_medicare.copy()
checkpoint2b = black_medicare.copy()

## Age

In [26]:
age_cols = [
    'Number of Beneficiaries Age Less 65',
    'Number of Beneficiaries Age 65 to 74',
    'Number of Beneficiaries Age 75 to 84',
    'Number of Beneficiaries Age Greater 84',
    'Number of Medicare Beneficiaries'
]

#### How many rows have age bins that don't add up to total beneficiaries?

In [27]:
(black_medicare[age_cols[:-1]].fillna(0).sum(axis=1) \
 != black_medicare['Number of Medicare Beneficiaries']).sum()

10391

In [28]:
(all_medicare[age_cols[:-1]].fillna(0).sum(axis=1) \
 != all_medicare['Number of Medicare Beneficiaries']).sum()

5444

#### How many rows have age bins that have at least 1 null value?

In [29]:
len(black_medicare)

12972

In [30]:
black_medicare[age_cols[:-1]].isnull().any(axis=1).sum()

10391

In [31]:
black_medicare[age_cols].head(3)

,Number of Beneficiaries Age Less 65,Number of Beneficiaries Age 65 to 74,Number of Beneficiaries Age 75 to 84,Number of Beneficiaries Age Greater 84,Number of Medicare Beneficiaries
30,NaN,NaN,NaN,0.0,11
214,0.0,NaN,NaN,NaN,13
391,NaN,NaN,NaN,NaN,17

#### Because so many rows have at least ONE bin with NaN, it will be hard to be confident about comparing ages of patients. BUT there is an Average Age of Beneficiaries column, let's see have many rows are non-null.

In [32]:
len(black_medicare), black_medicare['Average Age of Beneficiaries'].notnull().sum()

(12972, 12972)

In [33]:
len(all_medicare), all_medicare['Average Age of Beneficiaries'].notnull().sum()

(5621, 5621)

#### Zero null values. This will do, for some perspective on age, even though the bins would be more useful and specific.

In [34]:
black_medicare.drop(columns = age_cols[:-1], inplace=True)
all_medicare.drop(columns = age_cols[:-1], inplace=True)

Checkpoint 3 Age

In [35]:
checkpoint3 = black_medicare.copy()
checkpoint3b = all_medicare.copy()

#### Examining Null Values

In [36]:
info = pd.DataFrame(index=black_medicare.columns.values,
                    data={'data type': black_medicare.dtypes, \
                          'non-null values': black_medicare.notnull().sum(),
                          'unique values': black_medicare.nunique(), \
                          'null values': black_medicare.isnull().sum()})
info.sort_values('non-null values')

,data type,non-null values,unique values,null values
Medical Suppress Indicator,object,227,1,12745
Drug Suppress Indicator,object,227,1,12745
Street Address 2 of the Provider,object,5098,2424,7874
Percent (%) of Beneficiaries Identified With Cancer,float64,5495,49,7477
Percent (%) of Beneficiaries Identified With Osteoporosis,float64,5501,39,7471
Percent (%) of Beneficiaries Identified With Atrial Fibrillation,float64,6352,45,6620
Percent (%) of Beneficiaries Identified With Asthma,float64,6414,43,6558
Percent (%) of Beneficiaries Identified With Ischemic Heart Disease,float64,6484,72,6488
Percent (%) of Beneficiaries Identified With Chronic Obstructive Pulmonary Disease,float64,6650,71,6322
Percent (%) of Beneficiaries Identified With Chronic Kidney Disease,float64,6788,67,6184
Percent (%) of Beneficiaries Identified With Heart Failure,float64,6825,74,6147
Number of Beneficiaries With Medicare & Medicaid Entitlement,float64,6943,661,6029
Number of Beneficiaries With Medicare Only Entitlement,float64,6943,512,6029
Percent (%) of Beneficiaries Identified With Stroke,float64,6967,68,6005
Percent (%) of Beneficiaries Identified With Diabetes,float64,6990,67,5982
Number of Male Beneficiaries\t,float64,6995,494,5977
Number of Female Beneficiaries,float64,6995,614,5977
Percent (%) of Beneficiaries Identified With Rheumatoid Arthritis / Osteoarthritis,float64,7286,69,5686
Percent (%) of Beneficiaries Identified With Alzheimer’s Disease or Dementia,float64,7322,73,5650
Percent (%) of Beneficiaries Identified With Hyperlipidemia,float64,7434,64,5538
Percent (%) of Beneficiaries Identified With Hypertension,float64,8302,56,4670
Percent (%) of Beneficiaries Identified With Schizophrenia / Other Psychotic Disorders,float64,8312,75,4660
Middle Initial of the Provider,object,8797,27,4175
Percent (%) of Beneficiaries Identified With Depression,float64,10243,63,2729
Credentials of the Provider,object,12293,741,679
Total Drug Medicare Allowed Amount,float64,12745,91,227
Total Medical Medicare Standardized Payment Amount,float64,12745,12726,227
Total Medical Medicare Payment Amount,float64,12745,12726,227
Total Medical Medicare Allowed Amount,float64,12745,12739,227
Total Medical Submitted Charge Amount,float64,12745,11473,227
Number of Medicare Beneficiaries With Medical Services,float64,12745,896,227
Number of Medical Services,float64,12745,2662,227
Total Drug Medicare Standardized Payment Amount,float64,12745,91,227
Total Drug Medicare Payment Amount,float64,12745,91,227
Total Drug Submitted Charge Amount,float64,12745,91,227
Number of Medicare Beneficiaries With Drug Services,float64,12745,46,227
Number of Drug Services,float64,12745,85,227
Number of HCPCS Associated With Drug Services,float64,12745,11,227
Number of HCPCS Associated With Medical Services,float64,12745,47,227
Provider RUCA,float64,12835,21,137
Number of Black or African American Beneficiaries,float64,12972,305,0
National Provider Identifier,object,12972,12972,0
Total Medicare Standardized Payment Amount,float64,12972,12952,0
Last Name/Organization Name of the Provider,object,12972,9038,0
First Name of the Provider,object,12972,3741,0
Gender of the Provider,object,12972,2,0
Entity Type of the Provider,object,12972,1,0
Street Address 1 of the Provider,object,12972,10364,0
City of the Provider,object,12972,2829,0
Zip Code of the Provider,object,12972,10686,0
State Code of the Provider,object,12972,54,0
Country Code of the Provider,object,12972,1,0
Provider Type of the Provider,object,12972,5,0
Medicare Participation Indicator,object,12972,2,0
Number of HCPCS,object,12972,51,0
Number of Services,float64,12972,2735,0
Number of Medicare Beneficiaries,object,12972,904,0
Total Submitted Charge Amount,float64,12972,11695,0
Total Medicare Allowed Amount,float64,12972,12966,0
Total Medicare Payment Amount,float64,12972,12953,0
Average Age of Beneficiaries,object,12972,62,0
Average HCC Risk Score of Beneficiaries,float64,12972,9279,0

## GENDER

In [37]:
gender_cols = [
    'Number of Female Beneficiaries', 'Number of Male Beneficiaries\t','Number of Medicare Beneficiaries'
]

Number of Rows with No Null Values for gender

In [38]:
print('No nulls:', black_medicare[gender_cols[:-1]].notnull().all(axis=1).sum())
print('Has nulls:', black_medicare[gender_cols[:-1]].isnull().any(axis=1).sum())

No nulls: 6995
Has nulls: 5977

Rows whose gender values add up correctly to total beneficaries

In [39]:
nonnull_rows = black_medicare[gender_cols[:-1]].notnull().all(axis=1)

mask = black_medicare.loc[nonnull_rows][gender_cols[:-1]].sum(axis=1) == \
                        black_medicare.loc[nonnull_rows,'Number of Medicare Beneficiaries']

print('Do sum:', len(black_medicare.loc[nonnull_rows][mask]))
print("Don't sum", len(black_medicare.loc[nonnull_rows][~mask]))

Do sum: 6995
Don't sum 0

#### Although sex disparity in health access is interesting, I will exclude these columns to keep my focus on the number of Black patients and not have to reduce my data any more.

In [40]:
black_medicare.drop(columns = gender_cols[:-1], inplace=True)
all_medicare.drop(columns = gender_cols[:-1], inplace=True)

Gender Checkpoint 4

In [41]:
checkpoint4 = black_medicare.copy()
checkpoint4b = all_medicare.copy()

In [42]:
info = pd.DataFrame(index=black_medicare.columns.values,
                    data={'data type': black_medicare.dtypes, \
                          'non-null values': black_medicare.notnull().sum(),
                          'unique values': black_medicare.nunique(), \
                          'null values': black_medicare.isnull().sum()})
info.sort_values('non-null values')

,data type,non-null values,unique values,null values
Medical Suppress Indicator,object,227,1,12745
Drug Suppress Indicator,object,227,1,12745
Street Address 2 of the Provider,object,5098,2424,7874
Percent (%) of Beneficiaries Identified With Cancer,float64,5495,49,7477
Percent (%) of Beneficiaries Identified With Osteoporosis,float64,5501,39,7471
Percent (%) of Beneficiaries Identified With Atrial Fibrillation,float64,6352,45,6620
Percent (%) of Beneficiaries Identified With Asthma,float64,6414,43,6558
Percent (%) of Beneficiaries Identified With Ischemic Heart Disease,float64,6484,72,6488
Percent (%) of Beneficiaries Identified With Chronic Obstructive Pulmonary Disease,float64,6650,71,6322
Percent (%) of Beneficiaries Identified With Chronic Kidney Disease,float64,6788,67,6184
Percent (%) of Beneficiaries Identified With Heart Failure,float64,6825,74,6147
Number of Beneficiaries With Medicare Only Entitlement,float64,6943,512,6029
Number of Beneficiaries With Medicare & Medicaid Entitlement,float64,6943,661,6029
Percent (%) of Beneficiaries Identified With Stroke,float64,6967,68,6005
Percent (%) of Beneficiaries Identified With Diabetes,float64,6990,67,5982
Percent (%) of Beneficiaries Identified With Rheumatoid Arthritis / Osteoarthritis,float64,7286,69,5686
Percent (%) of Beneficiaries Identified With Alzheimer’s Disease or Dementia,float64,7322,73,5650
Percent (%) of Beneficiaries Identified With Hyperlipidemia,float64,7434,64,5538
Percent (%) of Beneficiaries Identified With Hypertension,float64,8302,56,4670
Percent (%) of Beneficiaries Identified With Schizophrenia / Other Psychotic Disorders,float64,8312,75,4660
Middle Initial of the Provider,object,8797,27,4175
Percent (%) of Beneficiaries Identified With Depression,float64,10243,63,2729
Credentials of the Provider,object,12293,741,679
Total Medical Medicare Allowed Amount,float64,12745,12739,227
Number of Medicare Beneficiaries With Medical Services,float64,12745,896,227
Number of Medical Services,float64,12745,2662,227
Number of HCPCS Associated With Medical Services,float64,12745,47,227
Total Drug Medicare Standardized Payment Amount,float64,12745,91,227
Total Medical Submitted Charge Amount,float64,12745,11473,227
Total Drug Medicare Payment Amount,float64,12745,91,227
Total Drug Submitted Charge Amount,float64,12745,91,227
Number of Medicare Beneficiaries With Drug Services,float64,12745,46,227
Number of Drug Services,float64,12745,85,227
Number of HCPCS Associated With Drug Services,float64,12745,11,227
Total Medical Medicare Payment Amount,float64,12745,12726,227
Total Drug Medicare Allowed Amount,float64,12745,91,227
Total Medical Medicare Standardized Payment Amount,float64,12745,12726,227
Provider RUCA,float64,12835,21,137
Number of Black or African American Beneficiaries,float64,12972,305,0
National Provider Identifier,object,12972,12972,0
Total Medicare Standardized Payment Amount,float64,12972,12952,0
Last Name/Organization Name of the Provider,object,12972,9038,0
First Name of the Provider,object,12972,3741,0
Gender of the Provider,object,12972,2,0
Entity Type of the Provider,object,12972,1,0
Street Address 1 of the Provider,object,12972,10364,0
City of the Provider,object,12972,2829,0
Zip Code of the Provider,object,12972,10686,0
State Code of the Provider,object,12972,54,0
Country Code of the Provider,object,12972,1,0
Provider Type of the Provider,object,12972,5,0
Medicare Participation Indicator,object,12972,2,0
Number of HCPCS,object,12972,51,0
Number of Services,float64,12972,2735,0
Number of Medicare Beneficiaries,object,12972,904,0
Total Submitted Charge Amount,float64,12972,11695,0
Total Medicare Allowed Amount,float64,12972,12966,0
Total Medicare Payment Amount,float64,12972,12953,0
Average Age of Beneficiaries,object,12972,62,0
Average HCC Risk Score of Beneficiaries,float64,12972,9279,0

#### DECIDE WHAT ARE MY MOST IMPORTANT COLUMNS:

In [43]:
#DEFINITELY
def_imp_cols = [
#these cols have ZERO null values and may be relevant so I'll keep them 
     'National Provider Identifier', #keeping this as unique ID for each provider
    'Provider Type of the Provider',
     'Number of Medicare Beneficiaries',
     'Average Age of Beneficiaries',
     'Number of Black or African American Beneficiaries',
    'Total Medicare Payment Amount', 
    'City of the Provider', 
 'State Code of the Provider',
 'Zip Code of the Provider',
    'Average HCC Risk Score of Beneficiaries'
]

#MAYBE: i might want to keep the first two disorder columns for black_medicare
# i def want to keep the race columns for all_medicare
maybe_imp_cols = [
    'Percent (%) of Beneficiaries Identified With Depression', 
    'Percent (%) of Beneficiaries Identified With Schizophrenia / Other Psychotic Disorders',
    'Number of American Indian/Alaska Native Beneficiaries',
 'Number of Asian Pacific Islander Beneficiaries',
 'Number of Non-Hispanic White Beneficiaries',
 'Number of Hispanic Beneficiaries', 
    'Number of Beneficiaries With Race Not Elsewhere Classified',
 'Country Code of the Provider',

]

In [44]:
joined = def_imp_cols + maybe_imp_cols

#NOT important columns
not_imp_cols = list(list(set(black_medicare.columns)-set(joined)))
not_imp_cols

['Percent (%) of Beneficiaries Identified With Chronic Kidney Disease',
 'Number of Medicare Beneficiaries With Drug Services',
 'Number of Beneficiaries With Medicare Only Entitlement',
 'Percent (%) of Beneficiaries Identified With Hyperlipidemia',
 'Percent (%) of Beneficiaries Identified With Asthma',
 'Gender of the Provider',
 'Entity Type of the Provider',
 'Street Address 2 of the Provider',
 'Percent (%) of Beneficiaries Identified With Diabetes',
 'Number of Medical Services',
 'Medicare Participation Indicator',
 'Total Medicare Allowed Amount',
 'Total Drug Medicare Standardized Payment Amount',
 'Percent (%) of Beneficiaries Identified With Alzheimer’s Disease or Dementia',
 'Medical Suppress Indicator',
 'Percent (%) of Beneficiaries Identified With Cancer',
 'Total Medical Submitted Charge Amount',
 'Percent (%) of Beneficiaries Identified With Stroke',
 'Number of HCPCS',
 'Total Medical Medicare Standardized Payment Amount',
 'Drug Suppress Indicator',
 'Total Drug Submitted Charge Amount',
 'Percent (%) of Beneficiaries Identified With Osteoporosis',
 'Percent (%) of Beneficiaries Identified With Ischemic Heart Disease',
 'Credentials of the Provider',
 'Percent (%) of Beneficiaries Identified With Heart Failure',
 'Total Medical Medicare Allowed Amount',
 'Percent (%) of Beneficiaries Identified With Hypertension',
 'Total Drug Medicare Payment Amount',
 'Percent (%) of Beneficiaries Identified With Chronic Obstructive Pulmonary Disease',
 'Street Address 1 of the Provider',
 'Middle Initial of the Provider',
 'Number of HCPCS Associated With Drug Services',
 'Percent (%) of Beneficiaries Identified With Rheumatoid Arthritis / Osteoarthritis',
 'Total Medicare Standardized Payment Amount',
 'Number of HCPCS Associated With Medical Services',
 'Provider RUCA',
 'Total Submitted Charge Amount',
 'Number of Medicare Beneficiaries With Medical Services',
 'First Name of the Provider',
 'Last Name/Organization Name of the Provider',
 'Total Drug Medicare Allowed Amount',
 'Number of Drug Services',
 'Number of Beneficiaries With Medicare & Medicaid Entitlement',
 'Total Medical Medicare Payment Amount',
 'Percent (%) of Beneficiaries Identified With Atrial Fibrillation',
 'Number of Services']

Dropping Less Important Columns

In [45]:
black_medicare = black_medicare.drop(columns = not_imp_cols)

In [46]:
black_medicare.columns

Index(['National Provider Identifier', 'City of the Provider',
       'Zip Code of the Provider', 'State Code of the Provider',
       'Country Code of the Provider', 'Provider Type of the Provider',
       'Number of Medicare Beneficiaries', 'Total Medicare Payment Amount',
       'Average Age of Beneficiaries',
       'Number of Black or African American Beneficiaries',
       'Percent (%) of Beneficiaries Identified With Depression',
       'Percent (%) of Beneficiaries Identified With Schizophrenia / Other Psychotic Disorders',
       'Average HCC Risk Score of Beneficiaries'],
      dtype='object')

In [47]:
all_medicare = all_medicare.drop(columns = not_imp_cols)
all_medicare.columns

Index(['National Provider Identifier', 'City of the Provider',
       'Zip Code of the Provider', 'State Code of the Provider',
       'Country Code of the Provider', 'Provider Type of the Provider',
       'Number of Medicare Beneficiaries', 'Total Medicare Payment Amount',
       'Average Age of Beneficiaries',
       'Number of Non-Hispanic White Beneficiaries\t',
       'Number of Black or African American Beneficiaries',
       'Number of Asian Pacific Islander Beneficiaries',
       'Number of Hispanic Beneficiaries',
       'Number of American Indian/Alaska Native Beneficiaries',
       'Number of Beneficiaries With Race Not Elsewhere Classified',
       'Percent (%) of Beneficiaries Identified With Depression',
       'Percent (%) of Beneficiaries Identified With Schizophrenia / Other Psychotic Disorders',
       'Average HCC Risk Score of Beneficiaries'],
      dtype='object')

How many rows and columns in this df?

In [48]:
black_medicare.shape, all_medicare.shape

((12972, 13), (5621, 18))

##### Renaming remaining columns

In [49]:
new_name_dict = {'National Provider Identifier': 'npi',
                 'City of the Provider': 'city',
                   'Zip Code of the Provider': 'full_zip',
                 'State Code of the Provider': 'state',
                   'Country Code of the Provider': 'country',
                 'Provider Type of the Provider':'provider_type',
                 'Number of Medicare Beneficiaries':'total_beneficiaries',
                'Average Age of Beneficiaries':'avg_beneficiary_age',
                'Total Medicare Payment Amount':'total_medicare_payment',
                'Number of Black or African American Beneficiaries':'num_black',
                'Average HCC Risk Score of Beneficiaries':'avg_hcc_risk_score',
                'Percent (%) of Beneficiaries Identified With Depression':'percent_with_depression',
                'Percent (%) of Beneficiaries Identified With Schizophrenia / Other Psychotic Disorders':
                    'percent_with_psychosis'}

                
black_medicare.rename(columns = new_name_dict, inplace = True)
all_medicare.rename(columns = new_name_dict, inplace = True)

In [50]:
extra_name_dict = {'Number of Non-Hispanic White Beneficiaries\t':'num_white',
                  'Number of Asian Pacific Islander Beneficiaries':'num_asian_pac_isl',
       'Number of Hispanic Beneficiaries':'num_hispanic',
       'Number of American Indian/Alaska Native Beneficiaries':'num_nat_amer',
       'Number of Beneficiaries With Race Not Elsewhere Classified':'num_race_unknown',}
all_medicare.rename(columns = extra_name_dict, inplace = True)

In [51]:
all_medicare.columns, black_medicare.columns

(Index(['npi', 'city', 'full_zip', 'state', 'country', 'provider_type',
        'total_beneficiaries', 'total_medicare_payment', 'avg_beneficiary_age',
        'num_white', 'num_black', 'num_asian_pac_isl', 'num_hispanic',
        'num_nat_amer', 'num_race_unknown', 'percent_with_depression',
        'percent_with_psychosis', 'avg_hcc_risk_score'],
       dtype='object'),
 Index(['npi', 'city', 'full_zip', 'state', 'country', 'provider_type',
        'total_beneficiaries', 'total_medicare_payment', 'avg_beneficiary_age',
        'num_black', 'percent_with_depression', 'percent_with_psychosis',
        'avg_hcc_risk_score'],
       dtype='object'))

Dropped Columns Checkpoint

In [52]:
checkpoint5 = black_medicare.copy()
checkpoint5b = all_medicare.copy()

##### Country

In [53]:
#Some years' DFs have country values that are not 'US' listed in Country

In [54]:
black_medicare.country.unique()

array(['US'], dtype=object)

In [55]:
idx = black_medicare[black_medicare.country !='US'].index
black_medicare.drop(index = idx, inplace = True)

idx = all_medicare[all_medicare.country !='US'].index
all_medicare.drop(index = idx, inplace = True)

##### Zip Codes

Some zip codes are integers, others strings, others objects

In [56]:
black_medicare.full_zip.apply(lambda x: type(x)).unique()

array([<class 'int'>, <class 'str'>, <class 'float'>], dtype=object)

Turning floats to integers and then to strings

In [57]:
black_medicare.full_zip = black_medicare.full_zip.astype('int').astype('str')

Next I have to convert the Zip Code to a 9-digit code (with leading zeros) or else I'll incorrectly capture the five digit zip code.

In [58]:
black_medicare.full_zip.apply(lambda x: len(str(x))).value_counts()

9    9585
8    1616
5    1345
4     301
3      64
7      61
Name: full_zip, dtype: int64

I want to check the 3-digit zip codes, this looks fishy. Further research shows that zip codes in PR and VI start with 00.

In [59]:
black_medicare[
    black_medicare.full_zip.apply(lambda x: len(str(x))) ==3
                ].state.value_counts()

PR    62
VI     2
Name: state, dtype: int64

In [60]:
# I looked over all zips with 5 or less digits
# It looks like they're 5-dig zips with no zip extensions, some are missing leading zeros

black_medicare[
    black_medicare.full_zip.apply(lambda x: len(str(x))) <5
                ].head()['full_zip']

14531    6443
26977    6069
48746    2675
49210    8816
50844    8850
Name: full_zip, dtype: object

In [61]:
# adding leading zeros to the VERY short zip codes less to make them 5 digits.
# then I can add an "extension" to make them 9 digits.

idx = black_medicare[
    black_medicare.full_zip.apply(lambda x: len(str(x))) <5
].index

black_medicare.loc[idx,'full_zip'] = \
    black_medicare.loc[idx,'full_zip'
                      ].apply(lambda x: str(x).zfill(5))

In [62]:
#adding trailing zeros to mimic the four digit extension.
#this is probably not necessary but it couldn't hurt.

black_medicare.loc[idx,'full_zip'] = \
    black_medicare.loc[idx,'full_zip'
                      ].apply(lambda x: str(x).ljust(9,'0'))

In [63]:
black_medicare['full_zip'].apply(lambda x: len(str(x))).value_counts()

9    9950
8    1616
5    1345
7      61
Name: full_zip, dtype: int64

In [64]:
# These are the 5 digit zips. I'll add trailing zeros here too.
black_medicare[black_medicare['full_zip'
                             ].apply(lambda x: len(str(x))) == 5
                              ]['full_zip'].head()

642      70791
3022     27707
3992     60402
8841     60068
11611    55435
Name: full_zip, dtype: object

In [65]:
idx = black_medicare[
    black_medicare['full_zip'].apply(lambda x: len(str(x))) == 5
].index

black_medicare.loc[idx,'full_zip'] = \
    black_medicare.loc[idx,'full_zip'
                      ].apply(lambda x: str(x).ljust(9,'0'))

In [66]:
#Here are the 7 and 8 digit zips
black_medicare[
    black_medicare['full_zip'].apply(lambda x: len(str(x)))  < 8
].head()['full_zip']

249381    6789638
474575    9797001
106400    9203514
183575    6925823
191633    9252102
Name: full_zip, dtype: object

In [67]:
# These are 5 digit zip codes that are missing leading zeros, plus a 4 digit extension. 
# I'll add leading zeros to these

idx = black_medicare[
    black_medicare['full_zip'].apply(lambda x: len(str(x)))  < 9
].index

black_medicare.loc[idx,'full_zip'] = \
    black_medicare.loc[idx,'full_zip'].apply(lambda x: str(x).zfill(9))

In [68]:
black_medicare['full_zip'].apply(lambda x: len(str(x))).value_counts()

9    12972
Name: full_zip, dtype: int64

In [69]:
black_medicare['five_dig_zip'] = \
    black_medicare['full_zip'].astype('str').apply(lambda x: x[:5]
                        )
black_medicare['five_dig_zip'] = \
    black_medicare['five_dig_zip'].apply(lambda x: x.zfill(5))
black_medicare.five_dig_zip.nunique()

5089

In [70]:
black_medicare['five_dig_zip'].apply(lambda x: len(x)).value_counts()

5    12972
Name: five_dig_zip, dtype: int64

Doing the same for all_medicare

In [71]:
#add leading zeros to the zip codes with length of 3 or 4 characters.
#then I add trailing zeros to these same zips, so they're 9 characters long.

all_medicare.full_zip = all_medicare.full_zip.astype('int').astype('str')

idx = all_medicare[
    all_medicare['full_zip'].apply(lambda x: len(str(x))) <5
                    ].index

all_medicare.loc[idx,'full_zip'] = \
    all_medicare.loc[idx,'full_zip'
                      ].apply(lambda x: str(x).zfill(5))

all_medicare.loc[idx,'full_zip'] = \
    all_medicare.loc[idx,'full_zip'
                      ].apply(lambda x: str(x).ljust(9,'0'))

# add trailing zeros to the 5 digit zips as well
idx2 = all_medicare[
    all_medicare['full_zip'].apply(lambda x: len(str(x))) == 5
].index

all_medicare.loc[idx2,'full_zip'] = \
    all_medicare.loc[idx2,'full_zip'
                      ].apply(lambda x: str(x).ljust(9,'0'))

# add leading zeros to the 7 and 8 digit zip codes

idx3 = all_medicare[
    all_medicare['full_zip'].apply(lambda x: len(str(x)))  < 9
                    ].index

all_medicare.loc[idx3,'full_zip'] = \
    all_medicare.loc[idx3,'full_zip'].apply(lambda x: str(x).zfill(9))

#create 5-dig-zips column

all_medicare['five_dig_zip'] = \
    all_medicare['full_zip'
                ].astype('str').apply(lambda x: x[:5]).apply(lambda x: x.zfill(5))

In [72]:
print(
    black_medicare['full_zip'].apply(lambda x: len(str(x))).value_counts()
)
print(
    black_medicare['five_dig_zip'].apply(lambda x: len(str(x))).value_counts()
)
print(
    all_medicare['full_zip'].apply(lambda x: len(str(x))).value_counts()
)
print(
    all_medicare['five_dig_zip'].apply(lambda x: len(str(x))).value_counts()
)

9    12972
Name: full_zip, dtype: int64
5    12972
Name: five_dig_zip, dtype: int64
9    5621
Name: full_zip, dtype: int64
5    5621
Name: five_dig_zip, dtype: int64

Checkpoint 6

In [73]:
checkpoint6 = black_medicare.copy()
checkpoint6b = all_medicare.copy()

In [74]:
pd.options.display.max_colwidth = 1000
black_medicare.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 12972 entries, 30 to 1088334
Data columns (total 14 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   npi                      12972 non-null  object
 1   city                     12972 non-null  object
 2   full_zip                 12972 non-null  object
 3   state                    12972 non-null  object
 4   country                  12972 non-null  object
 5   provider_type            12972 non-null  object
 6   total_beneficiaries      12972 non-null  object
 7   total_medicare_payment   12972 non-null  float64
 8   avg_beneficiary_age      12972 non-null  object
 9   num_black                12972 non-null  float64
 10  percent_with_depression  10243 non-null  float64
 11  percent_with_psychosis   8312 non-null   float64
 12  avg_hcc_risk_score       12972 non-null  float64
 13  five_dig_zip             12972 non-null  object
dtypes: float64(5), object(9)
memory usage: 2.1+ MB

#### This is noteworthy:
#### For 2017, the number of rows with information for percent_with_depression is ALMOST complete!
#### This is good news for data collection, and may be a good reason to use a dataframe that includes this col.

In [75]:
all_medicare.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5621 entries, 214 to 1087313
Data columns (total 19 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   npi                      5621 non-null   object
 1   city                     5621 non-null   object
 2   full_zip                 5621 non-null   object
 3   state                    5621 non-null   object
 4   country                  5621 non-null   object
 5   provider_type            5621 non-null   object
 6   total_beneficiaries      5621 non-null   object
 7   total_medicare_payment   5621 non-null   float64
 8   avg_beneficiary_age      5621 non-null   object
 9   num_white                5621 non-null   float64
 10  num_black                5621 non-null   float64
 11  num_asian_pac_isl        5621 non-null   float64
 12  num_hispanic             5621 non-null   float64
 13  num_nat_amer             5621 non-null   float64
 14  num_race_unknown         5621 non-null   float64
 15  percent_with_depression  4009 non-null   float64
 16  percent_with_psychosis   2165 non-null   float64
 17  avg_hcc_risk_score       5621 non-null   float64
 18  five_dig_zip             5621 non-null   object
dtypes: float64(10), object(9)
memory usage: 1.0+ MB

##### Mental Disorders
The only cols left with Nulls are the mental disorder cols.

I want to make a third df with all rows that have these numbers. Then I'll drop these cols from the other two dfs.

In [76]:
disorder_cols = [
         'percent_with_depression',
        'percent_with_psychosis'
]

black_medicare_with_disorders = \
    black_medicare[black_medicare[disorder_cols].notnull().all(axis=1)]

black_medicare.drop(columns = disorder_cols, inplace=True)
all_medicare.drop(columns = disorder_cols, inplace=True)

Checkpoint 7

In [77]:
checkpoint7 = black_medicare.copy()
checkpoint7b= all_medicare.copy()
checkpoint7c = black_medicare_with_disorders.copy()

# Census DF

In [78]:
census = pd.read_csv('../../data/raw/2017acs.csv')

In [79]:
census.head()

,geo_id,nonfamily_households,family_households,median_year_structure_built,rent_burden_not_computed,rent_over_50_percent,rent_40_to_50_percent,rent_35_to_40_percent,rent_30_to_35_percent,rent_25_to_30_percent,...,speak_only_english_at_home,speak_spanish_at_home,speak_spanish_at_home_low_english,pop_15_and_over,pop_never_married,pop_now_married,pop_separated,pop_widowed,pop_divorced,do_date
0,55111,13,0,2016.0,4,5,0,0,4,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,20132017
1,61112,93,7,2001.0,0,57,15,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,20132017
2,33856,189,84,1966.0,0,0,59,18,7,62,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,20132017
3,32079,151,69,1970.0,74,49,3,8,17,20,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,20132017
4,85633,12,4,1939.0,2,0,0,3,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,20132017

In [80]:
# dropping do_date columns, which gives info on how numbers for this year were calculated
# but isn't useful for my investigation.

census.drop(columns=['do_date'], inplace=True)

In [81]:
info = pd.DataFrame(index=census.columns.values,
                    data={'data type': census.dtypes, \
                          'non-null values': census.notnull().sum(),
                          'unique values': census.nunique(), \
                          'null values': census.isnull().sum()})
info.sort_values('non-null values').head(30)

,data type,non-null values,unique values,null values
pop_divorced,float64,0,0,33120
pop_5_years_over,float64,0,0,33120
speak_only_english_at_home,float64,0,0,33120
speak_spanish_at_home,float64,0,0,33120
speak_spanish_at_home_low_english,float64,0,0,33120
pop_widowed,float64,0,0,33120
pop_never_married,float64,0,0,33120
pop_15_and_over,float64,0,0,33120
pop_now_married,float64,0,0,33120
pop_separated,float64,0,0,33120
aggregate_travel_time_to_work,float64,20123,17039,12997
median_rent,float64,27018,1967,6102
renter_occupied_housing_units_paying_cash_median_gross_rent,float64,27224,2005,5896
percent_income_spent_on_rent,float64,27582,401,5538
owner_occupied_housing_units_lower_value_quartile,float64,30121,4366,2999
owner_occupied_housing_units_median_value,float64,30578,5309,2542
owner_occupied_housing_units_upper_value_quartile,float64,30643,6418,2477
median_income,float64,30956,19650,2164
median_year_structure_built,float64,32189,76,931
gini_index,float64,32211,4172,909
income_per_capita,float64,32478,20941,642
median_age,float64,32553,662,567
different_house_year_ago_different_city,float64,32989,4917,131
different_house_year_ago_same_city,float64,32989,3518,131
population_1_year_and_over,float64,32989,15335,131
less_than_high_school_graduate,float64,32989,4556,131
not_us_citizen_pop,float64,32989,4243,131
bachelors_degree_2,float64,32989,6127,131
some_college_and_associates_degree,float64,32989,7599,131
high_school_including_ged,float64,32989,7204,131

Deleting columns with ZERO nonnull values. Weirdly these columns have info for all rows in the previous years.

In [82]:
allnull = list(info[info['non-null values']==0].index)
allnull

['pop_5_years_over',
 'speak_only_english_at_home',
 'speak_spanish_at_home',
 'speak_spanish_at_home_low_english',
 'pop_15_and_over',
 'pop_never_married',
 'pop_now_married',
 'pop_separated',
 'pop_widowed',
 'pop_divorced']

In [83]:
census.drop(columns = allnull, inplace = True)

Only keep Census zipcodes that appear in the Medicare DF

In [84]:
medzips = list(black_medicare.five_dig_zip)
census.geo_id = census.geo_id.astype('str').apply(lambda x: x.zfill(5))
censuszips = list(census.geo_id)
commonzips = (set(medzips)).intersection(set(censuszips))

In [85]:
missingzips = list(set(medzips) - commonzips)

In [86]:
black_medicare.set_index('five_dig_zip').loc[missingzips].index.unique()

Index(['27699', '95671', '06102', '68198', '40536', '65102', '48824', '02146',
       '00919', '44195', '27710', '00802', '92161', '23298', '20522', '79430',
       '59402', '35249', '71130', '37232', '94143', '45408', '37684', '10184',
       '11571', '20889', '03756', '01655', '06030', '26506', '20060', '27157',
       '73523', '92357', '09831', '94141', '00820', '97703', '77555', '14642',
       '38157', '84143', '00963', '00726', '49685', '04333', '04402', '46138',
       '24327', '58122', '09096', '66160', '21041', '14702', '32610', '29425',
       '18341', '36209', '60567', '95696', '92093', '01805', '20042', '85378',
       '02178', '90509', '98431', '92369', '65212', '32163', '02234', '06904',
       '61637', '21287', '05302', '22908', '35402', '98493', '00792', '92415',
       '20883', '87131', '27599', '84132', '02479', '29151', '93062'],
      dtype='object', name='five_dig_zip')

In [87]:
pd.options.display.max_rows = 120
black_medicare.set_index('five_dig_zip').loc[missingzips]

,npi,city,full_zip,state,country,provider_type,total_beneficiaries,total_medicare_payment,avg_beneficiary_age,num_black,avg_hcc_risk_score
five_dig_zip,,,,,,,,,,,
27699,1659431849,RALEIGH,276993601,NC,US,Psychiatry,45,12950.33,44,24.0,1.3550
95671,1841446010,REPRESA,956713001,CA,US,Psychiatry,179,111003.04,44,20.0,1.3186
06102,1104801745,HARTFORD,061025037,CT,US,Psychiatry,251,14618.47,69,26.0,2.6863
68198,1851613905,OMAHA,681984185,NE,US,"Psychologist, Clinical",15,8130.76,57,0.0,1.0089
68198,1588616700,OMAHA,681988102,NE,US,Geriatric Psychiatry,227,34718.08,77,13.0,1.7116
...,...,...,...,...,...,...,...,...,...,...,...
84132,1366768251,SALT LAKE CITY,841320000,UT,US,Psychiatry,11,3683.23,53,0.0,0.8177
84132,1528210085,SALT LAKE CITY,841320001,UT,US,Psychiatry,11,2459.81,50,0.0,1.7705
02479,1407905995,ARLINGTON,024791648,MA,US,"Psychologist, Clinical",11,28656.03,63,0.0,0.6899
29151,1720104565,SUMTER,291510000,SC,US,Psychiatry,142,12005.76,54,84.0,1.3861
93062,1629057393,SIMI VALLEY,930620606,CA,US,Psychiatry,230,54129.49,71,24.0,2.6424

##### A lot of these are PO Box zip codes. Although I don't want to reduce my DF by any more rows,  I don't feel comfortable changing them to a zip code nearby (e.g. changing 30031 to 30032).
##### Dropping them from both Census and Medicare.

In [88]:
idx = black_medicare[black_medicare['five_dig_zip'].isin(missingzips)].index
black_medicare.drop(index = idx, inplace=True)

idx = all_medicare[all_medicare['five_dig_zip'].isin(missingzips)].index
all_medicare.drop(index = idx, inplace=True)

idx = black_medicare_with_disorders[black_medicare_with_disorders['five_dig_zip'].isin(missingzips)].index
black_medicare_with_disorders.drop(index = idx, inplace=True)

/Users/Livi/opt/anaconda3/envs/springboard/lib/python3.7/site-packages/pandas/core/frame.py:4174: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [89]:
medzips = list(black_medicare.five_dig_zip)
censuszips = list(census.geo_id)
commonzips = (set(medzips)).intersection(set(censuszips))
list(set(medzips) - commonzips)

[]

In [90]:
print(black_medicare.five_dig_zip.nunique())
print(census[census.geo_id.isin(commonzips)].shape[0])

5002
5002

Dropping those same zip codes from the Census DF.

In [91]:
idx = census[census.geo_id.isin(commonzips)].index
census = census.loc[idx]

Reviewing Null Values

In [92]:
info = pd.DataFrame(index=census.columns.values,
                    data={'data type': census.dtypes, \
                          'non-null values': census.notnull().sum(),
                          'unique values': census.nunique(), \
                          'null values': census.isnull().sum()})
info.sort_values('non-null values').head(30)

,data type,non-null values,unique values,null values
aggregate_travel_time_to_work,float64,4784,4681,218
owner_occupied_housing_units_lower_value_quartile,float64,4939,2729,63
owner_occupied_housing_units_median_value,float64,4945,3067,57
owner_occupied_housing_units_upper_value_quartile,float64,4945,3312,57
renter_occupied_housing_units_paying_cash_median_gross_rent,float64,4948,1451,54
median_rent,float64,4950,1462,52
less_than_high_school_graduate,float64,4954,3024,48
population_1_year_and_over,float64,4954,4724,48
bachelors_degree_2,float64,4954,3840,48
different_house_year_ago_different_city,float64,4954,3330,48
some_college_and_associates_degree,float64,4954,4009,48
different_house_year_ago_same_city,float64,4954,2609,48
high_school_including_ged,float64,4954,3894,48
graduate_professional_degree,float64,4954,3391,48
not_us_citizen_pop,float64,4954,2823,48
percent_income_spent_on_rent,float64,4954,305,48
median_income,float64,4966,4783,36
median_year_structure_built,float64,4971,73,31
gini_index,float64,4973,1907,29
median_age,float64,4991,410,11
income_per_capita,float64,4991,4699,11
white_male_45_54,int64,5002,2253,0
white_male_55_64,int64,5002,2226,0
hispanic_male_55_64,int64,5002,826,0
bachelors_degree_or_higher_25_64,int64,5002,4111,0
children,int64,5002,4150,0
commuters_drove_alone,int64,5002,4423,0
commuters_by_bus,int64,5002,1300,0
commuters_by_car_truck_van,int64,5002,4478,0
commuters_by_carpool,int64,5002,2305,0

Some of these columns don't seem as important to determining access to health care, or are redundant with other columns.

In [93]:
cols_to_drop = ['aggregate_travel_time_to_work','owner_occupied_housing_units_lower_value_quartile',
'owner_occupied_housing_units_median_value','owner_occupied_housing_units_upper_value_quartile',
'renter_occupied_housing_units_paying_cash_median_gross_rent','median_year_structure_built']

census.drop(columns = cols_to_drop, inplace = True)

#####  Median_rent nulls. 

This column is important and I want to keep the information it provides. Dropping rows with zipcodes whose median_rent is null.

How many rows with Null median_rent and how many of these zips are in Medicare df?

In [94]:
mask = census.median_rent.isnull()
census[mask].shape[0], census[mask].geo_id.isin(medzips).sum()

(52, 52)

In [95]:
#DELETING rows from Medicare with Zips that have nulls in Census
tempzips = list(census[
                census.median_rent.isnull()
                    ].geo_id)

idx = black_medicare[
        black_medicare.five_dig_zip.isin(tempzips)
                    ].index
black_medicare.drop(index = idx, inplace=True)

idx = all_medicare[
        all_medicare.five_dig_zip.isin(tempzips)
                    ].index
all_medicare.drop(index = idx, inplace=True)

idx = black_medicare_with_disorders[
        black_medicare_with_disorders.five_dig_zip.isin(tempzips)
                    ].index
black_medicare_with_disorders.drop(index = idx, inplace=True)

/Users/Livi/opt/anaconda3/envs/springboard/lib/python3.7/site-packages/pandas/core/frame.py:4174: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [96]:
#DELETING rows from Census for these Zips that have nulls
idx = census[census.median_rent.isnull()].index
census.drop(index = idx, inplace = True)

In [97]:
print(black_medicare.five_dig_zip.nunique(), census.shape[0])
print(black_medicare_with_disorders.five_dig_zip.nunique(), census.shape[0])
print(all_medicare.five_dig_zip.nunique(), census.shape[0])

#Census has more zipcodes than latter two DFs
#But I'm going to left-merge on Medicare DFs, so it's okay.

4950 4950
3175 4950
3194 4950

In [98]:
info = pd.DataFrame(index=census.columns.values,
                    data={'data type': census.dtypes, \
                          'non-null values': census.notnull().sum(),
                          'unique values': census.nunique(), \
                          'null values': census.isnull().sum()})
info.sort_values('non-null values').head(10)

,data type,non-null values,unique values,null values
not_us_citizen_pop,float64,4904,2823,46
some_college_and_associates_degree,float64,4904,3980,46
bachelors_degree_2,float64,4904,3816,46
less_than_high_school_graduate,float64,4904,3018,46
different_house_year_ago_different_city,float64,4904,3320,46
graduate_professional_degree,float64,4904,3379,46
high_school_including_ged,float64,4904,3867,46
different_house_year_ago_same_city,float64,4904,2608,46
population_1_year_and_over,float64,4904,4684,46
median_income,float64,4947,4770,3

#### Removing rows from zipcodes in Census and Medicare that have nulls in high_school_including_ged. 
#### Hopefully this takes care of all the rest of the columns with nulls in Census DF.

In [99]:
mask = census.high_school_including_ged.isnull()
census[mask].shape[0], census[mask].geo_id.isin(medzips).sum()

(46, 46)

In [100]:
#DELETING rows from Medicare with Zips that have nulls in Census

tempzips = list(census[mask].geo_id)

idx = black_medicare[black_medicare.five_dig_zip.isin(tempzips)].index
black_medicare.drop(index = idx, inplace=True)

idx = black_medicare_with_disorders[black_medicare_with_disorders.five_dig_zip.isin(tempzips)].index
black_medicare_with_disorders.drop(index = idx, inplace=True)

idx = all_medicare[all_medicare.five_dig_zip.isin(tempzips)].index
all_medicare.drop(index = idx, inplace=True)

/Users/Livi/opt/anaconda3/envs/springboard/lib/python3.7/site-packages/pandas/core/frame.py:4174: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [101]:
# deleting rows from Census for these Zips that have nulls
idx = census[mask].index
census.drop(index = idx, inplace = True)

In [102]:
info = pd.DataFrame(index=census.columns.values,
                    data={'data type': census.dtypes, \
                          'non-null values': census.notnull().sum(),
                          'unique values': census.nunique(), \
                          'null values': census.isnull().sum()})
info.sort_values('non-null values').head(1)

              data type  non-null values  unique values  null values
median_income   float64             4901           4724            3

##### Median_income

Just like median_rent, this column seems important and I'd like to keep it. Dropping zip codes that have nulls in this column.

In [103]:
mask = census.median_income.isnull()
census[mask].shape[0], census[mask].geo_id.isin(medzips).sum()

(3, 3)

In [104]:
black_medicare[
    black_medicare.five_dig_zip.isin(
        census[census.median_income.isnull()].geo_id
    )
]

,npi,city,full_zip,state,country,provider_type,total_beneficiaries,total_medicare_payment,avg_beneficiary_age,num_black,avg_hcc_risk_score,five_dig_zip
249600,1225436884,MARLINTON,248541142,WV,US,Licensed Clinical Social Worker,29,5540.55,54,0.0,1.3766,24854
789489,1720163231,QUECHEE,050591182,VT,US,"Psychologist, Clinical",11,13790.45,64,0.0,1.0669,05059
209928,1194702100,HARRIS,127420800,NY,US,Psychiatry,230,59332.33,62,31.0,2.1104,12742

In [105]:
#DELETING rows from Medicare with Zips that have nulls in Census

tempzips = list(census[mask].geo_id)

idx = black_medicare[black_medicare.five_dig_zip.isin(tempzips)].index
black_medicare.drop(index = idx, inplace=True)

idx = black_medicare_with_disorders[black_medicare_with_disorders.five_dig_zip.isin(tempzips)].index
black_medicare_with_disorders.drop(index = idx, inplace=True)

idx = all_medicare[all_medicare.five_dig_zip.isin(tempzips)].index
all_medicare.drop(index = idx, inplace=True)

#DELETING rows from Census for these Zips that have nulls
idx = census[mask].index
census.drop(index = idx, inplace = True)

/Users/Livi/opt/anaconda3/envs/springboard/lib/python3.7/site-packages/pandas/core/frame.py:4174: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [106]:
info = pd.DataFrame(index=census.columns.values,
                    data={'data type': census.dtypes, \
                          'non-null values': census.notnull().sum(),
                          'unique values': census.nunique(), \
                          'null values': census.isnull().sum()})
info.sort_values('non-null values').head(5)

,data type,non-null values,unique values,null values
percent_income_spent_on_rent,float64,4900,303,1
geo_id,object,4901,4901,0
black_male_55_64,int64,4901,870,0
hispanic_male_45_54,int64,4901,1033,0
hispanic_male_55_64,int64,4901,787,0

In [108]:
mask = census.percent_income_spent_on_rent.isnull()

#DELETING rows from Medicare with Zips that have nulls in Census for this column
tempzips = list(census[mask].geo_id)

idx = black_medicare[black_medicare.five_dig_zip.isin(tempzips)].index
black_medicare.drop(index = idx, inplace=True)

idx = black_medicare_with_disorders[black_medicare_with_disorders.five_dig_zip.isin(tempzips)].index
black_medicare_with_disorders.drop(index = idx, inplace=True)

idx = all_medicare[all_medicare.five_dig_zip.isin(tempzips)].index
all_medicare.drop(index = idx, inplace=True)

#DELETING rows from Census for these Zips that have nulls
idx = census[mask].index
census.drop(index = idx, inplace = True)

/Users/Livi/opt/anaconda3/envs/springboard/lib/python3.7/site-packages/pandas/core/frame.py:4174: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [109]:
info = pd.DataFrame(index=census.columns.values,
                    data={'data type': census.dtypes, \
                          'non-null values': census.notnull().sum(),
                          'unique values': census.nunique(), \
                          'null values': census.isnull().sum()})
info.sort_values('non-null values').head(5)

                    data type  non-null values  unique values  null values
geo_id                 object             4900           4900            0
black_male_45_54        int64             4900            959            0
black_male_55_64        int64             4900            870            0
hispanic_male_45_54     int64             4900           1033            0
hispanic_male_55_64     int64             4900            787            0

In [110]:
black_medicare.shape, black_medicare_with_disorders.shape, all_medicare.shape

((12459, 12), (6901, 14), (5393, 17))

# Now that Census DF is clean, I can merge with Medicare DFs.

In [111]:
census['geo_id'] = census['geo_id'].astype('str')

In [112]:
census.geo_id.apply(lambda x: len(x)).value_counts()

5    4900
Name: geo_id, dtype: int64

In [113]:
census['geo_id'] = census.geo_id.apply(lambda x: x.zfill(5))

In [114]:
census['geo_id'] = census['geo_id'].astype('int')

#### Checking data types

All columns in Census should be 'int' or 'float.' I want to see what is listed as object.

In [115]:
census.select_dtypes('object').head(1)

Empty DataFrame
Columns: []
Index: [454]

Checking Medicare DFs

In [116]:
print(black_medicare.select_dtypes('object').columns)
print(black_medicare_with_disorders.select_dtypes('object').columns)
print(all_medicare.select_dtypes('object').columns)

Index(['npi', 'city', 'full_zip', 'state', 'country', 'provider_type',
       'total_beneficiaries', 'avg_beneficiary_age', 'five_dig_zip'],
      dtype='object')
Index(['npi', 'city', 'full_zip', 'state', 'country', 'provider_type',
       'total_beneficiaries', 'avg_beneficiary_age', 'five_dig_zip'],
      dtype='object')
Index(['npi', 'city', 'full_zip', 'state', 'country', 'provider_type',
       'total_beneficiaries', 'avg_beneficiary_age', 'five_dig_zip'],
      dtype='object')

In [117]:
black_medicare.full_zip = black_medicare.full_zip.astype('int')
black_medicare.total_beneficiaries = black_medicare.total_beneficiaries.astype('int')
black_medicare.avg_beneficiary_age = black_medicare.avg_beneficiary_age.astype('int')
black_medicare.five_dig_zip = black_medicare.five_dig_zip.astype('int')

In [118]:
black_medicare_with_disorders.full_zip = black_medicare_with_disorders.full_zip.astype('int')
black_medicare_with_disorders.total_beneficiaries = black_medicare_with_disorders.total_beneficiaries.astype('int')
black_medicare_with_disorders.avg_beneficiary_age = black_medicare_with_disorders.avg_beneficiary_age.astype('int')
black_medicare_with_disorders.five_dig_zip = black_medicare_with_disorders.five_dig_zip.astype('int')

/Users/Livi/opt/anaconda3/envs/springboard/lib/python3.7/site-packages/pandas/core/generic.py:5170: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[name] = value

In [119]:
all_medicare.full_zip = all_medicare.full_zip.astype('int')
all_medicare.total_beneficiaries = all_medicare.total_beneficiaries.astype('int')
all_medicare.avg_beneficiary_age = all_medicare.avg_beneficiary_age.astype('int')
all_medicare.five_dig_zip = all_medicare.five_dig_zip.astype('int')
all_medicare.num_race_unknown = all_medicare.num_race_unknown.astype('int')

In [120]:
merged = black_medicare.merge(census, left_on='five_dig_zip', right_on='geo_id', how='left')
all_merged = all_medicare.merge(census, left_on='five_dig_zip', right_on='geo_id', how='left')
disorders_merged = black_medicare_with_disorders.merge(census, left_on='five_dig_zip', right_on='geo_id', how='left')

In [121]:
#saving black medicare merged
merged.to_csv('../../data/processed/2017black_medicare_census.csv')

#saving all races medicare df merged
disorders_merged.to_csv('../../data/processed/2017black_medicare_with_disorders_census.csv')

#saving black_medicare with disorder values merged
all_merged.to_csv('../../data/processed/2017all_races_medicare_census.csv')