In [2]:
import pandas as pd

# Zip Code Level Data, for years 2012 through 2018

## Medicare Providers and Utilization, mental health

In [45]:
df1 = pd.read_csv('/home/vizziwo/Medicare_Provider_Utilization_and_Payment_Data__Physician_and_Other_Supplier_PUF_CY2018.csv', chunksize = 50000)
z = 1
for i, chunk in enumerate(df1):
    if i ==0:
        df2 = chunk
    z += 1
print('df size is ', z*50000)

/opt/miniconda3/envs/cap2/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3146: DtypeWarning: Columns (10) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

df size is  10050000

Is there a better way to do this?

In [46]:
df2.head()

,National Provider Identifier,Last Name/Organization Name of the Provider,First Name of the Provider,Middle Initial of the Provider,Credentials of the Provider,Gender of the Provider,Entity Type of the Provider,Street Address 1 of the Provider,Street Address 2 of the Provider,City of the Provider,...,HCPCS Code,HCPCS Description,HCPCS Drug Indicator,Number of Services,Number of Medicare Beneficiaries,Number of Distinct Medicare Beneficiary/Per Day Services,Average Medicare Allowed Amount,Average Submitted Charge Amount,Average Medicare Payment Amount,Average Medicare Standardized Amount
0,1,CPT copyright 2017 American Medical Associatio...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1003000126,ENKESHAFI,ARDALAN,NaN,M.D.,M,I,900 SETON DR,NaN,CUMBERLAND,...,99217,Hospital observation care on day of discharge,N,68.0,67.0,68.0,73.821029,381.308824,57.880294,58.212500
2,1003000126,ENKESHAFI,ARDALAN,NaN,M.D.,M,I,900 SETON DR,NaN,CUMBERLAND,...,99218,"Hospital observation care, typically 30 minutes",N,19.0,19.0,19.0,100.883158,476.947368,76.795263,77.469474
3,1003000126,ENKESHAFI,ARDALAN,NaN,M.D.,M,I,900 SETON DR,NaN,CUMBERLAND,...,99220,"Hospital observation care, typically 70 minutes",N,26.0,26.0,26.0,188.110769,1086.923077,147.479231,147.793462
4,1003000126,ENKESHAFI,ARDALAN,NaN,M.D.,M,I,900 SETON DR,NaN,CUMBERLAND,...,99221,"Initial hospital inpatient care, typically 30 ...",N,24.0,24.0,24.0,102.240000,474.583333,80.155000,80.943333

In [47]:
df2.columns.unique()

Index(['National Provider Identifier',
       'Last Name/Organization Name of the Provider',
       'First Name of the Provider', 'Middle Initial of the Provider',
       'Credentials of the Provider', 'Gender of the Provider',
       'Entity Type of the Provider', 'Street Address 1 of the Provider',
       'Street Address 2 of the Provider', 'City of the Provider',
       'Zip Code of the Provider', 'State Code of the Provider',
       'Country Code of the Provider', 'Provider Type',
       'Medicare Participation Indicator', 'Place of Service', 'HCPCS Code',
       'HCPCS Description', 'HCPCS Drug Indicator', 'Number of Services',
       'Number of Medicare Beneficiaries',
       'Number of Distinct Medicare Beneficiary/Per Day Services',
       'Average Medicare Allowed Amount', 'Average Submitted Charge Amount',
       'Average Medicare Payment Amount',
       'Average Medicare Standardized Amount'],
      dtype='object')

In [51]:
df2[(df2['Provider Type']=='Psychiatry') |
   (df2['Provider Type']=='Psychologist, Clinical') |
   (df2['Provider Type']=='Licensed Clinical Social Worker')].head()

,National Provider Identifier,Last Name/Organization Name of the Provider,First Name of the Provider,Middle Initial of the Provider,Credentials of the Provider,Gender of the Provider,Entity Type of the Provider,Street Address 1 of the Provider,Street Address 2 of the Provider,City of the Provider,...,HCPCS Code,HCPCS Description,HCPCS Drug Indicator,Number of Services,Number of Medicare Beneficiaries,Number of Distinct Medicare Beneficiary/Per Day Services,Average Medicare Allowed Amount,Average Submitted Charge Amount,Average Medicare Payment Amount,Average Medicare Standardized Amount
187,1003001272,OCHOA-DURRELL,DEANNE,E,LCSW,F,I,125 FRANKLIN ST,NaN,RUMFORD,...,90834,"Psychotherapy, 45 minutes",N,22.0,12.0,22.0,62.480000,124.000000,46.811364,47.737727
188,1003001272,OCHOA-DURRELL,DEANNE,E,LCSW,F,I,125 FRANKLIN ST,NaN,RUMFORD,...,90837,"Psychotherapy, 60 minutes",N,174.0,32.0,174.0,94.070000,136.689655,71.722529,73.167701
270,1003001819,TAVORA,SARA,M,LMSW,F,I,520 SUPERIOR ST,NaN,PORT HURON,...,90837,"Psychotherapy, 60 minutes",N,116.0,11.0,116.0,96.450000,178.000000,69.933966,72.356034
323,1003002106,CASTRO CORDOBA,JUAN LUIS,NaN,NaN,M,I,2640 FOREST HILL BLVD,NaN,WEST PALM BEACH,...,99213,Established patient office or other outpatient...,N,14.0,11.0,14.0,61.186429,61.428571,39.673571,50.440714
794,1003005430,BEAUMONT,LAURA,A,PSYD,F,I,11801 SOUTHWEST HIGHWAY,STE 3 SOUTH,PALOS HEIGHTS,...,90791,Psychiatric diagnostic evaluation,N,13.0,13.0,13.0,138.960000,250.000000,94.624615,92.796923

In [52]:
z = df2[(df2['Provider Type']=='Psychiatry') |
   (df2['Provider Type']=='Psychologist, Clinical') |
   (df2['Provider Type']=='Licensed Clinical Social Worker')]
z['HCPCS Description'].unique()

array(['Psychotherapy, 45 minutes', 'Psychotherapy, 60 minutes',
       'Established patient office or other outpatient visit, typically 15 minutes',
       'Psychiatric diagnostic evaluation',
       'Subsequent hospital inpatient care, typically 15 minutes per day',
       'Subsequent hospital inpatient care, typically 25 minutes per day',
       'Hospital discharge day management, 30 minutes or less',
       'Established patient office or other outpatient visit, typically 10 minutes',
       'Established patient office or other outpatient, visit typically 25 minutes',
       'Emergency department visit, problem of high severity',
       'Psychotherapy, 30 minutes',
       'New patient office or other outpatient visit, typically 20 minutes',
       'New patient office or other outpatient visit, typically 30 minutes',
       'Initial hospital inpatient care, typically 30 minutes per day',
       'Subsequent hospital inpatient care, typically 35 minutes per day',
       'Hospital discharge day management, more than 30 minutes',
       'Emergency department visit, moderately severe problem',
       'Initial hospital inpatient care, typically 50 minutes per day',
       'Psychiatric diagnostic evaluation with medical services',
       'New patient office or other outpatient visit, typically 45 minutes',
       'Established patient office or other outpatient, visit typically 40 minutes',
       'Subsequent nursing facility visit, typically 15 minutes per day',
       'Subsequent nursing facility visit, typically 25 minutes per day',
       'Group psychotherapy',
       'Initial hospital inpatient care, typically 70 minutes per day',
       'Prolonged inpatient or observation hospital service first hour',
       'Interactive complexity',
       'Initial nursing facility visit, typically 35 minutes per day',
       'Subsequent nursing facility visit, typically 10 minutes per day',
       'New patient office or other outpatient visit, typically 60 minutes',
       'Insertion of needle into vein for collection of blood sample',
       'Psychological testing with interpretation and report by psychologist or physician per hour',
       'Neurobehavioral status examination, interpretation, and report by psychologist or physician per hour',
       'Neuropsychological testing, interpretation, and report by psychologist or physician per hour',
       'Health and behavior assessment each 15 minutes',
       'Health and behavior intervention, individual each 15 minutes',
       'Family psychotherapy, 50 minutes',
       'Family psychotherapy including patient, 50 minutes',
       'Neuropsychological testing by technician with interpretation and report by a qualified healthcare professional per hour',
       'Emergency department visit, low to moderately severe problem',
       'Transcranial magnetic stimulation treatment (stimulates nerve cells in brain to improve symptoms of depression), per session',
       'Shock treatment and monitoring',
       'Prolonged office or other outpatient service first hour',
       'Psychological testing with interpretation and report by computer',
       'Telehealth originating site facility fee',
       'Injection beneath the skin or into muscle for therapy, diagnosis, or prevention',
       'Health and behavior intervention, family and patient each 15 minutes',
       'Psychotherapy for crisis, first 60 minutes',
       'Established patient office or other outpatient visit, typically 5 minutes',
       'New patient assisted living visit, typically 75 minutes',
       'Established patient assisted living visit, typically 40 minutes'],
      dtype=object)

In [53]:
z.columns

Index(['National Provider Identifier',
       'Last Name/Organization Name of the Provider',
       'First Name of the Provider', 'Middle Initial of the Provider',
       'Credentials of the Provider', 'Gender of the Provider',
       'Entity Type of the Provider', 'Street Address 1 of the Provider',
       'Street Address 2 of the Provider', 'City of the Provider',
       'Zip Code of the Provider', 'State Code of the Provider',
       'Country Code of the Provider', 'Provider Type',
       'Medicare Participation Indicator', 'Place of Service', 'HCPCS Code',
       'HCPCS Description', 'HCPCS Drug Indicator', 'Number of Services',
       'Number of Medicare Beneficiaries',
       'Number of Distinct Medicare Beneficiary/Per Day Services',
       'Average Medicare Allowed Amount', 'Average Submitted Charge Amount',
       'Average Medicare Payment Amount',
       'Average Medicare Standardized Amount'],
      dtype='object')

## Medicare Providers and Demographics of Beneficiaries, mental health

In [9]:
chunks = pd.read_csv('/home/vizziwo/Medicare_Physician_and_Other_Supplier_National_Provider_Identifier__NPI__Aggregate_Report__Calendar_Year_2018.csv', chunksize=50000)
q = 1
for i, chunk in enumerate(chunks):
    if i == 0:
        df3 = chunk
    q+=1
print('df size is ', q*50000, 'rows. This DF is 1/',q,'of the whole dataset.')

/opt/miniconda3/envs/cap2/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3146: DtypeWarning: Columns (10) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

df size is  1200000 rows. This DF is 1/ 24 of the whole dataset.

In [3]:
df3.head(2)

,National Provider Identifier,Last Name/Organization Name of the Provider,First Name of the Provider,Middle Initial of the Provider,Credentials of the Provider,Gender of the Provider,Entity Type of the Provider,Street Address 1 of the Provider,Street Address 2 of the Provider,City of the Provider,...,Percent (%) of Beneficiaries Identified With Depression,Percent (%) of Beneficiaries Identified With Diabetes,Percent (%) of Beneficiaries Identified With Hyperlipidemia,Percent (%) of Beneficiaries Identified With Hypertension,Percent (%) of Beneficiaries Identified With Ischemic Heart Disease,Percent (%) of Beneficiaries Identified With Osteoporosis,Percent (%) of Beneficiaries Identified With Rheumatoid Arthritis / Osteoarthritis,Percent (%) of Beneficiaries Identified With Schizophrenia / Other Psychotic Disorders,Percent (%) of Beneficiaries Identified With Stroke,Average HCC Risk Score of Beneficiaries
0,1003000126,ENKESHAFI,ARDALAN,NaN,M.D.,M,I,900 SETON DR,NaN,CUMBERLAND,...,47.0,53.0,75.0,75.0,55.0,11.0,56.0,9.0,11.0,2.2948
1,1003000134,CIBULL,THOMAS,L,M.D.,M,I,2650 RIDGE AVE,EVANSTON HOSPITAL,EVANSTON,...,15.0,20.0,51.0,53.0,27.0,10.0,39.0,1.0,3.0,1.0899

In [4]:
df3.columns

Index(['National Provider Identifier',
       'Last Name/Organization Name of the Provider',
       'First Name of the Provider', 'Middle Initial of the Provider',
       'Credentials of the Provider', 'Gender of the Provider',
       'Entity Type of the Provider', 'Street Address 1 of the Provider',
       'Street Address 2 of the Provider', 'City of the Provider',
       'Zip Code of the Provider', 'Provider RUCA',
       'State Code of the Provider', 'Country Code of the Provider',
       'Provider Type of the Provider', 'Medicare Participation Indicator',
       'Number of HCPCS', 'Number of Services',
       'Number of Medicare Beneficiaries', 'Total Submitted Charge Amount',
       'Total Medicare Allowed Amount', 'Total Medicare Payment Amount',
       'Total Medicare Standardized Payment Amount', 'Drug Suppress Indicator',
       'Number of HCPCS Associated With Drug Services',
       'Number of Drug Services',
       'Number of Medicare Beneficiaries With Drug Services',
       'Total Drug Submitted Charge Amount',
       'Total Drug Medicare Allowed Amount',
       'Total Drug Medicare Payment Amount',
       'Total Drug Medicare Standardized Payment Amount',
       'Medical Suppress Indicator',
       'Number of HCPCS Associated With Medical Services',
       'Number of Medical Services',
       'Number of Medicare Beneficiaries With Medical Services',
       'Total Medical Submitted Charge Amount',
       'Total Medical Medicare Allowed Amount',
       'Total Medical Medicare Payment Amount',
       'Total Medical Medicare Standardized Payment Amount',
       'Average Age of Beneficiaries', 'Number of Beneficiaries Age Less 65',
       'Number of Beneficiaries Age 65 to 74',
       'Number of Beneficiaries Age 75 to 84',
       'Number of Beneficiaries Age Greater 84',
       'Number of Female Beneficiaries', 'Number of Male Beneficiaries',
       'Number of Non-Hispanic White Beneficiaries',
       'Number of Black or African American Beneficiaries',
       'Number of Asian Pacific Islander Beneficiaries',
       'Number of Hispanic Beneficiaries',
       'Number of American Indian/Alaska Native Beneficiaries',
       'Number of Beneficiaries With Race Not Elsewhere Classified',
       'Number of Beneficiaries With Medicare Only Entitlement',
       'Number of Beneficiaries With Medicare & Medicaid Entitlement',
       'Percent (%) of Beneficiaries Identified With Atrial Fibrillation',
       'Percent (%) of Beneficiaries Identified With Alzheimer’s Disease or Dementia',
       'Percent (%) of Beneficiaries Identified With Asthma',
       'Percent (%) of Beneficiaries Identified With Cancer',
       'Percent (%) of Beneficiaries Identified With Heart Failure',
       'Percent (%) of Beneficiaries Identified With Chronic Kidney Disease',
       'Percent (%) of Beneficiaries Identified With Chronic Obstructive Pulmonary Disease',
       'Percent (%) of Beneficiaries Identified With Depression',
       'Percent (%) of Beneficiaries Identified With Diabetes',
       'Percent (%) of Beneficiaries Identified With Hyperlipidemia',
       'Percent (%) of Beneficiaries Identified With Hypertension',
       'Percent (%) of Beneficiaries Identified With Ischemic Heart Disease',
       'Percent (%) of Beneficiaries Identified With Osteoporosis',
       'Percent (%) of Beneficiaries Identified With Rheumatoid Arthritis / Osteoarthritis',
       'Percent (%) of Beneficiaries Identified With Schizophrenia / Other Psychotic Disorders',
       'Percent (%) of Beneficiaries Identified With Stroke',
       'Average HCC Risk Score of Beneficiaries'],
      dtype='object')

In [5]:
df3[(df3['Provider Type of the Provider']=='Psychiatry') |
   (df3['Provider Type of the Provider']=='Psychologist, Clinical') |
   (df3['Provider Type of the Provider']=='Licensed Clinical Social Worker')].head(2)

,National Provider Identifier,Last Name/Organization Name of the Provider,First Name of the Provider,Middle Initial of the Provider,Credentials of the Provider,Gender of the Provider,Entity Type of the Provider,Street Address 1 of the Provider,Street Address 2 of the Provider,City of the Provider,...,Percent (%) of Beneficiaries Identified With Depression,Percent (%) of Beneficiaries Identified With Diabetes,Percent (%) of Beneficiaries Identified With Hyperlipidemia,Percent (%) of Beneficiaries Identified With Hypertension,Percent (%) of Beneficiaries Identified With Ischemic Heart Disease,Percent (%) of Beneficiaries Identified With Osteoporosis,Percent (%) of Beneficiaries Identified With Rheumatoid Arthritis / Osteoarthritis,Percent (%) of Beneficiaries Identified With Schizophrenia / Other Psychotic Disorders,Percent (%) of Beneficiaries Identified With Stroke,Average HCC Risk Score of Beneficiaries
12,1003000795,O'NEILL,MICHAEL,J,LICSW,M,I,1919 UNIVERSITY AVE W,NaN,SAINT PAUL,...,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,0.0,1.1759
19,1003001272,OCHOA-DURRELL,DEANNE,E,LCSW,F,I,125 FRANKLIN ST,NaN,RUMFORD,...,75.0,NaN,41.0,47.0,NaN,NaN,53.0,NaN,NaN,1.5331

In [6]:
df3 = df3[(df3['Provider Type of the Provider']=='Psychiatry') |
   (df3['Provider Type of the Provider']=='Psychologist, Clinical') |
   (df3['Provider Type of the Provider']=='Licensed Clinical Social Worker')]
len(df3)

2671

In [8]:
df3['Zip Code of the Provider'].nunique()

2126

In [10]:
df3[['Number of Black or African American Beneficiaries', 'Percent (%) of Beneficiaries Identified With Depression',]]

,Number of Black or African American Beneficiaries,Percent (%) of Beneficiaries Identified With Depression
0,NaN,47.0
1,39.0,15.0
2,60.0,44.0
3,NaN,53.0
4,NaN,23.0
...,...,...
49995,NaN,NaN
49996,NaN,65.0
49997,NaN,NaN
49998,18.0,44.0
49999,NaN,23.0

In [3]:
df3 = pd.read_csv('/home/vizziwo/Medicare_Physician_and_Other_Supplier_National_Provider_Identifier__NPI__Aggregate_Report__Calendar_Year_2018.csv')

/opt/miniconda3/envs/cap2/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3146: DtypeWarning: Columns (10) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [4]:
df3['Zip Code of the Provider'].nunique()

34626

In [60]:
x = df3.groupby(by='Zip Code of the Provider', as_index=False).agg({'Number of Medicare Beneficiaries':'sum',
                                            'Number of Black or African American Beneficiaries':'sum',
                                            'Percent (%) of Beneficiaries Identified With Depression':'mean'})
y = x['Zip Code of the Provider'].unique()
list(y)

[0.0,
 80.0,
 96.0,
 115.0,
 601.0,
 602.0,
 603,
 604.0,
 605,
 610.0,
 612.0,
 613.0,
 614.0,
 616.0,
 617,
 622,
 623,
 624.0,
 627.0,
 628.0,
 629.0,
 631.0,
 634.0,
 636.0,
 637.0,
 638,
 641.0,
 646.0,
 647,
 650.0,
 652.0,
 653.0,
 656,
 659.0,
 660,
 662,
 664.0,
 667.0,
 668.0,
 669.0,
 670.0,
 673,
 674.0,
 676.0,
 677.0,
 678.0,
 680.0,
 681,
 682.0,
 683.0,
 685.0,
 687,
 688.0,
 690.0,
 692.0,
 693.0,
 694.0,
 698.0,
 703.0,
 704.0,
 705.0,
 707.0,
 714,
 715.0,
 716.0,
 717.0,
 718.0,
 719.0,
 720.0,
 721.0,
 723,
 725.0,
 726,
 727.0,
 728,
 729.0,
 730.0,
 731,
 732.0,
 733.0,
 734.0,
 735,
 736.0,
 737.0,
 738.0,
 739.0,
 741,
 745.0,
 751.0,
 754.0,
 757.0,
 765.0,
 766.0,
 767.0,
 769.0,
 771.0,
 772.0,
 773,
 777.0,
 778.0,
 780.0,
 782.0,
 783,
 784,
 785.0,
 791.0,
 792.0,
 794.0,
 795.0,
 797.0,
 799,
 802.0,
 803.0,
 820.0,
 823,
 824.0,
 830,
 831.0,
 840.0,
 850.0,
 851.0,
 873.0,
 901.0,
 902,
 907.0,
 908.0,
 909.0,
 910,
 911.0,
 912.0,
 913.0,
 915.0,
 917.0,
 918.0,
 919.0,
 920.0,
 921.0,
 922,
 923.0,
 924.0,
 925.0,
 926.0,
 927.0,
 928.0,
 929.0,
 935.0,
 936.0,
 937.0,
 938.0,
 949.0,
 950.0,
 951.0,
 953.0,
 954.0,
 956.0,
 957.0,
 959.0,
 960,
 961.0,
 962,
 963.0,
 965,
 966.0,
 967.0,
 968.0,
 969.0,
 970.0,
 971.0,
 972.0,
 973.0,
 976,
 977.0,
 979.0,
 981.0,
 982.0,
 983.0,
 984.0,
 985.0,
 986.0,
 987.0,
 988.0,
 1001.0,
 1002.0,
 1003.0,
 1005.0,
 1007.0,
 1010.0,
 1013.0,
 1016.0,
 1020.0,
 1021,
 1027.0,
 1028.0,
 1030.0,
 1032,
 1033.0,
 1034.0,
 1035,
 1036.0,
 1038,
 1039.0,
 1040.0,
 1050.0,
 1053.0,
 1056,
 1057,
 1060.0,
 1061.0,
 1062.0,
 1064,
 1069.0,
 1073.0,
 1075,
 1077.0,
 1080,
 1082,
 1085.0,
 1088.0,
 1089.0,
 1095.0,
 1096.0,
 1098,
 1102,
 1103.0,
 1104.0,
 1105.0,
 1106,
 1107.0,
 1108.0,
 1109.0,
 1118.0,
 1119.0,
 1128,
 1129.0,
 1144.0,
 1151,
 1199.0,
 1201.0,
 1202.0,
 1220.0,
 1223.0,
 1225,
 1226.0,
 1230.0,
 1235.0,
 1236.0,
 1237.0,
 1238.0,
 1239.0,
 1240,
 1242.0,
 1247.0,
 1253.0,
 1255,
 1258.0,
 1259.0,
 1262.0,
 1266.0,
 1267.0,
 1270,
 1301.0,
 1331,
 1340,
 1341,
 1360.0,
 1364.0,
 1370.0,
 1373.0,
 1375.0,
 1376.0,
 1420.0,
 1430.0,
 1431.0,
 1432.0,
 1434.0,
 1436,
 1440.0,
 1450.0,
 1451.0,
 1452,
 1453.0,
 1460.0,
 1462.0,
 1463.0,
 1464.0,
 1468,
 1469.0,
 1473.0,
 1475,
 1501.0,
 1503,
 1504,
 1505.0,
 1506.0,
 1507.0,
 1510.0,
 1515,
 1516,
 1518.0,
 1519.0,
 1520.0,
 1522,
 1523.0,
 1524,
 1527.0,
 1529.0,
 1532.0,
 1534.0,
 1535,
 1536.0,
 1537.0,
 1540.0,
 1541.0,
 1542.0,
 1543,
 1545.0,
 1550.0,
 1551.0,
 1560.0,
 1562,
 1564.0,
 1566,
 1568.0,
 1569.0,
 1570,
 1571.0,
 1581.0,
 1583.0,
 1585.0,
 1588.0,
 1590.0,
 1602.0,
 1603.0,
 1604.0,
 1605.0,
 1606.0,
 1607,
 1608.0,
 1609.0,
 1610.0,
 1612.0,
 1655.0,
 1701.0,
 1702.0,
 1719.0,
 1720.0,
 1721.0,
 1730.0,
 1731,
 1740.0,
 1741.0,
 1742.0,
 1745.0,
 1746,
 1747.0,
 1748.0,
 1749.0,
 1752.0,
 1754.0,
 1756.0,
 1757.0,
 1760.0,
 1770,
 1772.0,
 1773.0,
 1775.0,
 1776.0,
 1778,
 1790,
 1801.0,
 1803.0,
 1805.0,
 1810.0,
 1821,
 1824.0,
 1826.0,
 1830.0,
 1832,
 1833.0,
 1834.0,
 1835.0,
 1840.0,
 1841.0,
 1842.0,
 1843.0,
 1844.0,
 1845.0,
 1850,
 1851.0,
 1852.0,
 1854.0,
 1860.0,
 1862.0,
 1863.0,
 1864.0,
 1867,
 1876,
 1879.0,
 1880.0,
 1886.0,
 1887.0,
 1890.0,
 1901.0,
 1902.0,
 1903,
 1904.0,
 1905.0,
 1906.0,
 1907.0,
 1908.0,
 1910.0,
 1913.0,
 1915.0,
 1921.0,
 1922,
 1923.0,
 1929.0,
 1930.0,
 1936,
 1938,
 1940,
 1944.0,
 1945,
 1948,
 1949.0,
 1950.0,
 1951.0,
 1952.0,
 1960.0,
 1966.0,
 1969,
 1970.0,
 1982.0,
 1983.0,
 1984.0,
 1985.0,
 2019,
 2021,
 2025,
 2026.0,
 2030.0,
 2032.0,
 2035,
 2038.0,
 2043.0,
 2045.0,
 2048.0,
 2050.0,
 2052.0,
 2053.0,
 2054.0,
 2056.0,
 2061.0,
 2062.0,
 2065.0,
 2066.0,
 2067.0,
 2072.0,
 2078,
 2081,
 2090.0,
 2093.0,
 2108.0,
 2109.0,
 2110.0,
 2111.0,
 2112.0,
 2113.0,
 2114.0,
 2115.0,
 2116.0,
 2117.0,
 2118.0,
 2119.0,
 2120.0,
 2121.0,
 2122,
 2124.0,
 2125.0,
 2126.0,
 2127.0,
 2128.0,
 2129.0,
 2130.0,
 2131.0,
 2132.0,
 2134.0,
 2135.0,
 2136.0,
 2138.0,
 2139.0,
 2140,
 2141.0,
 2142,
 2143.0,
 2144.0,
 2145.0,
 2146,
 2148.0,
 2149.0,
 2150.0,
 2151.0,
 2152.0,
 2154,
 2155.0,
 2159.0,
 2162.0,
 2169.0,
 2170.0,
 2171.0,
 2176.0,
 2178.0,
 2180.0,
 2184.0,
 2185.0,
 2186.0,
 2188.0,
 2189.0,
 2190.0,
 2191.0,
 2192.0,
 2199.0,
 2210.0,
 2211.0,
 2212.0,
 2214.0,
 2215.0,
 2218.0,
 2238.0,
 2241.0,
 2246.0,
 2301.0,
 2302.0,
 2322,
 2324.0,
 2325.0,
 2330,
 2331.0,
 2332.0,
 2333.0,
 2334.0,
 2338.0,
 2339.0,
 2341.0,
 2343,
 2346.0,
 2347.0,
 2351,
 2356.0,
 2359,
 2360.0,
 2364.0,
 2367.0,
 2368.0,
 2370,
 2375.0,
 2379.0,
 2382.0,
 2401.0,
 2420.0,
 2421.0,
 2445.0,
 2446.0,
 2451.0,
 2452.0,
 2453.0,
 2458.0,
 2459.0,
 2460,
 2461.0,
 2462.0,
 2464.0,
 2465.0,
 2466,
 2467.0,
 2468.0,
 2472.0,
 2474.0,
 2476.0,
 2478.0,
 2479,
 2481.0,
 2482.0,
 2486.0,
 2492.0,
 2493.0,
 2494,
 2532.0,
 2534.0,
 2535.0,
 2536.0,
 2537.0,
 2538.0,
 2539,
 2540.0,
 2541,
 2554,
 2556.0,
 2557.0,
 2559.0,
 2561.0,
 2562.0,
 2563.0,
 2568,
 2571,
 2575,
 2576.0,
 2601.0,
 2630.0,
 2631,
 2632.0,
 2633,
 2635.0,
 2638,
 2639.0,
 2641.0,
 2642.0,
 2644.0,
 2645.0,
 2646,
 2648,
 2649.0,
 2653.0,
 2655.0,
 2657,
 2659.0,
 2660.0,
 2664.0,
 2665,
 2667.0,
 2668,
 2670.0,
 2671.0,
 2673.0,
 2675.0,
 2702,
 2703.0,
 2715.0,
 2717.0,
 2719.0,
 2720.0,
 2721.0,
 2722.0,
 2723,
 2724.0,
 2725.0,
 2726.0,
 2738.0,
 2739.0,
 2740.0,
 2743,
 2744.0,
 2745.0,
 2746,
 2747.0,
 2748,
 2760.0,
 2762.0,
 2764.0,
 2766.0,
 2767.0,
 2769.0,
 2770.0,
 2771.0,
 2777.0,
 2779.0,
 2780.0,
 2790.0,
 2804,
 2806.0,
 2809,
 2813.0,
 2814,
 2816,
 2817,
 2818.0,
 2820.0,
 2822.0,
 2825.0,
 2827.0,
 2828.0,
 2829.0,
 2830.0,
 2831.0,
 2832.0,
 2835.0,
 2837.0,
 2840.0,
 2841,
 2842,
 2852.0,
 2857.0,
 2858.0,
 2859.0,
 2860.0,
 2861.0,
 2863.0,
 2864.0,
 2865,
 2871.0,
 2874,
 2876,
 2878.0,
 2879.0,
 2882.0,
 2885.0,
 2886.0,
 2888.0,
 2889.0,
 2891.0,
 2892.0,
 2893.0,
 2895.0,
 2896.0,
 2898,
 2903.0,
 2904.0,
 2905.0,
 2906.0,
 2907.0,
 2908.0,
 2909.0,
 2910.0,
 2911.0,
 2912.0,
 2914.0,
 2915.0,
 2916.0,
 2917.0,
 2919.0,
 2920.0,
 2921,
 2940,
 2989.0,
 3031,
 3032.0,
 3034,
 3038.0,
 3042.0,
 3045.0,
 3046,
 3047.0,
 3049.0,
 3051.0,
 3052,
 3053.0,
 3054.0,
 3055.0,
 3057.0,
 3060.0,
 3061.0,
 3062.0,
 3063.0,
 3064.0,
 3070.0,
 3071.0,
 3076,
 3077.0,
 3079.0,
 3086.0,
 3087.0,
 3101.0,
 3102.0,
 3103.0,
 3104.0,
 3106.0,
 3109.0,
 3110.0,
 3215.0,
 3216.0,
 3220.0,
 3222,
 3223.0,
 3226.0,
 3229.0,
 3234.0,
 3235.0,
 3242.0,
 3244.0,
 3246,
 3247.0,
 3249.0,
 3251,
 3253,
 3254.0,
 3255,
 3256.0,
 3257.0,
 3258,
 3261.0,
 3262.0,
 3263.0,
 3264.0,
 3269,
 3275,
 3276.0,
 3278.0,
 3280.0,
 3290.0,
 3301.0,
 3303.0,
 3304.0,
 3307.0,
 3431.0,
 3440.0,
 3443,
 3447.0,
 3449.0,
 3451.0,
 3452.0,
 3457.0,
 3458.0,
 3461.0,
 3462.0,
 3467.0,
 3470.0,
 3561.0,
 3570.0,
 3574.0,
 3576.0,
 3579.0,
 3580.0,
 3581.0,
 3582.0,
 3583,
 3584.0,
 3592.0,
 3595.0,
 3598.0,
 3602.0,
 3603,
 3608.0,
 3681,
 3741.0,
 3743,
 3748,
 3753,
 3755.0,
 3756.0,
 3765.0,
 3766.0,
 3768.0,
 3773.0,
 3774.0,
 3784.0,
 3785.0,
 3801.0,
 3804.0,
 3805,
 3809.0,
 3811.0,
 3813,
 3815,
 3816.0,
 3818.0,
 3820.0,
 3823.0,
 3824.0,
 3825,
 3826.0,
 3827.0,
 3833.0,
 3835,
 3837,
 3838.0,
 3840.0,
 3841,
 3842,
 3843.0,
 3844.0,
 3848.0,
 3851.0,
 3854,
 3855,
 3857.0,
 3858,
 3860.0,
 3861.0,
 3862.0,
 3864.0,
 3865,
 3867.0,
 3868.0,
 3870,
 3872.0,
 3874,
 3878.0,
 3885.0,
 3886.0,
 3887.0,
 3894,
 3896.0,
 3901.0,
 3903.0,
 3904,
 3906,
 3907.0,
 3908.0,
 3909,
 4001.0,
 4002.0,
 4005.0,
 4009.0,
 4011.0,
 4015,
 4020.0,
 4021.0,
 4027.0,
 4029.0,
 4030.0,
 4032.0,
 4037.0,
 4038,
 4039.0,
 4040.0,
 4041,
 4042.0,
 4043.0,
 4046.0,
 4048.0,
 4049.0,
 4051,
 4054.0,
 4055.0,
 4062.0,
 4064,
 4068.0,
 4071.0,
 4072,
 4073.0,
 4074.0,
 4076.0,
 4079.0,
 4083.0,
 4084.0,
 4085.0,
 4086.0,
 4087,
 4090.0,
 4092.0,
 4093,
 4095.0,
 4096.0,
 4097.0,
 4101.0,
 4102.0,
 4103.0,
 4104,
 4105.0,
 4106.0,
 4107,
 4110.0,
 4210.0,
 4217,
 4220.0,
 4224.0,
 4231.0,
 4236.0,
 4239,
 4240.0,
 4243,
 4250.0,
 4252.0,
 4254.0,
 4256.0,
 4257.0,
 4259,
 4260,
 4263.0,
 4268.0,
 4270.0,
 4274.0,
 4276.0,
 4282.0,
 4289,
 4330.0,
 4332.0,
 4333.0,
 4341,
 4342.0,
 4344.0,
 4345,
 4346.0,
 4347,
 4351.0,
 4355.0,
 4357.0,
 4358,
 4364.0,
 4401.0,
 4402,
 4412.0,
 4414.0,
 4416,
 4419,
 4421.0,
 4424.0,
 4426.0,
 4429.0,
 4430,
 ...]

In [137]:
df3

,National Provider Identifier,Last Name/Organization Name of the Provider,First Name of the Provider,Middle Initial of the Provider,Credentials of the Provider,Gender of the Provider,Entity Type of the Provider,Street Address 1 of the Provider,Street Address 2 of the Provider,City of the Provider,...,Percent (%) of Beneficiaries Identified With Depression,Percent (%) of Beneficiaries Identified With Diabetes,Percent (%) of Beneficiaries Identified With Hyperlipidemia,Percent (%) of Beneficiaries Identified With Hypertension,Percent (%) of Beneficiaries Identified With Ischemic Heart Disease,Percent (%) of Beneficiaries Identified With Osteoporosis,Percent (%) of Beneficiaries Identified With Rheumatoid Arthritis / Osteoarthritis,Percent (%) of Beneficiaries Identified With Schizophrenia / Other Psychotic Disorders,Percent (%) of Beneficiaries Identified With Stroke,Average HCC Risk Score of Beneficiaries
0,1003000126,ENKESHAFI,ARDALAN,NaN,M.D.,M,I,900 SETON DR,NaN,CUMBERLAND,...,47.0,53.0,75.0,75.0,55.0,11.0,56.0,9.0,11.0,2.2948
1,1003000134,CIBULL,THOMAS,L,M.D.,M,I,2650 RIDGE AVE,EVANSTON HOSPITAL,EVANSTON,...,15.0,20.0,51.0,53.0,27.0,10.0,39.0,1.0,3.0,1.0899
2,1003000142,KHALIL,RASHID,NaN,M.D.,M,I,4126 N HOLLAND SYLVANIA RD,SUITE 220,TOLEDO,...,44.0,31.0,51.0,68.0,35.0,5.0,75.0,6.0,5.0,1.7085
3,1003000407,GIRARDI,DAVID,J,D.O.,M,I,100 HOSPITAL RD,NaN,BROOKVILLE,...,53.0,39.0,67.0,75.0,57.0,21.0,46.0,15.0,9.0,2.1838
4,1003000423,VELOTTA,JENNIFER,A,M.D.,F,I,11100 EUCLID AVE,NaN,CLEVELAND,...,23.0,23.0,49.0,56.0,21.0,NaN,41.0,NaN,NaN,1.0221
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1121457,1992999551,MOLAI,INDIRA,NaN,M.D.,F,I,625 E GRAND AVE,NaN,ESCONDIDO,...,32.0,26.0,54.0,71.0,28.0,10.0,41.0,4.0,7.0,1.3348
1121458,1992999569,YUEN,JENNY,F,"O.D., F.A.A.O",F,I,515 GOUGH ST,NaN,SAN FRANCISCO,...,NaN,43.0,75.0,75.0,NaN,NaN,NaN,NaN,0.0,0.9473
1121459,1992999759,SORIANO,DINO,V,RN MSN HSA FNP-C,M,I,171 CLOVER POINT CIR,NaN,GUYTON,...,47.0,30.0,57.0,73.0,29.0,NaN,56.0,NaN,NaN,1.1060
1121460,1992999775,"SPINE SURGERY CENTER OF EUGENE, LLC",NaN,NaN,NaN,NaN,O,1410 OAK ST,SUITE 300,EUGENE,...,26.0,30.0,54.0,67.0,27.0,NaN,75.0,NaN,NaN,0.9081
1121461,1992999825,DESCHENES,GEOFFREY,R,M.D.,M,I,1100 9TH AVE,MS:M4-PFS,SEATTLE,...,19.0,24.0,40.0,52.0,23.0,7.0,40.0,NaN,4.0,1.1998

In [19]:
df3.groupby(by='Zip Code of the Provider')['Number of Medicare Beneficiaries',
                                            'Number of Black or African American Beneficiaries',
                                            'Percent (%) of Beneficiaries Identified With Depression']

/opt/miniconda3/envs/cap2/lib/python3.7/site-packages/ipykernel_launcher.py:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  """Entry point for launching an IPython kernel.

In [61]:
import numpy as np
y = list(df3['Zip Code of the Provider'].unique())
list(np.sort(y))

['0.0',
 '001',
 '00601',
 '00602',
 '00603',
 '00604',
 '00605',
 '00610',
 '00611',
 '00612',
 '00613',
 '00614',
 '00616',
 '00617',
 '00623',
 '00627',
 '00631',
 '00637',
 '00641',
 '00646',
 '00647',
 '00648',
 '00653',
 '00656',
 '00659',
 '00660',
 '00662',
 '00667',
 '00669',
 '00674',
 '00676',
 '00677',
 '00678',
 '00680',
 '00681',
 '00682',
 '00683',
 '00685',
 '00687',
 '00692',
 '00693',
 '00694',
 '00698',
 '00703',
 '00705',
 '00714',
 '00715',
 '00716',
 '00717',
 '00718',
 '00719',
 '00720',
 '00723',
 '00725',
 '00726',
 '00727',
 '00728',
 '00729',
 '00730',
 '00731',
 '00733',
 '00735',
 '00736',
 '00737',
 '00738',
 '00739',
 '00745',
 '00751',
 '00754',
 '00757',
 '00765',
 '00766',
 '00767',
 '00769',
 '00771',
 '00772',
 '00775',
 '00777',
 '00778',
 '00780',
 '00782',
 '00783',
 '00784',
 '00785',
 '00791',
 '00792',
 '00794',
 '00795',
 '00802',
 '00820',
 '00824',
 '00830',
 '00850',
 '00901',
 '00907',
 '00909',
 '00910',
 '00911',
 '00912',
 '00913',
 '00914',
 '00915',
 '00917',
 '00918',
 '00919',
 '00920',
 '00921',
 '00922',
 '00923',
 '00924',
 '00925',
 '00926',
 '00927',
 '00929',
 '00935',
 '00936',
 '00949',
 '00953',
 '00954',
 '00956',
 '00957',
 '00959',
 '00960',
 '00961',
 '00962',
 '00966',
 '00968',
 '00969',
 '00970',
 '00971',
 '00976',
 '00978',
 '00979',
 '00982',
 '00983',
 '00984',
 '00985',
 '00987',
 '01001',
 '01002',
 '01005',
 '01007',
 '01010',
 '01013',
 '01020',
 '01027',
 '01028',
 '01030',
 '01035',
 '01038',
 '01040',
 '01044',
 '01053',
 '01056',
 '01057',
 '01060',
 '01062',
 '01069',
 '01073',
 '01075',
 '01077',
 '01082',
 '01083',
 '01085',
 '01089',
 '01095',
 '01096',
 '01101',
 '01103',
 '01104',
 '01105',
 '01106',
 '01107',
 '01108',
 '01109',
 '01118',
 '01119',
 '01128',
 '01151',
 '01199',
 '01201',
 '01220',
 '01230',
 '01238',
 '01240',
 '01247',
 '01266',
 '01267',
 '01301',
 '01331',
 '01337',
 '01339',
 '01346',
 '01366',
 '01373',
 '01375',
 '01376',
 '01420',
 '01432',
 '01436',
 '01440',
 '01450',
 '01451',
 '01453',
 '01460',
 '01463',
 '01473',
 '01475',
 '01501',
 '01507',
 '01510',
 '01516',
 '01520',
 '01523',
 '01527',
 '01532',
 '01534',
 '01536',
 '01537',
 '01540',
 '01545',
 '01550',
 '01562',
 '01564',
 '01566',
 '01568',
 '01569',
 '01570',
 '01571',
 '01581',
 '01583',
 '01588',
 '01590',
 '01602',
 '01603',
 '01604',
 '01605',
 '01606',
 '01607',
 '01608',
 '01609',
 '01610',
 '01655',
 '01701',
 '01702',
 '01720',
 '01721',
 '01730',
 '01740',
 '01741',
 '01742',
 '01743',
 '01746',
 '01747',
 '01748',
 '01749',
 '01752',
 '01754',
 '01757',
 '01760',
 '01772',
 '01776',
 '01778',
 '01801',
 '01803',
 '01805',
 '01806',
 '01810',
 '01821',
 '01824',
 '01826',
 '01830',
 '01832',
 '01834',
 '01835',
 '01840',
 '01841',
 '01842',
 '01843',
 '01844',
 '01845',
 '01850',
 '01851',
 '01852',
 '01854',
 '01860',
 '01862',
 '01863',
 '01864',
 '01867',
 '01876',
 '01880',
 '01886',
 '01887',
 '01890',
 '01901',
 '01902',
 '01904',
 '01905',
 '01906',
 '01907',
 '01910',
 '01913',
 '01915',
 '01921',
 '01923',
 '01930',
 '01938',
 '01940',
 '01944',
 '01945',
 '01949',
 '01950',
 '01952',
 '01960',
 '01969',
 '01970',
 '01982',
 '01984',
 '02019',
 '02021',
 '02025',
 '02026',
 '02030',
 '02032',
 '02035',
 '02038',
 '02043',
 '02048',
 '02050',
 '02052',
 '02053',
 '02054',
 '02056',
 '02061',
 '02062',
 '02066',
 '02067',
 '02072',
 '02081',
 '02090',
 '02093',
 '02108',
 '02109',
 '02110',
 '02111',
 '02113',
 '02114',
 '02115',
 '02116',
 '02118',
 '02119',
 '02120',
 '02121',
 '02122',
 '02124',
 '02125',
 '02126',
 '02127',
 '02128',
 '02129',
 '02130',
 '02131',
 '02132',
 '02134',
 '02135',
 '02136',
 '02138',
 '02139',
 '02140',
 '02141',
 '02142',
 '02143',
 '02144',
 '02145',
 '02148',
 '02149',
 '02150',
 '02151',
 '02152',
 '02155',
 '02169',
 '02170',
 '02171',
 '02176',
 '02180',
 '02184',
 '02186',
 '02188',
 '02189',
 '02190',
 '02191',
 '02210',
 '02215',
 '02234',
 '02238',
 '02301',
 '02302',
 '02322',
 '02324',
 '02330',
 '02332',
 '02333',
 '02339',
 '02341',
 '02343',
 '02346',
 '02347',
 '02351',
 '02356',
 '02359',
 '02360',
 '02364',
 '02368',
 '02370',
 '02375',
 '02379',
 '02382',
 '02401',
 '02420',
 '02421',
 '02428',
 '02445',
 '02446',
 '02451',
 '02452',
 '02453',
 '02458',
 '02459',
 '02460',
 '02461',
 '02462',
 '02464',
 '02465',
 '02466',
 '02467',
 '02468',
 '02472',
 '02474',
 '02476',
 '02478',
 '02481',
 '02482',
 '02492',
 '02493',
 '02494',
 '02532',
 '02535',
 '02537',
 '02538',
 '02540',
 '02554',
 '02556',
 '02557',
 '02561',
 '02563',
 '02568',
 '02571',
 '02575',
 '02601',
 '02630',
 '02631',
 '02632',
 '02633',
 '02635',
 '02638',
 '02644',
 '02645',
 '02648',
 '02649',
 '02650',
 '02653',
 '02655',
 '02660',
 '02664',
 '02671',
 '02673',
 '02675',
 '02703',
 '02715',
 '02717',
 '02718',
 '02719',
 '02720',
 '02721',
 '02722',
 '02723',
 '02724',
 '02725',
 '02726',
 '02738',
 '02739',
 '02740',
 '02743',
 '02744',
 '02745',
 '02747',
 '02748',
 '02760',
 '02762',
 '02766',
 '02767',
 '02769',
 '02770',
 '02771',
 '02777',
 '02780',
 '02790',
 '02806',
 '02809',
 '02813',
 '02816',
 '02818',
 '02828',
 '02830',
 '02831',
 '02832',
 '02835',
 '02840',
 '02842',
 '02852',
 '02857',
 '02859',
 '02860',
 '02861',
 '02863',
 '02864',
 '02865',
 '02871',
 '02876',
 '02878',
 '02879',
 '02882',
 '02885',
 '02886',
 '02888',
 '02889',
 '02891',
 '02893',
 '02895',
 '02896',
 '02903',
 '02904',
 '02905',
 '02906',
 '02907',
 '02908',
 '02909',
 '02910',
 '02911',
 '02914',
 '02915',
 '02917',
 '02919',
 '02920',
 '02940',
 '03031',
 '03034',
 '03038',
 '03042',
 '03049',
 '03051',
 '03053',
 '03054',
 '03055',
 '03060',
 '03062',
 '03063',
 '03064',
 '03070',
 '03076',
 '03077',
 '03079',
 '03087',
 '03101',
 '03102',
 '03103',
 '03104',
 '03106',
 '03109',
 '03110',
 '03220',
 '03222',
 '03223',
 '03224',
 '03225',
 '03229',
 '03235',
 '03240',
 '03241',
 '03242',
 '03244',
 '03246',
 '03249',
 '03251',
 '03253',
 '03256',
 '03257',
 '03264',
 '03276',
 '03278',
 '03279',
 '03281',
 '03301',
 '03303',
 '03304',
 '03431',
 '03435',
 '03447',
 '03452',
 '03458',
 '03461',
 '03462',
 '03465',
 '03470',
 '03561',
 '03570',
 '03580',
 '03581',
 '03584',
 '03585',
 '03595',
 '03598',
 '03603',
 '03743',
 '03748',
 '03755',
 '03756',
 '03766',
 '03768',
 '03773',
 '03784',
 '03785',
 '03801',
 '03809',
 '03818',
 '03820',
 '03824',
 '03825',
 '03827',
 '03833',
 '03835',
 '03840',
 '03841',
 '03842',
 '03844',
 '03848',
 '03857',
 '03860',
 '03861',
 '03862',
 '03864',
 '03865',
 '03867',
 '03874',
 '03878',
 '03885',
 '03894',
 '03901',
 '03904',
 '03905',
 '03908',
 '03909',
 '04005',
 '04009',
 '04011',
 '04030',
 '04032',
 '04038',
 '04043',
 '04046',
 '04062',
 '04064',
 '04066',
 '04068',
 '04071',
 '04072',
 '04073',
 '04074',
 '04077',
 '04079',
 '04083',
 '04086',
 '04087',
 '04090',
 '04092',
 '04093',
 '04096',
 '04101',
 '04102',
 '04103',
 '04105',
 '04106',
 '04107',
 '04210',
 '04217',
 '04240',
 '04250',
 '04254',
 '04259',
 '04263',
 '04268',
 '04274',
 '04276',
 '04282',
 '04330',
 '04333',
 '04341',
 '04345',
 '04347',
 '04350',
 '04351',
 '04364',
 '04401',
 '04412',
 '04416',
 '04426',
 '04427',
 '04429',
 '04444',
 '04457',
 '04462',
 '04463',
 '04468',
 '04473',
 '04474',
 '04496',
 '04530',
 '04538',
 '04543',
 '04553',
 '04572',
 '04605',
 '04607',
 '04609',
 '04614',
 '04619',
 '04643',
 '04654',
 '04668',
 '04669',
 '04679',
 '04681',
 '04693',
 '04730',
 '04736',
 '04739',
 '04742',
 '04743',
 '04756',
 '04769',
 '04776',
 '04785',
 '04841',
 '04843',
 '04848',
 '04856',
 '04863',
 '04901',
 '04910',
 '04915',
 '04921',
 '04930',
 '04937',
 '04938',
 '04943',
 '04949',
 '04950',
 '04953',
 '04963',
 '04967',
 '04976',
 '04983',
 '04988',
 '04989',
 '05001',
 '05009',
 '05033',
 '05040',
 '05047',
 '05055',
 '05060',
 '05068',
 '05089',
 '05091',
 '05101',
 '05143',
 '05148',
 '05154',
 '05156',
 '05158',
 '05201',
 '05250',
 '05251',
 '05254',
 '05255',
 '05301',
 '05302',
 '05346',
 '05353',
 '05355',
 '05363',
 '05401',
 '05403',
 '05404',
 '05405',
 '05408',
 '05443',
 '05444',
 '05446',
 '05450',
 '05452',
 '05454',
 '05461',
 '05464',
 '05465',
 '05468',
 '05476',
 '05477',
 '05478',
 '05486',
 '05488',
 '05491',
 '05495',
 '05602',
 '05641',
 '05661',
 '05663',
 '05667',
 '05671',
 '05672',
 '05673',
 '05676',
 '05677',
 '05701',
 '05732',
 '05733',
 '05743',
 '05753',
 '05778',
 '05819',
 '05822',
 '05828',
 '05830',
 '05843',
 '05851',
 '05855',
 '05860',
 '06001',
 '06002',
 '06010',
 '06011',
 '06013',
 '06018',
 '06019',
 '06026',
 '06029',
 '06030',
 '06032',
 '06033',
 '06035',
 '06037',
 '06040',
 '06042',
 '06043',
 '06050',
 '06051',
 '06052',
 '06053',
 '06060',
 '06062',
 '06066',
 '06067',
 '06069',
 '06070',
 '06071',
 '06074',
 '06076',
 '06078',
 '06082',
 '06084',
 '06085',
 '06088',
 '06089',
 '06095',
 '06096',
 '06098',
 '06102',
 '06103',
 '06105',
 '06106',
 '06107',
 '06108',
 '06109',
 '06110',
 '06111',
 '06112',
 '06114',
 '06117',
 '06118',
 '06119',
 '06141',
 '06226',
 '06237',
 '06238',
 '06239',
 '06241',
 '06248',
 '06250',
 '06254',
 '06255',
 '06260',
 '06268',
 '06278',
 '06281',
 '06320',
 '06333',
 '06334',
 '06335',
 '06340',
 '06351',
 '06355',
 '06357',
 '06359',
 '06360',
 '06370',
 '06371',
 '06374',
 '06378',
 '06379',
 '06382',
 '06385',
 '06401',
 '06404',
 '06405',
 '06409',
 '06410',
 '06413',
 '06415',
 '06416',
 '06418',
 '06419',
 '06420',
 '06422',
 '06424',
 '06426',
 '06437',
 '06441',
 '06443',
 '06447',
 '06450',
 '06451',
 '06457',
 '06460',
 '06461',
 '06468',
 '06469',
 '06470',
 '06471',
 '06472',
 '06473',
 '06475',
 '06477',
 '06478',
 '06479',
 '06480',
 '06482',
 '06483',
 '06484',
 '06488',
 '06489',
 '06492',
 '06498',
 '06504',
 '06508',
 '06510',
 '06511',
 '06512',
 '06513',
 '06514',
 '06515',
 '06516',
 '06517',
 '06518',
 '06519',
 '06520',
 '06524',
 '06525',
 '06604',
 '06605',
 '06606',
 '06608',
 '06610',
 '06611',
 '06614',
 '06615',
 '06702',
 '06705',
 '06706',
 '06708',
 ...]

In [74]:
y='0'
y.as

AttributeError: 'str' object has no attribute 'astype'

In [83]:
x['Zip Code of the Provider'] = x['Zip Code of the Provider'].astype('int', errors='ignore').apply(lambda x: '{0:0>7}'.format(x)).astype('int', errors='ignore')

In [102]:
y = x['Zip Code of the Provider'].astype('float', errors='ignore').astype('int', errors='ignore')

In [130]:
y = y.apply(lambda x: x.replace('x.0'))

In [131]:
y

0        00000.0
1        00080.0
2        00096.0
3        00115.0
4        00601.0
          ...
34621    00P3E6H
34622    00SP606
34623    00T2N2T
34624    00V5Z0A
34625    00V6Y 2
Name: Zip Code of the Provider, Length: 34626, dtype: object

## HPSAs by Zip

In [13]:
df4 = pd.read_csv('/home/vizziwo/results-20201205-143407.csv')

/opt/miniconda3/envs/cap2/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3146: DtypeWarning: Columns (67,68,73) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [14]:
df4.head()

,Source_ID,Source_Name,Status_Code,Status_Description,Type_Code,Type_Desc,Address,City,State_Abbr,Postal_Code,...,Common_State_Name,Common_State_FIPS,Common_Region_Name,HPSA_Withdrawn_Date,HPSA_Withdrawn_Date_String,Provider_Type,Rural_Status_Code,Rural_Status_Desc,HPSA_Designation_Pop_Type_Desc,BHCMIS_OrgID
0,7549995446,East Ridge Health Systems - Martinsburg,W,Withdrawn,OFAC,Other Facility,235 S Water St,Martinsburg,WV,25401-4241,...,West Virginia,54,Region III,2012-05-25,5/25/2012,NaN,N,Non-Rural,Other Facility,NaN
1,7549995415,Fairmont General Hospital,W,Withdrawn,OFAC,Other Facility,1325 Locust Ave,Fairmont,WV,26554-1435,...,West Virginia,54,Region III,2012-03-30,3/30/2012,NaN,R,Rural,Other Facility,NaN
2,7389993809,Northwest Human Services Center,W,Withdrawn,OFAC,Other Facility,316 2nd Ave W,Williston,ND,58801-5218,...,North Dakota,38,Region VIII,2013-08-15,8/15/2013,NaN,R,Rural,Other Facility,NaN
3,7389993808,Family Health Care Center,W,Withdrawn,OFAC,Other Facility,NaN,NaN,ND,NaN,...,North Dakota,38,Region VIII,2005-10-14,10/14/2005,NaN,U,Unknown,Other Facility,NaN
4,7389993807,Southeast Human Services Center,W,Withdrawn,OFAC,Other Facility,2627 9th St N,Fargo,ND,58102-1317,...,North Dakota,38,Region VIII,2014-06-25,6/25/2014,NaN,N,Non-Rural,Other Facility,NaN

In [15]:
df4.columns

Index(['Source_ID', 'Source_Name', 'Status_Code', 'Status_Description',
       'Type_Code', 'Type_Desc', 'Address', 'City', 'State_Abbr',
       'Postal_Code', 'Degree_of_Shortage', 'Designation_Date',
       'Designation_Last_Update_Date', 'Designation_Pop',
       'Estimated_Underserved_Pop', 'Estimated_Served_Pop', 'Formal_Ratio',
       'Total_FTE_Clinicians', 'Metropolitan_Indicator_Code',
       'Metropolitan_Indicator_Desc', 'Provider_Ratio_Goal',
       'Percent_Pop_Below_Poverty', 'HPSA_Score', 'HPSA_Shortage',
       'Discipline_Class_Num', 'Discipline_Class_Desc', 'Component_Source_ID',
       'Component_Source_Name', 'Component_Status_Code',
       'Component_Status_Desc', 'Component_Type_Code', 'Component_Type_Desc',
       'Component_State_Abbr', 'Component_Postal_Code',
       'Component_Designation_Date', 'Component_Designation_Date_String',
       'Component_Designation_Last_Update_Date', 'Geography_ID', 'CountyFIPS',
       'County_Name', 'StateCountyFIPS', 'State_FIPS', 'State_Abbr_2',
       'State_Name', 'Primary_State_Name', 'Primary_State_FIPS',
       'Primary_HHS_Region_Name', 'US_Mexico_Border_County',
       'US_Mexico_Border_100km', 'Data_Warehouse_Record_Create_Date',
       'Data_Warehouse_Record_Create_Date_Text', 'HPSA_Name',
       'HPSA_Component_Name', 'Break_in_Designation', 'Geocoding_Primary_X',
       'Geocoding_Primary_Y', 'HPSA_Pop_Type_Code', 'HPSA_Pop_Type_Desc',
       'HPSA_Resident_Civilian_Pop', 'Common_City_Name_with_State_Abbr',
       'Common_Postal_Code', 'Common_County_Name', 'Common_StateCounty_FIPS',
       'Common_State_Abbr', 'Common_State_Name', 'Common_State_FIPS',
       'Common_Region_Name', 'HPSA_Withdrawn_Date',
       'HPSA_Withdrawn_Date_String', 'Provider_Type', 'Rural_Status_Code',
       'Rural_Status_Desc', 'HPSA_Designation_Pop_Type_Desc', 'BHCMIS_OrgID'],
      dtype='object')

In [18]:
df4.Postal_Code.nunique()

2316

In [24]:
df4.City.nunique()

1653

In [25]:
df0 = pd.read_csv('/home/vizziwo/medicaire_hpsa.csv')

In [29]:
df0.columns

Index(['HPSA Name', 'HPSA ID', 'Designation Type', 'HPSA Discipline Class',
       'HPSA Score', 'Primary State Abbreviation', 'HPSA Status',
       'HPSA Designation Date', 'HPSA Designation Last Update Date',
       'Metropolitan Indicator', 'HPSA Geography Identification Number',
       'HPSA Degree of Shortage', 'Withdrawn Date', 'HPSA FTE',
       'HPSA Designation Population', '% of Population Below 100% Poverty',
       'HPSA Formal Ratio', 'HPSA Population Type', 'Primary HHS Region Name',
       'Rural Status', 'Longitude', 'Latitude',
       'BHCMIS Organization Identification Number', 'Break in Designation',
       'Common County Name', 'Common Postal Code', 'Common Region Name',
       'Common State Abbreviation', 'Common State County FIPS Code',
       'Common State FIPS Code', 'Common State Name', 'County Equivalent Name',
       'County or County Equivalent Federal Information Processing Standard Code',
       'Discipline Class Number', 'HPSA Address', 'HPSA City',
       'HPSA Component Name', 'HPSA Component Source Identification Number',
       'HPSA Component State Abbreviation', 'HPSA Component Type Code',
       'HPSA Component Type Description',
       'HPSA Designation Population Type Description',
       'HPSA Estimated Served Population',
       'HPSA Estimated Underserved Population',
       'HPSA Metropolitan Indicator Code', 'HPSA Population Type Code',
       'HPSA Postal Code', 'HPSA Provider Ratio Goal',
       'HPSA Resident Civilian Population', 'HPSA Shortage',
       'HPSA Status Code', 'HPSA Type Code', 'HPSA Withdrawn Date String',
       'Primary State FIPS Code', 'Primary State Name', 'Provider Type',
       'Rural Status Code', 'State Abbreviation',
       'State and County Federal Information Processing Standard Code',
       'State FIPS Code', 'State Name',
       'U.S. - Mexico Border 100 Kilometer Indicator',
       'U.S. - Mexico Border County Indicator',
       'Data Warehouse Record Create Date',
       'Data Warehouse Record Create Date Text', 'Unnamed: 65'],
      dtype='object')

In [31]:
df0['Common Postal Code'].nunique()

4177

In [33]:
df0['HPSA Postal Code'].nunique()

5406

THIS PROBABLY ISN'T USEFUL

## Census Data by Zip Code

In [132]:
df5 = pd.read_csv('/home/vizziwo/drive_census_zipcode.csv')

In [133]:
df5.shape

(33120, 240)

In [134]:
df5.columns

Index(['geo_id', 'do_date', 'total_pop', 'households', 'male_pop',
       'female_pop', 'median_age', 'male_under_5', 'male_5_to_9',
       'male_10_to_14',
       ...
       'management_business_sci_arts_employed', 'sales_office_employed',
       'in_grades_1_to_4', 'in_grades_5_to_8', 'in_grades_9_to_12',
       'in_school', 'in_undergrad_college', 'speak_only_english_at_home',
       'speak_spanish_at_home', 'speak_spanish_at_home_low_english'],
      dtype='object', length=240)

In [135]:
df5.head()

,geo_id,do_date,total_pop,households,male_pop,female_pop,median_age,male_under_5,male_5_to_9,male_10_to_14,...,management_business_sci_arts_employed,sales_office_employed,in_grades_1_to_4,in_grades_5_to_8,in_grades_9_to_12,in_school,in_undergrad_college,speak_only_english_at_home,speak_spanish_at_home,speak_spanish_at_home_low_english
0,87537,2014-01-01,2510,856,1283,1227,42.1,58,75,87,...,NaN,NaN,304,171,80,593,20,NaN,NaN,NaN
1,87017,2014-01-01,346,112,150,196,50.9,0,0,12,...,NaN,NaN,0,27,15,96,40,NaN,NaN,NaN
2,87528,2014-01-01,3505,727,1758,1747,27.9,260,194,159,...,NaN,NaN,293,266,298,1237,138,NaN,NaN,NaN
3,87533,2014-01-01,133,58,49,84,25.8,0,12,8,...,NaN,NaN,24,8,7,58,3,NaN,NaN,NaN
4,87511,2014-01-01,2896,787,1177,1719,36.0,142,63,44,...,NaN,NaN,263,107,163,1008,279,NaN,NaN,NaN

In [1]:
df5.merge(df3, how='inner', left_on ='geo_id', right_on = 'Zip Code of the Provider')

NameError: name 'df5' is not defined

# County Level Data, for years 2012 through 2018

## Prevalence (% of beneficiaries / total population, i think. Or total beneficiaries)

In [56]:
df = pd.read_csv('/home/vizziwo/mmd_data (5).csv')

In [57]:
df.head()

,year,geography,measure,adjustment,analysis,domain,condition,primary_sex,primary_age,primary_dual,fips,county,state,urban,primary_race,primary_eligibility,primary_denominator,analysis_value
0,2018,County,Prevalence,Unsmoothed actual,Base measure,Primary chronic conditions,Depression,All,All,Dual & non-dual,1001,Autauga County,ALABAMA,Urban,Black,All,500-999,11
1,2018,County,Prevalence,Unsmoothed actual,Base measure,Primary chronic conditions,Depression,All,All,Dual & non-dual,1003,Baldwin County,ALABAMA,Rural,Black,All,"1,000-4,999",11
2,2018,County,Prevalence,Unsmoothed actual,Base measure,Primary chronic conditions,Depression,All,All,Dual & non-dual,1005,Barbour County,ALABAMA,Rural,Black,All,500-999,14
3,2018,County,Prevalence,Unsmoothed actual,Base measure,Primary chronic conditions,Depression,All,All,Dual & non-dual,1007,Bibb County,ALABAMA,Urban,Black,All,11-499,14
4,2018,County,Prevalence,Unsmoothed actual,Base measure,Primary chronic conditions,Depression,All,All,Dual & non-dual,1009,Blount County,ALABAMA,Urban,Black,All,11-499,18

In [58]:
df.primary_denominator.unique()

array(['500-999', '1,000-4,999', '11-499', '10,000+', '5,000-9,999'],
      dtype=object)

In [59]:
df.shape

(2145, 18)

##  AVG PRINCIPAL COST (there's another dataset for total cost)

In [51]:
dg = pd.read_csv('/home/vizziwo/mmd_data (4).csv')

In [52]:
dg.head()

,year,geography,measure,adjustment,analysis,domain,condition,primary_sex,primary_age,primary_dual,fips,county,state,urban,primary_race,primary_eligibility,primary_denominator,analysis_value
0,2018,County,Average principal cost,Unsmoothed actual,Base measure,Primary chronic conditions,Depression,All,All,Dual & non-dual,1001,Autauga County,ALABAMA,Urban,Black,All,undefined,47
1,2018,County,Average principal cost,Unsmoothed actual,Base measure,Primary chronic conditions,Depression,All,All,Dual & non-dual,1003,Baldwin County,ALABAMA,Rural,Black,All,undefined,120
2,2018,County,Average principal cost,Unsmoothed actual,Base measure,Primary chronic conditions,Depression,All,All,Dual & non-dual,1005,Barbour County,ALABAMA,Rural,Black,All,undefined,153
3,2018,County,Average principal cost,Unsmoothed actual,Base measure,Primary chronic conditions,Depression,All,All,Dual & non-dual,1007,Bibb County,ALABAMA,Urban,Black,All,undefined,497
4,2018,County,Average principal cost,Unsmoothed actual,Base measure,Primary chronic conditions,Depression,All,All,Dual & non-dual,1011,Bullock County,ALABAMA,Rural,Black,All,undefined,770

In [53]:
df.shape

(3223, 18)