# Importing Modules and Checking Directory

In [1]:
import os
import pandas as pd
import datetime
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np
%matplotlib inline

In [2]:
pd.__version__

'1.1.5'

In [3]:
os.getcwd()

'/Users/Livi/Projects/Black_mental_health/notebooks/Data_wrangling'

# Uploading Data

In [4]:
med = pd.read_csv("../../data/raw/Medicare_Physician_and_Other_Supplier_National_Provider_Identifier__NPI__Aggregate_Report__Calendar_Year_2012.csv")

/Users/Livi/opt/anaconda3/envs/springboard/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3063: DtypeWarning: Columns (10) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [5]:
med.shape

(925328, 67)

In [6]:
med.head()

,NPI,NPPES Provider Last Name / Organization Name,NPPES Provider First Name,NPPES Provider Middle Initial,NPPES Credentials,NPPES Provider Gender,NPPES Entity Code,NPPES Provider Street Address 1,NPPES Provider Street Address 2,NPPES Provider City,...,Percent (%) of Beneficiaries Identified With Diabetes,Percent (%) of Beneficiaries Identified With Heart Failure,Percent (%) of Beneficiaries Identified With Hyperlipidemia,Percent (%) of Beneficiaries Identified With Hypertension,Percent (%) of Beneficiaries Identified With Ischemic Heart Disease,Percent (%) of Beneficiaries Identified With Osteoporosis,Percent (%) of Beneficiaries Identified With Rheumatoid Arthritis / Osteoarthritis,Percent (%) of Beneficiaries Identified With Schizophrenia / Other Psychotic Disorders,Percent (%) of Beneficiaries Identified With Stroke,Average HCC Risk Score of Beneficiaries
0,1003000126,ENKESHAFI,ARDALAN,NaN,M.D.,M,I,900 SETON DR,NaN,CUMBERLAND,...,51.0,53.0,65.0,75.0,66.0,14.0,47.0,14.0,19.0,2.2264
1,1003000134,CIBULL,THOMAS,L,M.D.,M,I,2650 RIDGE AVE,EVANSTON HOSPITAL,EVANSTON,...,21.0,13.0,55.0,59.0,31.0,8.0,36.0,2.0,4.0,1.0703
2,1003000142,KHALIL,RASHID,NaN,M.D.,M,I,4126 N HOLLAND SYLVANIA RD,SUITE 220,TOLEDO,...,50.0,31.0,63.0,75.0,47.0,13.0,75.0,NaN,NaN,1.8967
3,1003000381,BRAGANZA,LUTHER,Q,PT,M,I,134 N OLD DIXIE HWY,NaN,LADY LAKE,...,35.0,NaN,75.0,75.0,52.0,NaN,58.0,0.0,NaN,1.2687
4,1003000407,GIRARDI,DAVID,J,D.O.,M,I,456 MAGEE AVE,NaN,PATTON,...,39.0,51.0,65.0,75.0,65.0,20.0,41.0,21.0,12.0,1.8170

In [7]:
pd.options.display.max_rows = 100
pd.options.display.max_colwidth = 100

In [8]:
med.columns

Index(['NPI', 'NPPES Provider Last Name / Organization Name',
       'NPPES Provider First Name', 'NPPES Provider Middle Initial',
       'NPPES Credentials', 'NPPES Provider Gender', 'NPPES Entity Code',
       'NPPES Provider Street Address 1', 'NPPES Provider Street Address 2',
       'NPPES Provider City', 'NPPES Provider Zip Code',
       'NPPES Provider State', 'NPPES Provider Country', 'Provider Type',
       'Medicare Participation Indicator', 'Number of HCPCS',
       'Number of Services', 'Number of Unique Beneficiaries',
       'Total Submitted Charges', 'Total Medicare Allowed Amount',
       'Total Medicare Payment Amount', 'Drug Suppress Indicator',
       'Number of HCPCS Associated With Drug Services',
       'Number of Drug Services',
       'Number of Unique Beneficiaries With Drug Services',
       'Total Drug Submitted Charges', 'Total Drug Medicare Allowed Amount',
       'Total Drug Medicare Payment Amount', 'Medical Suppress Indicator',
       'Number of HCPCS Associated With Medical Services',
       'Number of Medical Services',
       'Number of Unique Beneficiaries With Medical Services',
       'Total Medical Submitted Charges',
       'Total Medical Medicare Allowed Amount',
       'Total Medical Medicare Payment Amount', 'Average Age of Beneficiaries',
       'Number of Beneficiaries Age Less than 65',
       'Number of Beneficiaries Age 65 to 74',
       'Number of Beneficiaries Age 75 to 84',
       'Number of Beneficiaries Age Greater 84',
       'Number of Female Beneficiaries', 'Number of Male Beneficiaries',
       'Number of Non-Hispanic White Beneficiaries',
       'Number of Black or African American Beneficiaries',
       'Number of Asian Pacific Islander Beneficiaries',
       'Number of Hispanic Beneficiaries',
       'Number of American Indian/Alaska Native Beneficiaries',
       'Number of Beneficiaries With Race Not Elsewhere Classified',
       'Number of Beneficiaries With Medicare Only Entitlement',
       'Number of Beneficiaries With Medicare & Medicaid Entitlement',
       'Percent (%) of Beneficiaries Identified With Alzheimer’s Disease or Dementia',
       'Percent (%) of Beneficiaries Identified With Asthma',
       'Percent (%) of Beneficiaries Identified With Atrial Fibrillation',
       'Percent (%) of Beneficiaries Identified With Cancer',
       'Percent (%) of Beneficiaries Identified With Chronic Kidney Disease',
       'Percent (%) of Beneficiaries Identified With Chronic Obstructive Pulmonary Disease',
       'Percent (%) of Beneficiaries Identified With Depression',
       'Percent (%) of Beneficiaries Identified With Diabetes',
       'Percent (%) of Beneficiaries Identified With Heart Failure',
       'Percent (%) of Beneficiaries Identified With Hyperlipidemia',
       'Percent (%) of Beneficiaries Identified With Hypertension',
       'Percent (%) of Beneficiaries Identified With Ischemic Heart Disease',
       'Percent (%) of Beneficiaries Identified With Osteoporosis',
       'Percent (%) of Beneficiaries Identified With Rheumatoid Arthritis / Osteoarthritis',
       'Percent (%) of Beneficiaries Identified With Schizophrenia / Other Psychotic Disorders',
       'Percent (%) of Beneficiaries Identified With Stroke',
       'Average HCC Risk Score of Beneficiaries'],
      dtype='object')

CHECKPOINT, SAVING ORIGINAL DF

In [9]:
original_df = med.copy()

# missing info

In [10]:
info = pd.DataFrame(index=med.columns.values,
                    data={'data type': med.dtypes, \
                          'non-null values': med.notnull().sum(),
                          'unique values': med.nunique(), \
                          'null values': med.isnull().sum()})

In [11]:
info.sort_values('null values')

,data type,non-null values,unique values,null values
NPI,int64,925328,925328,0
Average Age of Beneficiaries,int64,925328,88,0
Total Medicare Payment Amount,float64,925328,879854,0
Total Medicare Allowed Amount,float64,925328,889315,0
Total Submitted Charges,float64,925328,643779,0
Number of Unique Beneficiaries,int64,925328,6734,0
Number of Services,int64,925328,29173,0
Number of HCPCS,int64,925328,505,0
Medicare Participation Indicator,object,925328,2,0
Provider Type,object,925328,89,0
NPPES Provider Country,object,925328,25,0
Average HCC Risk Score of Beneficiaries,float64,925328,43776,0
NPPES Provider Zip Code,object,925328,312997,0
NPPES Entity Code,object,925328,2,0
NPPES Provider State,object,925328,61,0
NPPES Provider City,object,925327,12888,1
NPPES Provider Street Address 1,object,925327,325563,1
NPPES Provider Last Name / Organization Name,object,925310,236675,18
Percent (%) of Beneficiaries Identified With Hypertension,float64,876503,68,48825
NPPES Provider Gender,object,869335,2,55993
NPPES Provider First Name,object,869331,56794,55997
Percent (%) of Beneficiaries Identified With Hyperlipidemia,float64,857254,69,68074
NPPES Credentials,object,846317,13975,79011
Total Medical Medicare Payment Amount,float64,829296,787600,96032
Total Medical Submitted Charges,float64,829296,575325,96032
Number of Unique Beneficiaries With Medical Services,float64,829296,6665,96032
Number of Medical Services,float64,829296,19326,96032
Number of HCPCS Associated With Medical Services,float64,829296,499,96032
Total Medical Medicare Allowed Amount,float64,829296,795341,96032
Total Drug Medicare Payment Amount,float64,829296,196921,96032
Total Drug Medicare Allowed Amount,float64,829296,199031,96032
Total Drug Submitted Charges,float64,829296,128820,96032
Number of Unique Beneficiaries With Drug Services,float64,829296,1174,96032
Number of Drug Services,float64,829296,18901,96032
Number of HCPCS Associated With Drug Services,float64,829296,111,96032
Percent (%) of Beneficiaries Identified With Rheumatoid Arthritis / Osteoarthritis,float64,827771,73,97557
Number of Male Beneficiaries,float64,826398,3521,98930
Number of Female Beneficiaries,float64,826398,4731,98930
Percent (%) of Beneficiaries Identified With Ischemic Heart Disease,float64,795221,73,130107
Percent (%) of Beneficiaries Identified With Diabetes,float64,795173,73,130155
Number of Beneficiaries Age 65 to 74,float64,775739,3236,149589
Percent (%) of Beneficiaries Identified With Depression,float64,769966,75,155362
Percent (%) of Beneficiaries Identified With Chronic Kidney Disease,float64,721412,74,203916
Number of Beneficiaries With Medicare Only Entitlement,float64,703924,5417,221404
Number of Beneficiaries With Medicare & Medicaid Entitlement,float64,703924,3109,221404
Percent (%) of Beneficiaries Identified With Heart Failure,float64,701244,75,224084
Percent (%) of Beneficiaries Identified With Chronic Obstructive Pulmonary Disease,float64,677647,76,247681
Number of Beneficiaries Age 75 to 84,float64,675156,2917,250172
NPPES Provider Middle Initial,object,659485,33,265843
Number of Beneficiaries Age Less than 65,float64,633435,2031,291893
Percent (%) of Beneficiaries Identified With Atrial Fibrillation,float64,628682,76,296646
Percent (%) of Beneficiaries Identified With Cancer,float64,626860,76,298468
Percent (%) of Beneficiaries Identified With Alzheimer’s Disease or Dementia,float64,616102,76,309226
Number of Non-Hispanic White Beneficiaries,float64,602970,5931,322358
Percent (%) of Beneficiaries Identified With Osteoporosis,float64,593745,76,331583
Percent (%) of Beneficiaries Identified With Asthma,float64,580327,76,345001
Number of Beneficiaries Age Greater 84,float64,573686,2187,351642
Percent (%) of Beneficiaries Identified With Stroke,float64,520956,76,404372
Percent (%) of Beneficiaries Identified With Schizophrenia / Other Psychotic Disorders,float64,491445,76,433883
NPPES Provider Street Address 2,object,381641,66378,543687
Number of Black or African American Beneficiaries,float64,305052,2067,620276
Number of American Indian/Alaska Native Beneficiaries,float64,246785,478,678543
Number of Hispanic Beneficiaries,float64,240465,1772,684863
Number of Asian Pacific Islander Beneficiaries,float64,159602,1106,765726
Number of Beneficiaries With Race Not Elsewhere Classified,float64,119593,434,805735
Drug Suppress Indicator,object,96032,2,829296
Medical Suppress Indicator,object,96032,2,829296

In [12]:
def dropnullrows(df, column_list):
    for i in column_list:
        idx = df[df[i].isnull()].index
        df = df.drop(index = idx)
    return df

In [13]:
cols = ['Number of Asian Pacific Islander Beneficiaries',
       'Number of Hispanic Beneficiaries',
        'Number of American Indian/Alaska Native Beneficiaries',
        'Number of Black or African American Beneficiaries',
        'Number of Non-Hispanic White Beneficiaries',
        'Number of Female Beneficiaries',
        'Number of Male Beneficiaries',
       ]

temp = dropnullrows(med, cols)

In [14]:
len(temp), len(med)

(42335, 925328)

In [15]:
med = temp

Checkpoint 2

In [16]:
checkpoint2 = med.copy()

In [17]:
info = pd.DataFrame(index=med.columns.values,
                    data={'data type': med.dtypes, \
                          'non-null values': med.notnull().sum(),
                          'unique values': med.nunique(), \
                          'null values': med.isnull().sum()})
info.sort_values('null values')

,data type,non-null values,unique values,null values
NPI,int64,42335,42335,0
Number of Beneficiaries With Race Not Elsewhere Classified,float64,42335,385,0
Number of American Indian/Alaska Native Beneficiaries,float64,42335,388,0
Number of Hispanic Beneficiaries,float64,42335,1081,0
Number of Asian Pacific Islander Beneficiaries,float64,42335,697,0
Number of Black or African American Beneficiaries,float64,42335,1336,0
Number of Non-Hispanic White Beneficiaries,float64,42335,4335,0
Number of Male Beneficiaries,float64,42335,2679,0
Number of Female Beneficiaries,float64,42335,3540,0
Average Age of Beneficiaries,int64,42335,62,0
Total Medicare Payment Amount,float64,42335,42196,0
Total Medicare Allowed Amount,float64,42335,42198,0
Total Submitted Charges,float64,42335,40149,0
Number of Unique Beneficiaries,int64,42335,4855,0
Number of Services,int64,42335,10121,0
Average HCC Risk Score of Beneficiaries,float64,42335,18204,0
Medicare Participation Indicator,object,42335,2,0
NPPES Entity Code,object,42335,2,0
Number of HCPCS,int64,42335,462,0
NPPES Provider City,object,42335,5777,0
NPPES Provider Street Address 1,object,42335,29659,0
NPPES Provider Country,object,42335,3,0
NPPES Provider Zip Code,object,42335,29912,0
NPPES Provider State,object,42335,58,0
Provider Type,object,42335,88,0
NPPES Provider Last Name / Organization Name,object,42334,24315,1
Percent (%) of Beneficiaries Identified With Hypertension,float64,41255,64,1080
Percent (%) of Beneficiaries Identified With Hyperlipidemia,float64,40533,65,1802
Percent (%) of Beneficiaries Identified With Rheumatoid Arthritis / Osteoarthritis,float64,38672,69,3663
Total Medical Medicare Payment Amount,float64,38328,38203,4007
Total Medical Submitted Charges,float64,38328,36495,4007
Total Medical Medicare Allowed Amount,float64,38328,38205,4007
Number of HCPCS Associated With Medical Services,float64,38328,456,4007
Total Drug Medicare Payment Amount,float64,38328,9734,4007
Total Drug Medicare Allowed Amount,float64,38328,9737,4007
Total Drug Submitted Charges,float64,38328,8947,4007
Number of Unique Beneficiaries With Drug Services,float64,38328,642,4007
Number of Drug Services,float64,38328,3609,4007
Number of HCPCS Associated With Drug Services,float64,38328,91,4007
Number of Medical Services,float64,38328,8459,4007
Number of Unique Beneficiaries With Medical Services,float64,38328,4736,4007
NPPES Provider First Name,object,37895,6759,4440
NPPES Provider Gender,object,37895,2,4440
NPPES Credentials,object,36888,1354,5447
Percent (%) of Beneficiaries Identified With Ischemic Heart Disease,float64,36259,71,6076
Percent (%) of Beneficiaries Identified With Diabetes,float64,35835,69,6500
Number of Beneficiaries Age 65 to 74,float64,35398,2515,6937
Percent (%) of Beneficiaries Identified With Depression,float64,31942,74,10393
Number of Beneficiaries With Medicare Only Entitlement,float64,30667,4084,11668
Number of Beneficiaries With Medicare & Medicaid Entitlement,float64,30667,2209,11668
Percent (%) of Beneficiaries Identified With Chronic Kidney Disease,float64,29944,73,12391
Percent (%) of Beneficiaries Identified With Heart Failure,float64,29224,74,13111
Number of Beneficiaries Age 75 to 84,float64,29165,2247,13170
NPPES Provider Middle Initial,object,28990,27,13345
Percent (%) of Beneficiaries Identified With Chronic Obstructive Pulmonary Disease,float64,27844,75,14491
Number of Beneficiaries Age Less than 65,float64,25836,1635,16499
Percent (%) of Beneficiaries Identified With Alzheimer’s Disease or Dementia,float64,25675,75,16660
Percent (%) of Beneficiaries Identified With Atrial Fibrillation,float64,24309,73,18026
Percent (%) of Beneficiaries Identified With Schizophrenia / Other Psychotic Disorders,float64,23918,76,18417
Percent (%) of Beneficiaries Identified With Cancer,float64,23221,76,19114
Percent (%) of Beneficiaries Identified With Stroke,float64,23220,70,19115
Number of Beneficiaries Age Greater 84,float64,23212,1624,19123
Percent (%) of Beneficiaries Identified With Osteoporosis,float64,22894,66,19441
Percent (%) of Beneficiaries Identified With Asthma,float64,22629,63,19706
NPPES Provider Street Address 2,object,16388,5948,25947
Medical Suppress Indicator,object,4007,2,38328
Drug Suppress Indicator,object,4007,2,38328

In [18]:
#One Provider is Missing Last Name. Actually, his last name is really "Null"
idx = med[med['NPPES Provider Last Name / Organization Name'].isnull()].index
med.loc[
    idx,'NPPES Provider Last Name / Organization Name'] = 'NULL'
med.loc[idx]

,NPI,NPPES Provider Last Name / Organization Name,NPPES Provider First Name,NPPES Provider Middle Initial,NPPES Credentials,NPPES Provider Gender,NPPES Entity Code,NPPES Provider Street Address 1,NPPES Provider Street Address 2,NPPES Provider City,...,Percent (%) of Beneficiaries Identified With Diabetes,Percent (%) of Beneficiaries Identified With Heart Failure,Percent (%) of Beneficiaries Identified With Hyperlipidemia,Percent (%) of Beneficiaries Identified With Hypertension,Percent (%) of Beneficiaries Identified With Ischemic Heart Disease,Percent (%) of Beneficiaries Identified With Osteoporosis,Percent (%) of Beneficiaries Identified With Rheumatoid Arthritis / Osteoarthritis,Percent (%) of Beneficiaries Identified With Schizophrenia / Other Psychotic Disorders,Percent (%) of Beneficiaries Identified With Stroke,Average HCC Risk Score of Beneficiaries
634555,1689695553,NULL,SCOTT,A,D.C.,M,I,204 E CHESTNUT ST,NaN,INDEPENDENCE,...,13.0,8.0,36.0,61.0,26.0,NaN,36.0,NaN,NaN,0.7329

### What % of all rows do Mental health providers make up in the New DF?

In [19]:
def_mental_providers = ['Licensed Clinical Social Worker','Psychologist, Clinical',
                        'Geriatric Psychiatry','Neuropsychiatry',
                       'Psychiatry',]
x = 0

for i in def_mental_providers:
    x += len(med[med['Provider Type'] == i])

In [20]:
print(x,',', round(x/len(med) * 100, 2), '%')

985 , 2.33 %

### What % of all rows do Mental health providers make up in the Original DF?

In [21]:
x = 0

for i in def_mental_providers:
    x += len(original_df[original_df['Provider Type'] == i])

print(x,',', round(x/len(original_df) * 100, 2), '%')

37866 , 4.09 %

### It's a 50% decrease. Not ideal, but these columns are important to keep.

### What's the difference in provider types is, if I exclude rows with null values for these 3 columns (they had the least nulls of all disorder columns). .

In [22]:
cols = [
    'Percent (%) of Beneficiaries Identified With Hypertension',
    'Percent (%) of Beneficiaries Identified With Hyperlipidemia',
    'Percent (%) of Beneficiaries Identified With Rheumatoid Arthritis / Osteoarthritis'
]

temp = dropnullrows(med, cols)

In [23]:
len(temp), len(med)

(38232, 42335)

In [24]:
med['Provider Type'].value_counts().head(10)

Diagnostic Radiology               5108
Chiropractic                       3922
Nurse Practitioner                 2563
Internal Medicine                  2511
Family Practice                    2387
Cardiology                         2190
Mass Immunization Roster Biller    1865
Physical Therapist                 1817
Physician Assistant                1581
Ophthalmology                      1521
Name: Provider Type, dtype: int64

In [25]:
temp['Provider Type'].value_counts().head(10)

Diagnostic Radiology               5104
Chiropractic                       3184
Internal Medicine                  2422
Family Practice                    2194
Cardiology                         2187
Nurse Practitioner                 2121
Physical Therapist                 1731
Ophthalmology                      1512
Mass Immunization Roster Biller    1469
Physician Assistant                1418
Name: Provider Type, dtype: int64


### There's not much of a difference, but I can't justify excluding rows that miss these values and not excluding rows that are missing the other "% Disorder" columns

### Dropping all rest of columns that include null values. Some are too provider-specific (e.g. drug-related columns). Age columns are too Medicare-specific, won't include younger ages bc most don't qualify for Medicare.

In [26]:
info = pd.DataFrame(index=med.columns.values,
                    data={'data type': med.dtypes, \
                          'non-null values': med.notnull().sum(),
                          'unique values': med.nunique(), \
                          'null values': med.isnull().sum()})
info[info['null values']>0].index

Index(['NPPES Provider First Name', 'NPPES Provider Middle Initial',
       'NPPES Credentials', 'NPPES Provider Gender',
       'NPPES Provider Street Address 2', 'Drug Suppress Indicator',
       'Number of HCPCS Associated With Drug Services',
       'Number of Drug Services',
       'Number of Unique Beneficiaries With Drug Services',
       'Total Drug Submitted Charges', 'Total Drug Medicare Allowed Amount',
       'Total Drug Medicare Payment Amount', 'Medical Suppress Indicator',
       'Number of HCPCS Associated With Medical Services',
       'Number of Medical Services',
       'Number of Unique Beneficiaries With Medical Services',
       'Total Medical Submitted Charges',
       'Total Medical Medicare Allowed Amount',
       'Total Medical Medicare Payment Amount',
       'Number of Beneficiaries Age Less than 65',
       'Number of Beneficiaries Age 65 to 74',
       'Number of Beneficiaries Age 75 to 84',
       'Number of Beneficiaries Age Greater 84',
       'Number of Beneficiaries With Medicare Only Entitlement',
       'Number of Beneficiaries With Medicare & Medicaid Entitlement',
       'Percent (%) of Beneficiaries Identified With Alzheimer’s Disease or Dementia',
       'Percent (%) of Beneficiaries Identified With Asthma',
       'Percent (%) of Beneficiaries Identified With Atrial Fibrillation',
       'Percent (%) of Beneficiaries Identified With Cancer',
       'Percent (%) of Beneficiaries Identified With Chronic Kidney Disease',
       'Percent (%) of Beneficiaries Identified With Chronic Obstructive Pulmonary Disease',
       'Percent (%) of Beneficiaries Identified With Depression',
       'Percent (%) of Beneficiaries Identified With Diabetes',
       'Percent (%) of Beneficiaries Identified With Heart Failure',
       'Percent (%) of Beneficiaries Identified With Hyperlipidemia',
       'Percent (%) of Beneficiaries Identified With Hypertension',
       'Percent (%) of Beneficiaries Identified With Ischemic Heart Disease',
       'Percent (%) of Beneficiaries Identified With Osteoporosis',
       'Percent (%) of Beneficiaries Identified With Rheumatoid Arthritis / Osteoarthritis',
       'Percent (%) of Beneficiaries Identified With Schizophrenia / Other Psychotic Disorders',
       'Percent (%) of Beneficiaries Identified With Stroke'],
      dtype='object')

In [27]:
cols = info[info['null values']>0].index
med = med.drop(columns = cols)

In [28]:
med.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 42335 entries, 48 to 925313
Data columns (total 26 columns):
 #   Column                                                      Non-Null Count  Dtype
---  ------                                                      --------------  -----
 0   NPI                                                         42335 non-null  int64
 1   NPPES Provider Last Name / Organization Name                42335 non-null  object
 2   NPPES Entity Code                                           42335 non-null  object
 3   NPPES Provider Street Address 1                             42335 non-null  object
 4   NPPES Provider City                                         42335 non-null  object
 5   NPPES Provider Zip Code                                     42335 non-null  object
 6   NPPES Provider State                                        42335 non-null  object
 7   NPPES Provider Country                                      42335 non-null  object
 8   Provider Type                                               42335 non-null  object
 9   Medicare Participation Indicator                            42335 non-null  object
 10  Number of HCPCS                                             42335 non-null  int64
 11  Number of Services                                          42335 non-null  int64
 12  Number of Unique Beneficiaries                              42335 non-null  int64
 13  Total Submitted Charges                                     42335 non-null  float64
 14  Total Medicare Allowed Amount                               42335 non-null  float64
 15  Total Medicare Payment Amount                               42335 non-null  float64
 16  Average Age of Beneficiaries                                42335 non-null  int64
 17  Number of Female Beneficiaries                              42335 non-null  float64
 18  Number of Male Beneficiaries                                42335 non-null  float64
 19  Number of Non-Hispanic White Beneficiaries                  42335 non-null  float64
 20  Number of Black or African American Beneficiaries           42335 non-null  float64
 21  Number of Asian Pacific Islander Beneficiaries              42335 non-null  float64
 22  Number of Hispanic Beneficiaries                            42335 non-null  float64
 23  Number of American Indian/Alaska Native Beneficiaries       42335 non-null  float64
 24  Number of Beneficiaries With Race Not Elsewhere Classified  42335 non-null  float64
 25  Average HCC Risk Score of Beneficiaries                     42335 non-null  float64
dtypes: float64(12), int64(5), object(9)
memory usage: 10.0+ MB

In [29]:
irrelevant = [
    'NPPES Entity Code',
    'Medicare Participation Indicator',
    'Number of HCPCS', #this is the number of diff medical codes used
]

In [30]:
med = med.drop(columns = irrelevant)

In [31]:
checkpoint3 = med.copy()

##### Renaming remaining columns

In [32]:
new_name_dict = {'NPI':'npi',
                 'NPPES Provider City':'city', 'NPPES Provider Zip Code':'full_zip',
                'NPPES Provider State':'state','NPPES Provider Country':'country',
                'Provider Type':'provider_type',
                 'Number of Unique Beneficiaries':'total_beneficiaries',
                'Average Age of Beneficiaries':'avg_beneficiary_age',
                'Total Medicare Payment Amount':'total_medicare_payment',
                'Number of Black or African American Beneficiaries':'number_black_beneficiaries',
                'Average HCC Risk Score of Beneficiaries':'avg_hcc_risk_score',
                'Number of Non-Hispanic White Beneficiaries':'number_white_beneficiaries',
                  'Number of Asian Pacific Islander Beneficiaries':'number_asian_pac_islander_beneficiaries',
       'Number of Hispanic Beneficiaries':'number_hispanic_beneficiaries',
       'Number of American Indian/Alaska Native Beneficiaries':'number_nat_american_beneficiaries',
       'Number of Beneficiaries With Race Not Elsewhere Classified':'number_race_unknown',
                'NPPES Provider Last Name / Organization Name':'lastname',
    'NPPES Provider Street Address 1':'address',
    'Number of Services':'number_of_services',
        'Total Medicare Allowed Amount':'total_allowed_payment',
            'Number of Female Beneficiaries':'number_female_beneficiaries',
                'Number of Male Beneficiaries':'number_male_beneficiaries',
                 'Total Submitted Charges':'total_submitted_charges'
                }

med.rename(columns = new_name_dict, inplace = True)

In [33]:
med.columns

Index(['npi', 'lastname', 'address', 'city', 'full_zip', 'state', 'country',
       'provider_type', 'number_of_services', 'total_beneficiaries',
       'total_submitted_charges', 'total_allowed_payment',
       'total_medicare_payment', 'avg_beneficiary_age',
       'number_female_beneficiaries', 'number_male_beneficiaries',
       'number_white_beneficiaries', 'number_black_beneficiaries',
       'number_asian_pac_islander_beneficiaries',
       'number_hispanic_beneficiaries', 'number_nat_american_beneficiaries',
       'number_race_unknown', 'avg_hcc_risk_score'],
      dtype='object')

##### Updating "Number_race_unknown" to include anyone not counted in other race bins

In [34]:
def update_race_unknown(df, race_columns, race_unknown_column, total_column):
    sums = df[race_columns].sum(axis=1)
    idx = df[sums != df[total_column]].index
    
    known_race_sums = sums - df[race_unknown_column]
    new_values = df.loc[idx,total_column] - known_race_sums
    
    df.loc[idx, race_unknown_column] = new_values

In [35]:
race_cols = med.columns[med.columns.str.contains('number_')][3:]
race_cols

Index(['number_white_beneficiaries', 'number_black_beneficiaries',
       'number_asian_pac_islander_beneficiaries',
       'number_hispanic_beneficiaries', 'number_nat_american_beneficiaries',
       'number_race_unknown'],
      dtype='object')

In [36]:
update_race_unknown(med, race_cols, 'number_race_unknown', 'total_beneficiaries')

In [37]:
sums = med[race_cols].sum(axis=1)
med[sums != med['total_beneficiaries']]

Empty DataFrame
Columns: [npi, lastname, address, city, full_zip, state, country, provider_type, number_of_services, total_beneficiaries, total_submitted_charges, total_allowed_payment, total_medicare_payment, avg_beneficiary_age, number_female_beneficiaries, number_male_beneficiaries, number_white_beneficiaries, number_black_beneficiaries, number_asian_pac_islander_beneficiaries, number_hispanic_beneficiaries, number_nat_american_beneficiaries, number_race_unknown, avg_hcc_risk_score]
Index: []

[0 rows x 23 columns]

##### Country

In [38]:
#There are two countries values listed in my column info for Country

In [39]:
med.country.unique()

array(['US', 'DE', 'SA'], dtype=object)

In [40]:
idx = med[med.country !='US'].index
med.drop(index = idx, inplace = True)

There's one state that's not recognizable

In [41]:
med.state.unique()

array(['NY', 'MI', 'ME', 'NV', 'IA', 'ND', 'MD', 'PA', 'FL', 'MO', 'IL',
       'CO', 'KY', 'NC', 'VA', 'IN', 'TX', 'NJ', 'CA', 'WI', 'MA', 'TN',
       'AR', 'MS', 'SD', 'NE', 'WY', 'WA', 'PR', 'AL', 'MN', 'NM', 'OH',
       'GA', 'OR', 'ID', 'WV', 'LA', 'NH', 'AZ', 'OK', 'UT', 'CT', 'DC',
       'SC', 'GU', 'AK', 'HI', 'MT', 'KS', 'RI', 'VT', 'DE', 'AS', 'MP',
       'AE', 'AA'], dtype=object)

'AA' is listed, but it's not state. Also, just want to note that DC is listed as a state.

In [42]:
med[med.state == 'AA']

,npi,lastname,address,city,full_zip,state,country,provider_type,number_of_services,total_beneficiaries,...,avg_beneficiary_age,number_female_beneficiaries,number_male_beneficiaries,number_white_beneficiaries,number_black_beneficiaries,number_asian_pac_islander_beneficiaries,number_hispanic_beneficiaries,number_nat_american_beneficiaries,number_race_unknown,avg_hcc_risk_score
855494,1922088392,STINSON,3009 NW WILSON ST,APO,735039042,AA,US,Diagnostic Radiology,6079,3174,...,71,2041.0,1133.0,2457.0,346.0,34.0,141.0,158.0,38.0,1.7045

In [43]:
idx = med[med.state == 'AA'].index
med.loc[idx, 'city'] = 'FORT SILL'
med.loc[idx, 'state'] = 'OK'
med.loc[idx]

,npi,lastname,address,city,full_zip,state,country,provider_type,number_of_services,total_beneficiaries,...,avg_beneficiary_age,number_female_beneficiaries,number_male_beneficiaries,number_white_beneficiaries,number_black_beneficiaries,number_asian_pac_islander_beneficiaries,number_hispanic_beneficiaries,number_nat_american_beneficiaries,number_race_unknown,avg_hcc_risk_score
855494,1922088392,STINSON,3009 NW WILSON ST,FORT SILL,735039042,OK,US,Diagnostic Radiology,6079,3174,...,71,2041.0,1133.0,2457.0,346.0,34.0,141.0,158.0,38.0,1.7045

Renamed Columns and Dropped Countries Checkpoint

In [44]:
checkpoint5 = med.copy()

##### Zip Codes

How many unique 5-digit zip codes are there in this df? There are 33,000 zip codes on Census df.

First I have to convert the NPPES Zip Code to a 9-digit code (with leading zeros) or else I'll incorrectly capture the five digit zip code.

In [45]:
med.full_zip.apply(lambda x: len(str(x))).value_counts()

9    32456
5     4764
8     3181
7      745
3      631
4      556
Name: full_zip, dtype: int64

In [46]:
def make_five_digit_zip(df, zipcol):
    #adding leading zeros if zip if less than 5 digits
    idx = df[df[zipcol].apply(lambda x: len(str(x)) < 5)].index
    df.loc[idx,zipcol] = df.loc[idx, zipcol].apply(lambda x: str(x).zfill(5))
    
    #adding leading zeros if zip is between 5 and 9 digits
    idx = df[df[zipcol].apply(lambda x: 5 < len(str(x)) < 9)].index
    df.loc[idx, zipcol] = df.loc[idx, zipcol].apply(lambda x: str(x).zfill(9))
    
    #make 9-digit zip into 5-digit zip
    five_digit_series = df[zipcol].astype('str').apply(lambda x: x[:5])
    
    return five_digit_series

In [47]:
med['five_digit_zip'] = make_five_digit_zip(med, 'full_zip')

In [48]:
med = med.drop(columns =['full_zip'])

Checkpoint 6

In [49]:
checkpoint6 = med.copy()

##### Adding Regions

In [50]:
regions = pd.read_csv('../../data/interim/state_and_regions.csv', index_col=0)

In [51]:
regions.head()

  State Code Region            Division
0         AK   West             Pacific
1         AL  South  East South Central
2         AR  South  West South Central
3         AZ   West            Mountain
4         CA   West             Pacific

In [52]:
med = pd.merge(med, regions, left_on='state',right_on='State Code')

In [53]:
checkpoint7 = med.copy()

##### Adding Types of Doctors

In [54]:
general_medicine_practitioners = ['Internal Medicine', 
'Family Practice', 
'Obstetrics/Gynecology' ,
       'Nurse Practitioner',
 'Physician Assistant', 
'General Practice', 
 'Geriatric Medicine', 
       'Pediatric Medicine', 
 'Certified Clinical Nurse Specialist',]

medical_specialists = ['Pathology', 
      'Occupational therapist', 
'Cardiology', 
       'Dermatology', 
       'Physical Medicine and Rehabilitation', 
      'Radiation Oncology', 
 'Infectious Disease', 
 'Endocrinology',
       'Nephrology',
 'Pulmonary Disease', 
'Otolaryngology', 
       'Allergy/Immunology',  
'Medical Oncology',
 'Hematology',  
       'Gynecological/Oncology',  
       'Peripheral Vascular Disease', 
  'Cardiac Electrophysiology', 
 'Sports Medicine', 
       'Gastroenterology', 
       'Podiatry', 
 'Hematology/Oncology', 
 'Rheumatology', ]


other_specialists = ['Anesthesiology',       
 'Physical Therapist',  
'Chiropractic',
 'CRNA', 
       'Diagnostic Radiology', 
 'Neurology', 
     'Preventive Medicine',
       'Audiologist (billing independently)', 
 'Pain Management', 
 'Anesthesiologist Assistants', 
 'Interventional Pain Management', 
 'Osteopathic Manipulative Medicine',  
    'Public Health Welfare Agency', 
       'Nuclear Medicine', 
       'Multispecialty Clinic/Group Practice', 
       'Interventional Radiology', 
'Addiction Medicine', 
 'Radiation Therapy', 
       'Unknown Physician Specialty Code', 
'Sleep Medicine' ]

mental_health_providers = ['Clinical Psychologist',  
 'Licensed Clinical Social Worker', 
 'Geriatric Psychiatry', 
'Psychiatry', 
       'Psychologist (billing independently)', 
'Neuropsychiatry', ]

surgery_specialists =['General Surgery', 
'Cardiac Surgery', 
'Orthopedic Surgery', 
       'Ambulatory Surgical Center', 
'Emergency Medicine' ,
       'Plastic and Reconstructive Surgery', 
'Thoracic Surgery', 
'Ophthalmology', 
 'Optometry', 
'Oral Surgery (dentists only)', 
       'Neurosurgery', 
       'Critical Care (Intensivists)', 
 'Surgical Oncology', 
       'Hand Surgery', 
       'Vascular Surgery', 
       'Maxillofacial Surgery', 
       'Colorectal Surgery (formerly proctology)',
'Urology',]


other_health_services = ['Portable X-ray', 
'Certified Nurse Midwife', 
'Slide Preparation Facility', 
       'Mammographic Screening Center',
       'Speech Language Pathologist', 
       'Unknown Supplier/Provider', 
'Pharmacy', 
 'Mass Immunization Roster Biller',  
       'Registered Dietician/Nutrition Professional',
       'Ambulance Service Supplier',
       'All Other Suppliers',  
'Clinical Laboratory',
       'Hospice and Palliative Care', 
       'Independent Diagnostic Testing Facility',]

In [55]:
med['doctor_category'] = '0'

for i in general_medicine_practitioners:
    med.loc[med.provider_type == i, 'doctor_category'] = 'General Medicine Pracitioner'

for i in medical_specialists:
    med.loc[med.provider_type == i, 'doctor_category'] = 'Medical Specialists'
    
for i in surgery_specialists:
    med.loc[med.provider_type == i, 'doctor_category'] = 'Surgery Specialists'
    
for i in other_specialists:
    med.loc[med.provider_type == i, 'doctor_category'] = 'Other Specialists'

for i in other_health_services:
    med.loc[med.provider_type == i, 'doctor_category'] = 'Other Health Services'

for i in mental_health_providers:
    med.loc[med.provider_type == i, 'doctor_category'] = 'Mental Health Providers'

##### Adding % Black, % White etc. for each Practioner (Number of People of Each Race / Total Beneficiaries)

In [56]:
med.columns

Index(['npi', 'lastname', 'address', 'city', 'state', 'country',
       'provider_type', 'number_of_services', 'total_beneficiaries',
       'total_submitted_charges', 'total_allowed_payment',
       'total_medicare_payment', 'avg_beneficiary_age',
       'number_female_beneficiaries', 'number_male_beneficiaries',
       'number_white_beneficiaries', 'number_black_beneficiaries',
       'number_asian_pac_islander_beneficiaries',
       'number_hispanic_beneficiaries', 'number_nat_american_beneficiaries',
       'number_race_unknown', 'avg_hcc_risk_score', 'five_digit_zip',
       'State Code', 'Region', 'Division', 'doctor_category'],
      dtype='object')

In [57]:
def make_percent_column(df, category_as_string):
    col = 'number_' + category_as_string + '_beneficiaries'
    newcol = 'percent_' + category_as_string + '_beneficiaries'
    df[newcol] = round(df[col] / df['total_beneficiaries'] * 100, 2)

In [58]:
category_cols = med.columns[med.columns.str.contains('beneficiaries')][1:]
category_cols

Index(['number_female_beneficiaries', 'number_male_beneficiaries',
       'number_white_beneficiaries', 'number_black_beneficiaries',
       'number_asian_pac_islander_beneficiaries',
       'number_hispanic_beneficiaries', 'number_nat_american_beneficiaries'],
      dtype='object')

In [59]:
for i in category_cols:
    category_as_string = i.replace('number_','').replace('_beneficiaries','')
    make_percent_column(med, category_as_string)

In [60]:
med.head()

,npi,lastname,address,city,state,country,provider_type,number_of_services,total_beneficiaries,total_submitted_charges,...,Region,Division,doctor_category,percent_female_beneficiaries,percent_male_beneficiaries,percent_white_beneficiaries,percent_black_beneficiaries,percent_asian_pac_islander_beneficiaries,percent_hispanic_beneficiaries,percent_nat_american_beneficiaries
0,1003002809,GRAZIANO,45 W 11TH ST,NEW YORK,NY,US,Diagnostic Radiology,10306,1704,2250399.00,...,Northeast,Middle Atlantic,Other Specialists,60.62,39.38,89.85,1.64,4.05,3.23,0.0
1,1003009630,SINGLETARY,193 17TH ST,BROOKLYN,NY,US,Emergency Medicine,1351,1002,478946.00,...,Northeast,Middle Atlantic,Surgery Specialists,61.28,38.62,70.96,18.66,1.60,4.59,0.0
2,1003065434,SZYMANSKI,1 WEST AVE,SARATOGA SPRINGS,NY,US,Physical Therapist,654,41,34785.00,...,Northeast,Middle Atlantic,Other Specialists,56.10,43.90,100.00,0.00,0.00,0.00,0.0
3,1003084203,ALUKAL,150 E 32ND ST,NEW YORK,NY,US,Urology,1951,432,406598.14,...,Northeast,Middle Atlantic,Surgery Specialists,6.71,93.29,82.41,6.02,3.01,4.40,0.0
4,1003800806,NITTI,150 E 32ND ST,NEW YORK,NY,US,Urology,7864,923,2187833.00,...,Northeast,Middle Atlantic,Surgery Specialists,59.26,40.74,91.55,2.38,1.95,2.49,0.0

In [61]:
checkpoint99 = med.copy()

# Saving Medicare DF to CSV

#saving black medicare merged
med.to_csv('../../data/processed/2012MEDICARE.csv')

# Census DF

In [62]:
census = pd.read_csv('../../data/raw/2012census.csv')

In [74]:
census.head()

,geo_id,nonfamily_households,family_households,median_year_structure_built,rent_burden_not_computed,rent_over_50_percent,rent_40_to_50_percent,rent_35_to_40_percent,rent_30_to_35_percent,rent_25_to_30_percent,...,speak_only_english_at_home,speak_spanish_at_home,speak_spanish_at_home_low_english,pop_15_and_over,pop_never_married,pop_now_married,pop_separated,pop_widowed,pop_divorced,do_date
139,17246,11,25,1975.0,0,0,0,0,6,0,...,91,0,0,68,6,50,0,0,12,20082012
218,53047,14,21,1974.0,0,2,0,0,0,0,...,101,0,0,96,51,39,2,4,0,20082012
281,44659,22,44,1951.0,1,4,2,0,9,0,...,114,0,0,133,47,75,0,3,8,20082012
288,32212,10,166,1977.0,0,54,7,10,22,51,...,1080,132,21,1082,664,399,11,0,7,20082012
411,58853,41,67,1985.0,0,0,0,7,3,0,...,260,0,0,225,72,87,6,7,53,20082012

In [75]:
info = pd.DataFrame(index=census.columns.values,
                    data={'data type': census.dtypes, \
                          'non-null values': census.notnull().sum(),
                          'unique values': census.nunique(), \
                          'null values': census.isnull().sum()})
info.sort_values('non-null values').head(30)

,data type,non-null values,unique values,null values
aggregate_travel_time_to_work,float64,8931,8535,943
median_rent,float64,9775,1457,99
renter_occupied_housing_units_paying_cash_median_gross_rent,float64,9776,1412,98
percent_income_spent_on_rent,float64,9782,371,92
owner_occupied_housing_units_upper_value_quartile,float64,9787,4184,87
owner_occupied_housing_units_lower_value_quartile,float64,9787,3215,87
owner_occupied_housing_units_median_value,float64,9787,3735,87
median_year_structure_built,float64,9819,68,55
median_income,float64,9820,8942,54
gini_index,float64,9822,2341,52
income_per_capita,float64,9856,8468,18
median_age,float64,9859,438,15
some_college_and_associates_degree,float64,9873,6008,1
not_us_citizen_pop,float64,9873,3404,1
different_house_year_ago_same_city,float64,9873,3235,1
population_1_year_and_over,float64,9873,8787,1
less_than_high_school_graduate,float64,9873,4023,1
different_house_year_ago_different_city,float64,9873,4296,1
graduate_professional_degree,float64,9873,3840,1
bachelors_degree_2,float64,9873,4988,1
high_school_including_ged,float64,9873,5864,1
commuters_drove_alone,int64,9874,7337,0
commuters_by_carpool,int64,9874,2623,0
commuters_by_subway_or_elevated,int64,9874,678,0
employed_finance_insurance_real_estate,int64,9874,2241,0
employed_arts_entertainment_recreation_accommodation_food,int64,9874,2636,0
employed_construction,int64,9874,1926,0
employed_education_health_social,int64,9874,4624,0
commuters_by_car_truck_van,int64,9874,7589,0
employed_information,int64,9874,1023,0

Only keep Census zipcodes that appear in the Medicare DF

In [76]:
medzips = list(med.five_digit_zip)
census.geo_id = census.geo_id.astype('str').apply(lambda x: x.zfill(5))
censuszips = list(census.geo_id)
commonzips = (set(medzips)).intersection(set(censuszips))

In [77]:
missingzips = list(set(medzips) - commonzips)

In [78]:
med.set_index('five_digit_zip').loc[missingzips].index.unique()

Index([], dtype='object', name='five_digit_zip')

In [79]:
pd.options.display.max_rows = 120
med.set_index('five_digit_zip').loc[missingzips]

Empty DataFrame
Columns: [npi, lastname, address, city, state, country, provider_type, number_of_services, total_beneficiaries, total_submitted_charges, total_allowed_payment, total_medicare_payment, avg_beneficiary_age, number_female_beneficiaries, number_male_beneficiaries, number_white_beneficiaries, number_black_beneficiaries, number_asian_pac_islander_beneficiaries, number_hispanic_beneficiaries, number_nat_american_beneficiaries, number_race_unknown, avg_hcc_risk_score, State Code, Region, Division, doctor_category, percent_female_beneficiaries, percent_male_beneficiaries, percent_white_beneficiaries, percent_black_beneficiaries, percent_asian_pac_islander_beneficiaries, percent_hispanic_beneficiaries, percent_nat_american_beneficiaries]
Index: []

[0 rows x 33 columns]

##### Many are PO Boxes. I could change these to a nearby zip code (e.g. do zip+1) or drop these rows from Med.
##### For the integrity of my data, dropping from Medicare.

In [80]:
idx = med[med['five_digit_zip'].isin(missingzips)].index
med.drop(index = idx, inplace=True)

Dropping Rows from Census that don't appear in Medicare DF

In [81]:
idx = census[census.geo_id.isin(commonzips)].index
census = census.loc[idx]

Examining Nulls

In [82]:
info = pd.DataFrame(index=census.columns.values,
                    data={'data type': census.dtypes, \
                          'non-null values': census.notnull().sum(),
                          'unique values': census.nunique(), \
                          'null values': census.isnull().sum()})
info.sort_values('non-null values').head(30)

,data type,non-null values,unique values,null values
aggregate_travel_time_to_work,float64,8931,8535,943
median_rent,float64,9775,1457,99
renter_occupied_housing_units_paying_cash_median_gross_rent,float64,9776,1412,98
percent_income_spent_on_rent,float64,9782,371,92
owner_occupied_housing_units_upper_value_quartile,float64,9787,4184,87
owner_occupied_housing_units_lower_value_quartile,float64,9787,3215,87
owner_occupied_housing_units_median_value,float64,9787,3735,87
median_year_structure_built,float64,9819,68,55
median_income,float64,9820,8942,54
gini_index,float64,9822,2341,52
income_per_capita,float64,9856,8468,18
median_age,float64,9859,438,15
some_college_and_associates_degree,float64,9873,6008,1
not_us_citizen_pop,float64,9873,3404,1
different_house_year_ago_same_city,float64,9873,3235,1
population_1_year_and_over,float64,9873,8787,1
less_than_high_school_graduate,float64,9873,4023,1
different_house_year_ago_different_city,float64,9873,4296,1
graduate_professional_degree,float64,9873,3840,1
bachelors_degree_2,float64,9873,4988,1
high_school_including_ged,float64,9873,5864,1
commuters_drove_alone,int64,9874,7337,0
commuters_by_carpool,int64,9874,2623,0
commuters_by_subway_or_elevated,int64,9874,678,0
employed_finance_insurance_real_estate,int64,9874,2241,0
employed_arts_entertainment_recreation_accommodation_food,int64,9874,2636,0
employed_construction,int64,9874,1926,0
employed_education_health_social,int64,9874,4624,0
commuters_by_car_truck_van,int64,9874,7589,0
employed_information,int64,9874,1023,0

Some of these columns are irrelevant or are redundant.

In [83]:
cols_to_drop = ['aggregate_travel_time_to_work','owner_occupied_housing_units_lower_value_quartile',
'owner_occupied_housing_units_median_value','owner_occupied_housing_units_upper_value_quartile',
'renter_occupied_housing_units_paying_cash_median_gross_rent','median_year_structure_built']

census.drop(columns = cols_to_drop, inplace = True)

##### Many cols missing 113 values. Where are these zips?

In [84]:
null_zips = census[census.graduate_professional_degree.isnull()].geo_id
med[med.five_digit_zip.isin(null_zips)].state.value_counts()

OR    1
Name: state, dtype: int64

##### They're all in Puerto Rico (upon further exam, 'OR' is a typo). Education may be correlated with access to health care, so dropping these rows from Med.

In [85]:
idx = med[med.five_digit_zip.isin(null_zips)].index
med.drop(index = idx, inplace=True)

In [86]:
census = census[census.graduate_professional_degree.notnull()]

##### REEXAMINING CENSUS NULLS

In [87]:
info = pd.DataFrame(index=census.columns.values,
                    data={'data type': census.dtypes, \
                          'non-null values': census.notnull().sum(),
                          'unique values': census.nunique(), \
                          'null values': census.isnull().sum()})
info.sort_values('non-null values').head(30)

,data type,non-null values,unique values,null values
median_rent,float64,9775,1457,98
percent_income_spent_on_rent,float64,9782,371,91
median_income,float64,9820,8942,53
gini_index,float64,9822,2341,51
income_per_capita,float64,9855,8467,18
median_age,float64,9858,438,15
employed_transportation_warehousing_utilities,int64,9873,1635,0
bachelors_degree_or_higher_25_64,int64,9873,5620,0
children,int64,9873,6521,0
graduate_professional_degree,float64,9873,3840,0
four_more_cars,int64,9873,1453,0
children_in_single_female_hh,int64,9873,3316,0
commuters_by_bus,int64,9873,1389,0
commuters_by_car_truck_van,int64,9873,7589,0
commuters_by_carpool,int64,9873,2623,0
commuters_by_subway_or_elevated,int64,9873,678,0
commuters_drove_alone,int64,9873,7337,0
different_house_year_ago_different_city,float64,9873,4296,0
employed_wholesale_trade,int64,9873,1131,0
different_house_year_ago_same_city,float64,9873,3235,0
employed_arts_entertainment_recreation_accommodation_food,int64,9873,2636,0
female_female_households,int64,9873,198,0
employed_construction,int64,9873,1926,0
employed_education_health_social,int64,9873,4624,0
employed_finance_insurance_real_estate,int64,9873,2241,0
employed_information,int64,9873,1023,0
employed_manufacturing,int64,9873,2805,0
employed_other_services_not_public_admin,int64,9873,1632,0
employed_public_administration,int64,9873,1679,0
employed_retail_trade,int64,9873,2989,0

##### Median_rent may be important correlate to health care access so dropping zips that have null median_rent in Census DF from Med DF

In [88]:
null_zips = census[census.median_rent.isnull()].geo_id
med[med.five_digit_zip.isin(null_zips)].state.value_counts()

MN    157
NY     73
GA     72
CA     72
PA     48
WA     44
TX     30
MI     25
WI     23
TN     21
IA     19
MA      8
WV      8
WY      7
AZ      6
VA      6
SD      5
FL      5
MS      4
OH      4
CO      3
NC      3
NV      2
IN      2
RI      2
ND      2
CT      2
NJ      2
VT      2
NM      1
LA      1
DE      1
HI      1
KY      1
NE      1
MD      1
ME      1
OK      1
DC      1
AR      1
Name: state, dtype: int64

In [89]:
idx = med[med.five_digit_zip.isin(null_zips)].index
med.drop(index = idx, inplace=True)
census = census[census.median_rent.notnull()]

##### REEXAMINING NULLS

In [90]:
info = pd.DataFrame(index=census.columns.values,
                    data={'data type': census.dtypes, \
                          'non-null values': census.notnull().sum(),
                          'unique values': census.nunique(), \
                          'null values': census.isnull().sum()})
info.sort_values('non-null values').head(5)

,data type,non-null values,unique values,null values
percent_income_spent_on_rent,float64,9771,371,4
geo_id,object,9775,9775,0
bachelors_degree_or_higher_25_64,int64,9775,5614,0
children,int64,9775,6504,0
children_in_single_female_hh,int64,9775,3316,0

##### Percent Income on Rent may also be correlated to access to health care, so dropping zips from Med that have null in this columns in Census

In [91]:
null_zips = census[census.percent_income_spent_on_rent.isnull()].geo_id
med[med.five_digit_zip.isin(null_zips)].state.value_counts()

IN    3
NJ    1
SD    1
ND    1
Name: state, dtype: int64

In [92]:
idx = med[med.five_digit_zip.isin(null_zips)].index
med.drop(index = idx, inplace=True)
census = census[census.percent_income_spent_on_rent.notnull()]

In [93]:
info = pd.DataFrame(index=census.columns.values,
                    data={'data type': census.dtypes, \
                          'non-null values': census.notnull().sum(),
                          'unique values': census.nunique(), \
                          'null values': census.isnull().sum()})
info.sort_values('non-null values').head(5)

,data type,non-null values,unique values,null values
geo_id,object,9771,9771,0
bachelors_degree_or_higher_25_64,int64,9771,5614,0
children,int64,9771,6502,0
children_in_single_female_hh,int64,9771,3316,0
commuters_by_bus,int64,9771,1389,0

There's a column called do_date that includes the years used to make the estimate Census measures. I'm going to keep that last four digits which represent the year being estimated.

In [94]:
census.do_date = census.do_date.apply(lambda x: str(x)[-4:])
census.do_date = pd.to_datetime(census.do_date, format='%Y')
census.do_date

139     2012-01-01
218     2012-01-01
281     2012-01-01
288     2012-01-01
411     2012-01-01
           ...
33111   2012-01-01
33112   2012-01-01
33113   2012-01-01
33114   2012-01-01
33117   2012-01-01
Name: do_date, Length: 9771, dtype: datetime64[ns]

# Checking Data Types for Census and Med

In [95]:
census['geo_id'] = census['geo_id'].astype('str')

In [96]:
census.geo_id.apply(lambda x: len(x)).value_counts()

5    9771
Name: geo_id, dtype: int64

In [97]:
census['geo_id'] = census.geo_id.apply(lambda x: x.zfill(5))

In [98]:
census['geo_id'] = census['geo_id'].astype('int')

All columns in Census should be 'int' or 'float.' I want to see what is listed as object.

In [99]:
census.select_dtypes('object').head(1)

Empty DataFrame
Columns: []
Index: [139]

Checking Medicare DFs

In [100]:
print(med.select_dtypes('object').columns)

Index(['lastname', 'address', 'city', 'state', 'country', 'provider_type',
       'five_digit_zip', 'State Code', 'Region', 'Division',
       'doctor_category'],
      dtype='object')

In [101]:
med.five_digit_zip = med.five_digit_zip.astype('int')

In [102]:
med.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 39154 entries, 0 to 40706
Data columns (total 34 columns):
 #   Column                                    Non-Null Count  Dtype
---  ------                                    --------------  -----
 0   npi                                       39154 non-null  int64
 1   lastname                                  39154 non-null  object
 2   address                                   39154 non-null  object
 3   city                                      39154 non-null  object
 4   state                                     39154 non-null  object
 5   country                                   39154 non-null  object
 6   provider_type                             39154 non-null  object
 7   number_of_services                        39154 non-null  int64
 8   total_beneficiaries                       39154 non-null  int64
 9   total_submitted_charges                   39154 non-null  float64
 10  total_allowed_payment                     39154 non-null  float64
 11  total_medicare_payment                    39154 non-null  float64
 12  avg_beneficiary_age                       39154 non-null  int64
 13  number_female_beneficiaries               39154 non-null  float64
 14  number_male_beneficiaries                 39154 non-null  float64
 15  number_white_beneficiaries                39154 non-null  float64
 16  number_black_beneficiaries                39154 non-null  float64
 17  number_asian_pac_islander_beneficiaries   39154 non-null  float64
 18  number_hispanic_beneficiaries             39154 non-null  float64
 19  number_nat_american_beneficiaries         39154 non-null  float64
 20  number_race_unknown                       39154 non-null  float64
 21  avg_hcc_risk_score                        39154 non-null  float64
 22  five_digit_zip                            39154 non-null  int64
 23  State Code                                39154 non-null  object
 24  Region                                    39154 non-null  object
 25  Division                                  39154 non-null  object
 26  doctor_category                           39154 non-null  object
 27  percent_female_beneficiaries              39154 non-null  float64
 28  percent_male_beneficiaries                39154 non-null  float64
 29  percent_white_beneficiaries               39154 non-null  float64
 30  percent_black_beneficiaries               39154 non-null  float64
 31  percent_asian_pac_islander_beneficiaries  39154 non-null  float64
 32  percent_hispanic_beneficiaries            39154 non-null  float64
 33  percent_nat_american_beneficiaries        39154 non-null  float64
dtypes: float64(19), int64(5), object(10)
memory usage: 10.5+ MB

In [103]:
checkpoint8 = med.copy()

# Examining Dropped Zips

In [114]:
list(census.columns)

['geo_id',
 'nonfamily_households',
 'family_households',
 'rent_burden_not_computed',
 'rent_over_50_percent',
 'rent_40_to_50_percent',
 'rent_35_to_40_percent',
 'rent_30_to_35_percent',
 'rent_25_to_30_percent',
 'rent_20_to_25_percent',
 'rent_15_to_20_percent',
 'rent_10_to_15_percent',
 'rent_under_10_percent',
 'total_pop',
 'male_pop',
 'female_pop',
 'median_age',
 'white_pop',
 'black_pop',
 'asian_pop',
 'hispanic_pop',
 'amerindian_pop',
 'other_race_pop',
 'two_or_more_races_pop',
 'not_hispanic_pop',
 'commuters_by_public_transportation',
 'households',
 'median_income',
 'income_per_capita',
 'housing_units',
 'vacant_housing_units',
 'vacant_housing_units_for_rent',
 'vacant_housing_units_for_sale',
 'median_rent',
 'percent_income_spent_on_rent',
 'owner_occupied_housing_units',
 'million_dollar_housing_units',
 'mortgaged_housing_units',
 'families_with_young_children',
 'two_parent_families_with_young_children',
 'two_parents_in_labor_force_families_with_young_children',
 'two_parents_father_in_labor_force_families_with_young_children',
 'two_parents_mother_in_labor_force_families_with_young_children',
 'two_parents_not_in_labor_force_families_with_young_children',
 'one_parent_families_with_young_children',
 'father_one_parent_families_with_young_children',
 'father_in_labor_force_one_parent_families_with_young_children',
 'commute_10_14_mins',
 'commute_15_19_mins',
 'commute_20_24_mins',
 'commute_25_29_mins',
 'commute_30_34_mins',
 'commute_45_59_mins',
 'income_less_10000',
 'income_10000_14999',
 'income_15000_19999',
 'income_20000_24999',
 'income_25000_29999',
 'income_30000_34999',
 'income_35000_39999',
 'income_40000_44999',
 'income_45000_49999',
 'income_50000_59999',
 'income_60000_74999',
 'income_75000_99999',
 'income_100000_124999',
 'income_125000_149999',
 'income_150000_199999',
 'income_200000_or_more',
 'married_households',
 'occupied_housing_units',
 'housing_units_renter_occupied',
 'dwellings_1_units_detached',
 'dwellings_1_units_attached',
 'dwellings_2_units',
 'dwellings_3_to_4_units',
 'dwellings_5_to_9_units',
 'dwellings_10_to_19_units',
 'dwellings_20_to_49_units',
 'dwellings_50_or_more_units',
 'mobile_homes',
 'housing_built_2005_or_later',
 'housing_built_2000_to_2004',
 'housing_built_1939_or_earlier',
 'male_under_5',
 'male_5_to_9',
 'male_10_to_14',
 'male_15_to_17',
 'male_18_to_19',
 'male_20',
 'male_21',
 'male_22_to_24',
 'male_25_to_29',
 'male_30_to_34',
 'male_35_to_39',
 'male_40_to_44',
 'male_45_to_49',
 'male_50_to_54',
 'male_55_to_59',
 'male_60_61',
 'male_62_64',
 'male_65_to_66',
 'male_67_to_69',
 'male_70_to_74',
 'male_75_to_79',
 'male_80_to_84',
 'male_85_and_over',
 'female_under_5',
 'female_5_to_9',
 'female_10_to_14',
 'female_15_to_17',
 'female_18_to_19',
 'female_20',
 'female_21',
 'female_22_to_24',
 'female_25_to_29',
 'female_30_to_34',
 'female_35_to_39',
 'female_40_to_44',
 'female_45_to_49',
 'female_50_to_54',
 'female_55_to_59',
 'female_60_to_61',
 'female_62_to_64',
 'female_65_to_66',
 'female_67_to_69',
 'female_70_to_74',
 'female_75_to_79',
 'female_80_to_84',
 'female_85_and_over',
 'white_including_hispanic',
 'black_including_hispanic',
 'amerindian_including_hispanic',
 'asian_including_hispanic',
 'commute_5_9_mins',
 'commute_35_39_mins',
 'commute_40_44_mins',
 'commute_60_89_mins',
 'commute_90_more_mins',
 'households_retirement_income',
 'armed_forces',
 'civilian_labor_force',
 'employed_pop',
 'unemployed_pop',
 'not_in_labor_force',
 'pop_16_over',
 'pop_in_labor_force',
 'asian_male_45_54',
 'asian_male_55_64',
 'black_male_45_54',
 'black_male_55_64',
 'hispanic_male_45_54',
 'hispanic_male_55_64',
 'white_male_45_54',
 'white_male_55_64',
 'bachelors_degree_2',
 'bachelors_degree_or_higher_25_64',
 'children',
 'children_in_single_female_hh',
 'commuters_by_bus',
 'commuters_by_car_truck_van',
 'commuters_by_carpool',
 'commuters_by_subway_or_elevated',
 'commuters_drove_alone',
 'different_house_year_ago_different_city',
 'different_house_year_ago_same_city',
 'employed_agriculture_forestry_fishing_hunting_mining',
 'employed_arts_entertainment_recreation_accommodation_food',
 'employed_construction',
 'employed_education_health_social',
 'employed_finance_insurance_real_estate',
 'employed_information',
 'employed_manufacturing',
 'employed_other_services_not_public_admin',
 'employed_public_administration',
 'employed_retail_trade',
 'employed_science_management_admin_waste',
 'employed_transportation_warehousing_utilities',
 'employed_wholesale_trade',
 'female_female_households',
 'four_more_cars',
 'gini_index',
 'graduate_professional_degree',
 'group_quarters',
 'high_school_including_ged',
 'households_public_asst_or_food_stamps',
 'in_grades_1_to_4',
 'in_grades_5_to_8',
 'in_grades_9_to_12',
 'in_school',
 'in_undergrad_college',
 'less_than_high_school_graduate',
 'male_45_64_associates_degree',
 'male_45_64_bachelors_degree',
 'male_45_64_graduate_degree',
 'male_45_64_less_than_9_grade',
 'male_45_64_grade_9_12',
 'male_45_64_high_school',
 'male_45_64_some_college',
 'male_45_to_64',
 'male_male_households',
 'management_business_sci_arts_employed',
 'no_car',
 'no_cars',
 'not_us_citizen_pop',
 'occupation_management_arts',
 'occupation_natural_resources_construction_maintenance',
 'occupation_production_transportation_material',
 'occupation_sales_office',
 'occupation_services',
 'one_car',
 'two_cars',
 'three_cars',
 'pop_25_64',
 'pop_determined_poverty_status',
 'population_1_year_and_over',
 'population_3_years_over',
 'poverty',
 'sales_office_employed',
 'some_college_and_associates_degree',
 'walked_to_work',
 'worked_at_home',
 'workers_16_and_over',
 'associates_degree',
 'bachelors_degree',
 'high_school_diploma',
 'less_one_year_college',
 'masters_degree',
 'one_year_more_college',
 'pop_25_years_over',
 'commute_35_44_mins',
 'commute_60_more_mins',
 'commute_less_10_mins',
 'commuters_16_over',
 'hispanic_any_race',
 'pop_5_years_over',
 'speak_only_english_at_home',
 'speak_spanish_at_home',
 'speak_spanish_at_home_low_english',
 'pop_15_and_over',
 'pop_never_married',
 'pop_now_married',
 'pop_separated',
 'pop_widowed',
 'pop_divorced',
 'do_date']

i think 'pop_determined_poverty_status' means population for whom poverty status was determined

In [127]:
temp = pd.read_csv('../../data/raw/2012census.csv').drop(index=census.index)

In [135]:
print('Median and mean black pop of dropped zips:',temp.black_pop.median(),',', temp.black_pop.mean())
print('Median and mean black pop of Census zips:',census.black_pop.median(),',', census.black_pop.mean())

Median and mean black pop of dropped zips: 3.0 , 551.2195383099919
Median and mean black pop of Census zips: 525.0 , 2550.1550506601166

In [139]:
print('Median and mean white_pop of dropped zips:',temp.white_pop.median(),',', temp.white_pop.mean())
print('Median and mean white_pop of Census zips:',census.white_pop.median(),',', census.white_pop.mean())

Median and mean white_pop of dropped zips: 1068.0 , 2955.616514625894
Median and mean white_pop of Census zips: 10730.0 , 13091.269675570566

In [141]:
print('Median and mean total_pop of dropped zips:',temp.total_pop.median(),',', temp.total_pop.mean())
print('Median and mean total_pop of Census zips:',census.total_pop.median(),',', census.total_pop.mean())

Median and mean total_pop of dropped zips: 1364.0 , 4786.605464902137
Median and mean total_pop of Census zips: 17153.0 , 20578.727970525022

In [140]:
print('Median and mean median income of dropped zips:',temp.median_income.median(),',', temp.median_income.mean())
print('Median and mean median_income of Census zips:',census.median_income.median(),',', census.median_income.mean())

Median and mean median income of dropped zips: 46431.5 , 50255.67388790035
Median and mean median_income of Census zips: 49629.0 , 55241.93931020366

In [142]:
temppr = (temp.poverty/temp.pop_determined_poverty_status)
censuspr = (census.poverty/census.pop_determined_poverty_status)
print('Median and mean poverty_rate of dropped zips:',temppr.median(),',', temppr.mean())
print('Median and mean poverty_rate of Census zips:',censuspr.median(),',', censuspr.mean())

Median and mean poverty_rate of dropped zips: 0.12253233492171545 , 0.15137878656401693
Median and mean poverty_rate of Census zips: 0.12711339293617774 , 0.14705184676659705

In [149]:
pd.merge(census, med, how='inner', left_on='geo_id',right_on='five_digit_zip').state.value_counts().head(10)

NY    3059
CA    3045
PA    2367
IL    1883
NJ    1788
TX    1783
FL    1622
OH    1368
MI    1139
MA    1041
Name: state, dtype: int64

In [148]:
med.state.value_counts().head(10)

NY    3059
CA    3045
PA    2367
IL    1883
NJ    1788
TX    1783
FL    1622
OH    1368
MI    1139
MA    1041
Name: state, dtype: int64

# For modeling purposes, I want to aggregate the Med data by zip code before I merge with Census.

#### I want to aggregate the provider_type and doctor_category for each zip first.

In [540]:
med = pd.get_dummies(med, columns = ['doctor_category', 'provider_type'])

In [541]:
med.columns = med.columns.str.replace(' ', '_')

In [543]:
list(med.columns)

['npi',
 'lastname',
 'address',
 'city',
 'state',
 'country',
 'number_of_services',
 'total_beneficiaries',
 'total_submitted_charges',
 'total_allowed_payment',
 'total_medicare_payment',
 'avg_beneficiary_age',
 'number_female_beneficiaries',
 'number_male_beneficiaries',
 'number_white_beneficiaries',
 'number_black_beneficiaries',
 'number_asian_pac_islander_beneficiaries',
 'number_hispanic_beneficiaries',
 'number_nat_american_beneficiaries',
 'number_race_unknown',
 'avg_hcc_risk_score',
 'five_digit_zip',
 'State_Code',
 'Region',
 'Division',
 'percent_female_beneficiaries',
 'percent_male_beneficiaries',
 'percent_white_beneficiaries',
 'percent_black_beneficiaries',
 'percent_asian_pac_islander_beneficiaries',
 'percent_hispanic_beneficiaries',
 'percent_nat_american_beneficiaries',
 'doctor_category_General_Medicine_Pracitioner',
 'doctor_category_Medical_Specialists',
 'doctor_category_Mental_Health_Providers',
 'doctor_category_Other_Health_Services',
 'doctor_category_Other_Specialists',
 'doctor_category_Surgery_Specialists',
 'provider_type_Addiction_Medicine',
 'provider_type_All_Other_Suppliers',
 'provider_type_Allergy/Immunology',
 'provider_type_Ambulance_Service_Supplier',
 'provider_type_Ambulatory_Surgical_Center',
 'provider_type_Anesthesiologist_Assistants',
 'provider_type_Anesthesiology',
 'provider_type_Audiologist_(billing_independently)',
 'provider_type_CRNA',
 'provider_type_Cardiac_Electrophysiology',
 'provider_type_Cardiac_Surgery',
 'provider_type_Cardiology',
 'provider_type_Certified_Clinical_Nurse_Specialist',
 'provider_type_Certified_Nurse_Midwife',
 'provider_type_Chiropractic',
 'provider_type_Clinical_Laboratory',
 'provider_type_Clinical_Psychologist',
 'provider_type_Colorectal_Surgery_(formerly_proctology)',
 'provider_type_Critical_Care_(Intensivists)',
 'provider_type_Dermatology',
 'provider_type_Diagnostic_Radiology',
 'provider_type_Emergency_Medicine',
 'provider_type_Endocrinology',
 'provider_type_Family_Practice',
 'provider_type_Gastroenterology',
 'provider_type_General_Practice',
 'provider_type_General_Surgery',
 'provider_type_Geriatric_Medicine',
 'provider_type_Geriatric_Psychiatry',
 'provider_type_Gynecological/Oncology',
 'provider_type_Hand_Surgery',
 'provider_type_Hematology',
 'provider_type_Hematology/Oncology',
 'provider_type_Hospice_and_Palliative_Care',
 'provider_type_Independent_Diagnostic_Testing_Facility',
 'provider_type_Infectious_Disease',
 'provider_type_Internal_Medicine',
 'provider_type_Interventional_Pain_Management',
 'provider_type_Interventional_Radiology',
 'provider_type_Licensed_Clinical_Social_Worker',
 'provider_type_Mammographic_Screening_Center',
 'provider_type_Mass_Immunization_Roster_Biller',
 'provider_type_Maxillofacial_Surgery',
 'provider_type_Medical_Oncology',
 'provider_type_Multispecialty_Clinic/Group_Practice',
 'provider_type_Nephrology',
 'provider_type_Neurology',
 'provider_type_Neuropsychiatry',
 'provider_type_Neurosurgery',
 'provider_type_Nuclear_Medicine',
 'provider_type_Nurse_Practitioner',
 'provider_type_Obstetrics/Gynecology',
 'provider_type_Occupational_therapist',
 'provider_type_Ophthalmology',
 'provider_type_Optometry',
 'provider_type_Oral_Surgery_(dentists_only)',
 'provider_type_Orthopedic_Surgery',
 'provider_type_Osteopathic_Manipulative_Medicine',
 'provider_type_Otolaryngology',
 'provider_type_Pain_Management',
 'provider_type_Pathology',
 'provider_type_Pediatric_Medicine',
 'provider_type_Peripheral_Vascular_Disease',
 'provider_type_Pharmacy',
 'provider_type_Physical_Medicine_and_Rehabilitation',
 'provider_type_Physical_Therapist',
 'provider_type_Physician_Assistant',
 'provider_type_Plastic_and_Reconstructive_Surgery',
 'provider_type_Podiatry',
 'provider_type_Portable_X-ray',
 'provider_type_Preventive_Medicine',
 'provider_type_Psychiatry',
 'provider_type_Psychologist_(billing_independently)',
 'provider_type_Public_Health_Welfare_Agency',
 'provider_type_Pulmonary_Disease',
 'provider_type_Radiation_Oncology',
 'provider_type_Radiation_Therapy',
 'provider_type_Registered_Dietician/Nutrition_Professional',
 'provider_type_Rheumatology',
 'provider_type_Slide_Preparation_Facility',
 'provider_type_Speech_Language_Pathologist',
 'provider_type_Sports_Medicine',
 'provider_type_Surgical_Oncology',
 'provider_type_Thoracic_Surgery',
 'provider_type_Unknown_Physician_Specialty_Code',
 'provider_type_Unknown_Supplier/Provider',
 'provider_type_Urology',
 'provider_type_Vascular_Surgery']

In [549]:
grouping = med.groupby('five_digit_zip').agg(
    {'npi':'count',
 'city':lambda x:x.value_counts().index[0],
 'state':lambda x:x.value_counts().index[0],
 'number_of_services':'sum',
 'total_beneficiaries':'sum',
 'total_submitted_charges':'sum',
 'total_allowed_payment':'sum',
 'total_medicare_payment':'sum',
 'avg_beneficiary_age':'mean',
 'number_female_beneficiaries':'sum',
 'number_male_beneficiaries':'sum',
 'number_white_beneficiaries':'sum',
 'number_black_beneficiaries':'sum',
 'number_asian_pac_islander_beneficiaries':'sum',
 'number_hispanic_beneficiaries':'sum',
 'number_nat_american_beneficiaries':'sum',
 'number_race_unknown':'sum',
 'avg_hcc_risk_score':'mean',
 'Region':lambda x:x.value_counts().index[0],
 'Division':lambda x:x.value_counts().index[0],
 'percent_female_beneficiaries':'mean',
 'percent_male_beneficiaries':'mean',
 'percent_white_beneficiaries':'mean',
 'percent_black_beneficiaries':'mean',
 'percent_asian_pac_islander_beneficiaries':'mean',
 'percent_hispanic_beneficiaries':'mean',
 'percent_nat_american_beneficiaries':'mean',
 'doctor_category_General_Medicine_Pracitioner':'sum',
 'doctor_category_Medical_Specialists':'sum',
 'doctor_category_Mental_Health_Providers':'sum',
 'doctor_category_Other_Health_Services':'sum',
 'doctor_category_Other_Specialists':'sum',
 'doctor_category_Surgery_Specialists':'sum',
 'provider_type_Addiction_Medicine':'sum',
 'provider_type_All_Other_Suppliers':'sum',
 'provider_type_Allergy/Immunology':'sum',
 'provider_type_Ambulance_Service_Supplier':'sum',
 'provider_type_Ambulatory_Surgical_Center':'sum',
 'provider_type_Anesthesiologist_Assistants':'sum',
 'provider_type_Anesthesiology':'sum',
 'provider_type_Audiologist_(billing_independently)':'sum',
 'provider_type_CRNA':'sum',
 'provider_type_Cardiac_Electrophysiology':'sum',
 'provider_type_Cardiac_Surgery':'sum',
 'provider_type_Cardiology':'sum',
 'provider_type_Certified_Clinical_Nurse_Specialist':'sum',
 'provider_type_Certified_Nurse_Midwife':'sum',
 'provider_type_Chiropractic':'sum',
 'provider_type_Clinical_Laboratory':'sum',
 'provider_type_Clinical_Psychologist':'sum',
 'provider_type_Colorectal_Surgery_(formerly_proctology)':'sum',
 'provider_type_Critical_Care_(Intensivists)':'sum',
 'provider_type_Dermatology':'sum',
 'provider_type_Diagnostic_Radiology':'sum',
 'provider_type_Emergency_Medicine':'sum',
 'provider_type_Endocrinology':'sum',
 'provider_type_Family_Practice':'sum',
 'provider_type_Gastroenterology':'sum',
 'provider_type_General_Practice':'sum',
 'provider_type_General_Surgery':'sum',
 'provider_type_Geriatric_Medicine':'sum',
 'provider_type_Geriatric_Psychiatry':'sum',
 'provider_type_Gynecological/Oncology':'sum',
 'provider_type_Hand_Surgery':'sum',
 'provider_type_Hematology':'sum',
 'provider_type_Hematology/Oncology':'sum',
 'provider_type_Hospice_and_Palliative_Care':'sum',
 'provider_type_Independent_Diagnostic_Testing_Facility':'sum',
 'provider_type_Infectious_Disease':'sum',
 'provider_type_Internal_Medicine':'sum',
 'provider_type_Interventional_Pain_Management':'sum',
 'provider_type_Interventional_Radiology':'sum',
 'provider_type_Licensed_Clinical_Social_Worker':'sum',
 'provider_type_Mammographic_Screening_Center':'sum',
 'provider_type_Mass_Immunization_Roster_Biller':'sum',
 'provider_type_Maxillofacial_Surgery':'sum',
 'provider_type_Medical_Oncology':'sum',
 'provider_type_Multispecialty_Clinic/Group_Practice':'sum',
 'provider_type_Nephrology':'sum',
 'provider_type_Neurology':'sum',
 'provider_type_Neuropsychiatry':'sum',
 'provider_type_Neurosurgery':'sum',
 'provider_type_Nuclear_Medicine':'sum',
 'provider_type_Nurse_Practitioner':'sum',
 'provider_type_Obstetrics/Gynecology':'sum',
 'provider_type_Occupational_therapist':'sum',
 'provider_type_Ophthalmology':'sum',
 'provider_type_Optometry':'sum',
 'provider_type_Oral_Surgery_(dentists_only)':'sum',
 'provider_type_Orthopedic_Surgery':'sum',
 'provider_type_Osteopathic_Manipulative_Medicine':'sum',
 'provider_type_Otolaryngology':'sum',
 'provider_type_Pain_Management':'sum',
 'provider_type_Pathology':'sum',
 'provider_type_Pediatric_Medicine':'sum',
 'provider_type_Peripheral_Vascular_Disease':'sum',
 'provider_type_Pharmacy':'sum',
 'provider_type_Physical_Medicine_and_Rehabilitation':'sum',
 'provider_type_Physical_Therapist':'sum',
 'provider_type_Physician_Assistant':'sum',
 'provider_type_Plastic_and_Reconstructive_Surgery':'sum',
 'provider_type_Podiatry':'sum',
 'provider_type_Portable_X-ray':'sum',
 'provider_type_Preventive_Medicine':'sum',
 'provider_type_Psychiatry':'sum',
 'provider_type_Psychologist_(billing_independently)':'sum',
 'provider_type_Public_Health_Welfare_Agency':'sum',
 'provider_type_Pulmonary_Disease':'sum',
 'provider_type_Radiation_Oncology':'sum',
 'provider_type_Radiation_Therapy':'sum',
 'provider_type_Registered_Dietician/Nutrition_Professional':'sum',
 'provider_type_Rheumatology':'sum',
 'provider_type_Slide_Preparation_Facility':'sum',
 'provider_type_Speech_Language_Pathologist':'sum',
 'provider_type_Sports_Medicine':'sum',
 'provider_type_Surgical_Oncology':'sum',
 'provider_type_Thoracic_Surgery':'sum',
 'provider_type_Unknown_Physician_Specialty_Code':'sum',
 'provider_type_Unknown_Supplier/Provider':'sum',
 'provider_type_Urology':'sum',
 'provider_type_Vascular_Surgery':'sum'})

In [550]:
grouping

,npi,city,state,number_of_services,total_beneficiaries,total_submitted_charges,total_allowed_payment,total_medicare_payment,avg_beneficiary_age,number_female_beneficiaries,...,provider_type_Rheumatology,provider_type_Slide_Preparation_Facility,provider_type_Speech_Language_Pathologist,provider_type_Sports_Medicine,provider_type_Surgical_Oncology,provider_type_Thoracic_Surgery,provider_type_Unknown_Physician_Specialty_Code,provider_type_Unknown_Supplier/Provider,provider_type_Urology,provider_type_Vascular_Surgery
five_digit_zip,,,,,,,,,,,,,,,,,,,,,
1002,2,AMHERST,MA,1332,568,196665.40,108362.40,70359.63,61.000,317.0,...,0,0,0,0,0,0,0,0,0,0
1007,1,BELCHERTOWN,MA,1019,57,37605.00,36402.60,28604.35,71.000,31.0,...,0,0,0,0,0,0,0,0,0,0
1020,5,CHICOPEE,MA,28707,9873,2929433.00,1113532.25,919326.80,65.800,7324.0,...,0,0,0,0,0,0,0,0,0,0
1030,1,FEEDING HILLS,MA,530,57,28870.00,16229.07,12100.83,72.000,36.0,...,0,0,0,0,0,0,0,0,0,0
1031,1,GILBERTVILLE,MA,1057,51,89758.00,35437.98,28350.52,69.000,27.0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99801,4,JUNEAU,AK,3305,1362,679950.03,148833.31,109116.49,68.750,861.0,...,0,0,0,0,0,0,0,0,0,0
99830,1,KAKE,AK,114,83,13885.00,4109.51,3119.76,73.000,53.0,...,0,0,0,0,0,0,0,0,0,0
99835,8,SITKA,AK,8712,721,951043.37,551703.34,434108.97,70.625,388.0,...,0,0,0,0,0,0,0,0,0,0
99901,1,KETCHIKAN,AK,902,51,62934.11,49889.97,39800.00,72.000,29.0,...,0,0,0,0,0,0,0,0,0,0
99925,1,KLAWOCK,AK,49,39,8535.42,4760.98,3472.86,72.000,20.0,...,0,0,0,0,0,0,0,0,0,0

merged = med.merge(census, left_on='five_digit_zip', right_on='geo_id', how='left')

#saving census medicare merged
merged.to_csv('../../data/processed/2012MEDICARECENSUS.csv')

In [72]:
med.state.unique()

array(['NY', 'MI', 'ME', 'NV', 'IA', 'ND', 'MD', 'PA', 'FL', 'MO', 'IL',
       'CO', 'KY', 'NC', 'VA', 'IN', 'TX', 'NJ', 'CA', 'WI', 'MA', 'TN',
       'AR', 'MS', 'SD', 'NE', 'WY', 'WA', 'AL', 'MN', 'NM', 'OH', 'GA',
       'OR', 'ID', 'WV', 'LA', 'NH', 'AZ', 'OK', 'UT', 'CT', 'DC', 'SC',
       'AK', 'HI', 'MT', 'KS', 'RI', 'VT', 'DE'], dtype=object)

In [73]:
med.city

0                NEW YORK
1                BROOKLYN
2        SARATOGA SPRINGS
3                NEW YORK
4                NEW YORK
               ...
40702          WILMINGTON
40703          WILMINGTON
40704           HOCKESSIN
40705               DOVER
40706              NEWARK
Name: city, Length: 39829, dtype: object